In [1]:
import pandas as pd
from pandas import DataFrame
import numpy as np  
from pandas import Series

In [177]:
#《No.1 military medical project》table 4.1 DIAGNOSIS_DICT 
DIAGNOSIS_DICT = pd.read_csv('F:/data/input/DIAGNOSIS_DICT.tsv', sep='\t')

In [178]:
print(DIAGNOSIS_DICT)

         DIAGNOSIS_CODE DIAGNOSIS_NAME  STD_INDICATOR  APPROVED_INDICATOR  \
0               Z99.201   肾脏透析(CAPD)状态              1                   1
1               Z99.101        依赖于呼吸器者              1                   1
2               Z98.881       皮肤恶性肿瘤术后              1                   1
3               Z98.880         心肺复苏术后              1                   1
4               Z98.879          鼻整形术后              1                   1
5               Z98.878        头面部肿瘤术后              1                   1
6               Z98.877           吸脂术后              1                   1
7               Z98.875        肾结石碎石术后              1                   1
8               Z98.874        脊柱内固定术后              1                   1
9               Z98.873    支气管动脉栓塞治疗术后              1                   1
10              Z98.872         阑尾切除术后              1                   1
11              Z98.871       胸腔肿瘤切除术后              1                   1
12              Z98.870          鼻窦癌术后              1                   1
13              Z98.869         输卵管癌术后              1                   1
14              Z98.868           引产术后              1                   1
15              Z98.867          胆囊癌术后              1                   1
16              Z98.866          胰腺炎术后              1                   1
17              Z98.865          腮腺癌术后              1                   1
18              Z98.864         食道旷置术后              1                   1
19              Z98.863        肝介入治疗术后              1                   1
20              Z98.862        子宫颈肿瘤术后              1                   1
21              Z98.861         子宫肿瘤术后              1                   1
22              Z98.860           开颅术后              1                   1
23              Z98.859          剖宫产术后              1                   1
24              Z98.858       食管支架植入术后              1                   1
25              Z98.857           唇癌术后              1                   1
26              Z98.856      回盲部肿瘤切除术后              1                   1
27              Z98.855         颌下腺癌术后              1                   1
28              Z98.854       风湿性心脏病术后              1                   1
29              Z98.853         颅咽管瘤术后              1                   1
...                 ...            ...            ...                 ...
16040           A03.802         菌痢混合感染              1                   1
16041           A03.801       不定型志贺菌痢疾              1                   1
16042           A03.301       宋内氏志贺菌痢疾              1                   1
16043           A03.201        鲍氏志贺菌痢疾              1                   1
16044           A03.101        福氏志贺菌痢疾              1                   1
16045           A03.001       什密氏志贺菌痢疾              1                   1
16046           A02.903      鼠伤寒沙门氏菌感染              1                   1
16047           A02.902      沙门氏菌属食物中毒              1                   1
16048           A02.901         沙门氏菌感染              1                   1
16049  A02.202+J17.001*        沙门氏菌性肺炎              1                   1
16050  A02.201+G01  01*       沙门氏菌性脑膜炎              1                   1
16051           A02.102     沙门氏菌鼠伤寒败血症              1                   1
16052           A02.101        沙门氏菌败血症              1                   1
16053           A02.009    沙门氏菌伦敦血清型肠炎              1                   1
16054           A02.008      阿哥拉沙门氏菌肠炎              1                   1
16055           A02.007       C群沙门氏菌肠炎              1                   1
16056           A02.006       B群沙门氏菌肠炎              1                   1
16057           A02.005       婴儿沙门氏菌肠炎              1                   1
16058           A02.004         沙门氏菌肠炎              1                   1
16059           A02.003       沙门氏菌肠道感染              1                   1
16060           A02.002      鼠伤寒沙门氏菌肠炎              1                   1
16061           A02.001        沙门氏菌胃肠炎              1                   1
16062           A01.401            副伤寒              1                   1
16063           A01.301           副伤寒丙              1                   1
16064           A01.201           副伤寒乙              1                   1
16065           A01.101           副伤寒甲              1                   1
16066           A01.001             伤寒              1                   1
16067           A00.901             霍乱              1                   1
16068           A00.101      副霍乱埃尔托生物型              1                   1
16069           A00.001          霍乱古典型              1                   1

      CREATE_DATE INPUT_CODE  INPUT_CODE_WB  DIAGNOSIS_DICT  DISEASE_SORT  \
0       29-9月 -15   SZTXCAPD            NaN             NaN           NaN
1       29-9月 -15    YLYHXQZ            NaN             NaN           NaN
2       29-9月 -15   PFEXZLSH            NaN             NaN           NaN
3       29-9月 -15     XFFSSH            NaN             NaN           NaN
4       29-9月 -15      BZXSH            NaN             NaN           NaN
5       29-9月 -15    TMBZLSH            NaN             NaN           NaN
6       29-9月 -15       XZSH            NaN             NaN           NaN
7       29-9月 -15    SJSSSSH            NaN             NaN           NaN
8       29-9月 -15    JZNGDSH            NaN             NaN           NaN
9       29-9月 -15   ZQGDMSSZ            NaN             NaN           NaN
10      29-9月 -15     LWQCSH            NaN             NaN           NaN
11      29-9月 -15   XQZLQCSH            NaN             NaN           NaN
12      29-9月 -15      BDASH            NaN             NaN           NaN
13      29-9月 -15     SLGASH            NaN             NaN           NaN
14      29-9月 -15       YCSH            NaN             NaN           NaN
15      29-9月 -15      DNASH            NaN             NaN           NaN
16      29-9月 -15      YXYSH            NaN             NaN           NaN
17      29-9月 -15      SXASH            NaN             NaN           NaN
18      29-9月 -15     SDKZSH            NaN             NaN           NaN
19      29-9月 -15    GJRZLSH            NaN             NaN           NaN
20      29-9月 -15    ZGJZLSH            NaN             NaN           NaN
21      29-9月 -15     ZGZLSH            NaN             NaN           NaN
22      29-9月 -15       KLSH            NaN             NaN           NaN
23      29-9月 -15      PGCSH            NaN             NaN           NaN
24      29-9月 -15   SGZJZRSH            NaN             NaN           NaN
25      29-9月 -15       CASH            NaN             NaN           NaN
26      29-9月 -15   HMBZLQCS            NaN             NaN           NaN
27      29-9月 -15     HXXASH            NaN             NaN           NaN
28      29-9月 -15   FSXXZBSH            NaN             NaN           NaN
29      29-9月 -15     LYGLSH            NaN             NaN           NaN
...           ...        ...            ...             ...           ...
16040   29-9月 -15     JLHHGR            NaN             NaN           NaN
16041   29-9月 -15   BDXZHJLJ            NaN             NaN           NaN
16042   29-9月 -15   SNSZHJLJ            NaN             NaN           NaN
16043   29-9月 -15    BSZHJLJ            NaN             NaN           NaN
16044   29-9月 -15    FSZHJLJ            NaN             NaN           NaN
16045   29-9月 -15   SMSZHJLJ            NaN             NaN           NaN
16046   29-9月 -15   SSHSMSJG            NaN             NaN           NaN
16047   29-9月 -15   SMSJSSWZ            NaN             NaN           NaN
16048   29-9月 -15     SMSJGR            NaN             NaN           NaN
16049   29-9月 -15    SMSJXFY            NaN             NaN           NaN
16050   29-9月 -15   SMSJXNMY            NaN             NaN           NaN
16051   29-9月 -15   SMSJSSHB            NaN             NaN           NaN
16052   29-9月 -15    SMSJBXZ            NaN             NaN           NaN
16053   29-9月 -15   SMSJLDXQ            NaN             NaN           NaN
16054   29-9月 -15   AGLSMSJC            NaN             NaN           NaN
16055   29-9月 -15   CQSMSJCY            NaN             NaN           NaN
16056   29-9月 -15   BQSMSJCY            NaN             NaN           NaN
16057   29-9月 -15   YESMSJCY            NaN             NaN           NaN
16058   29-9月 -15     SMSJCY            NaN             NaN           NaN
16059   29-9月 -15   SMSJCDGR            NaN             NaN           NaN
16060   29-9月 -15   SSHSMSJC            NaN             NaN           NaN
16061   29-9月 -15    SMSJWCY            NaN             NaN           NaN
16062   29-9月 -15        FSH            NaN             NaN           NaN
16063   29-9月 -15       FSHB            NaN             NaN           NaN
16064   29-9月 -15       FSHY            NaN             NaN           NaN
16065   29-9月 -15       FSHJ            NaN             NaN           NaN
16066   29-9月 -15         SH            NaN             NaN           NaN
16067   29-9月 -15         HL            NaN             NaN           NaN
16068   29-9月 -15   FHLAETSW            NaN             NaN           NaN
16069   29-9月 -15      HLGDX            NaN             NaN           NaN

      CODE_VERSION
0         ICD10_15
1         ICD10_15
2         ICD10_15
3         ICD10_15
4         ICD10_15
5         ICD10_15
6         ICD10_15
7         ICD10_15
8         ICD10_15
9         ICD10_15
10        ICD10_15
11        ICD10_15
12        ICD10_15
13        ICD10_15
14        ICD10_15
15        ICD10_15
16        ICD10_15
17        ICD10_15
18        ICD10_15
19        ICD10_15
20        ICD10_15
21        ICD10_15
22        ICD10_15
23        ICD10_15
24        ICD10_15
25        ICD10_15
26        ICD10_15
27        ICD10_15
28        ICD10_15
29        ICD10_15
...            ...
16040     ICD10_15
16041     ICD10_15
16042     ICD10_15
16043     ICD10_15
16044     ICD10_15
16045     ICD10_15
16046     ICD10_15
16047     ICD10_15
16048     ICD10_15
16049     ICD10_15
16050     ICD10_15
16051     ICD10_15
16052     ICD10_15
16053     ICD10_15
16054     ICD10_15
16055     ICD10_15
16056     ICD10_15
16057     ICD10_15
16058     ICD10_15
16059     ICD10_15
16060     ICD10_15
16061     ICD10_15
16062     ICD10_15
16063     ICD10_15
16064     ICD10_15
16065     ICD10_15
16066     ICD10_15
16067     ICD10_15
16068     ICD10_15
16069     ICD10_15

[16070 rows x 10 columns]

In [183]:
# 《No.1 military medical project》9.1 表 病人主索引  PAT_MASTER_INDEX 预处理后

PAT_MASTER_INDEX = pd.read_csv('F:/data/input/病人主索引_预.tsv', sep='\t')

In [184]:
print(PAT_MASTER_INDEX)

        PATIENT_ID SEX DATE_OF_BIRTH
0         04001738   女     01-1月 -46
1         04001739   男     01-1月 -30
2         04001740   女     01-1月 -60
3         04001795   女     01-1月 -69
4         04001741   男     01-1月 -40
5         04001796   女     01-1月 -69
6         07000902   男     01-1月 -48
7         04001291   男     01-1月 -30
8         09000490   男     01-7月 -65
9         04001101   女     01-1月 -64
10        04001614   男     01-1月 -36
11        04001742   男     01-1月 -54
12        04001750   女     01-1月 -50
13        06001088   女     24-8月 -55
14        04001743   男     01-1月 -41
15        04001799   男     01-1月 -64
16        07000876   男     01-1月 -62
17        04001751   女     02-9月 -56
18        07001055   男     01-1月 -67
19        08000278   男     01-4月 -26
20        07001392   男     16-11月-64
21        04003913   女     01-1月 -80
22        04003912   男     01-1月 -70
23        04003911   男     01-1月 -74
24        04003846   男     01-1月 -90
25        04003842   男     01-1月 -77
26        04003839   女     01-1月 -52
27        04003844   男     01-1月 -80
28        04003845   男     01-1月 -80
29        04003967   男     01-1月 -60
...            ...  ..           ...
1153899   07103241   男     27-6月 -90
1153900   07103237   男     07-1月 -90
1153901   07103238   男     02-2月 -90
1153902   07103242   男     18-6月 -92
1153903   07103243   男     01-10月-90
1153904   07103244   男     06-10月-96
1153905   01044993   男     26-12月-77
1153906   04998068   男     01-1月 -63
1153907   04998069   男     27-8月 -43
1153908   90228774   男     13-11月-82
1153909   02003587   男     16-11月-66
1153910   02002194   女     22-9月 -93
1153911   02003821   女     04-2月 -54
1153912   02003916   女     22-1月 -75
1153913   02003919   女     20-3月 -91
1153914   90227255   女     18-3月 -81
1153915   90227496   ?     06-6月 -84
1153916   90227631   女     15-12月-87
1153917   90227653   女     05-7月 -75
1153918   90227744   男     16-2月 -73
1153919   90227874   女     20-4月 -53
1153920   90227875   女     20-4月 -57
1153921   90227996   男     22-7月 -78
1153922   90227997   男     01-10月-65
1153923   90227999   男     15-7月 -63
1153924   90228005   男     10-11月-78
1153925   90228062   男     24-10月-39
1153926   90228064   女     06-1月 -52
1153927   90228069   女     05-1月 -55
1153928   02003373   女     10-11月-65

[1153929 rows x 3 columns]

In [185]:
# 表9.7测试
DIAGNOSTIC_CATEGORY = pd.read_csv('F:/data/input/诊断分类记录_全.tsv', sep='\t',nrows =500)

In [186]:
print(DIAGNOSTIC_CATEGORY)

     PATIENT_ID  VISIT_ID  DIAGNOSIS_TYPE  DIAGNOSIS_NO    DIAGNOSIS_CODE  \
0       4003500         2               2             1           261  01
1       4003500         2               3             1           307.101
2       4003500         2               3             2           273.801
3       4003500         2               3             3           280  01
4       4010720         1               5             1           799.402
5       4010720         1               6             1           567.905
6       4007153         1               1             1  070.901+573.106*
7       4007153         1               2             1  070.901+573.106*
8       4007153         1               3             1           155.201
9       4017543         1               1             1           162.901
10      4017543         1               2             1           793.101
11      4017543         1               3             1           793.101
12      4009395         1               1             1           155.201
13      4009395         1               2             1           155.201
14      4009395         1               3             1           155.201
15      4004782         1               1             1           150.401
16      4004782         1               2             1           150.401
17      4004782         1               2             2           151.001
18      4004782         1               3             1           150.401
19      4004782         1               3             2           151.001
20      4004782         1               6             1           998.501
21      4004782         1               8             1          M81400/3
22      4012439         1               1             1           250.002
23      4012439         1               2             1           250.002
24      4012439         1               2             2  250.301+583.803*
25      4012439         1               2             3           585  01
26      4012439         1               3             1           250.002
27      4012439         1               3             2  250.301+583.803*
28      4012439         1               3             3           585  01
29      4013646         1               1             1           174.901
..          ...       ...             ...           ...               ...
470     4009260         1               3             1           218  01
471     4009260         1               3             2           401.905
472     4009260         1               3             3           228.007
473     4005873         1               1             1           V22.201
474     4005873         1               2             1           V22.201
475     4005873         1               3             1           V22.201
476     7019252         1               1             1           635.904
477     7019252         1               2             1           635.904
478     7019252         1               3             1           635.904
479     7002678         1               1             1           633.103
480     4014563         1               3             3           491.904
481     4011056         1               2             1           162.901
482     4011056         1               3             1           162.901
483     4007079         1               1             1           592.101
484     4010783         1               1             1           786.501
485     4010783         1               2             1           786.501
486     4010783         1               3             1           733.601
487     4011056         1               1             1           162.901
488     4007079         1               2             1           592.101
489     4007079         1               3             1           592.101
490     4014480         1               1             1           592.101
491     4014480         1               2             1           592.101
492     4008353         1               2             1           578.902
493     4008353         1               3             1           578.902
494     4008353         1               3             2           532.902
495     4008353         1               3             3           280  03
496     4017635         1               1             1           005.901
497     4017635         1               2             1           005.901
498     4017635         1               3             1           005.901
499     4017633         1               1             1           005.901

     CODE_NO
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
7        NaN
8        NaN
9        NaN
10       NaN
11       NaN
12       NaN
13       NaN
14       NaN
15       NaN
16       NaN
17       NaN
18       NaN
19       NaN
20       NaN
21       NaN
22       NaN
23       NaN
24       NaN
25       NaN
26       NaN
27       NaN
28       NaN
29       NaN
..       ...
470      NaN
471      NaN
472      NaN
473      NaN
474      NaN
475      NaN
476      NaN
477      NaN
478      NaN
479      NaN
480      NaN
481      NaN
482      NaN
483      NaN
484      NaN
485      NaN
486      NaN
487      NaN
488      NaN
489      NaN
490      NaN
491      NaN
492      NaN
493      NaN
494      NaN
495      NaN
496      NaN
497      NaN
498      NaN
499      NaN

[500 rows x 6 columns]

In [187]:
#表9.7 诊断分类记录 DIAGNOSTIC_CATEGORY 预处理
DIAGNOSTIC_CATEGORY = pd.read_csv('F:/data/input/诊断分类记录.tsv', sep='\t')

In [188]:
print(DIAGNOSTIC_CATEGORY)

        PATIENT_ID DIAGNOSIS_CODE
0                `        E79.001
1                `        I50.910
2                `        I11.901
3                `        I10  06
4                `        I11.901
5                `        I10  06
6                `        I10  03
7                ]        S90.301
8                ]        W20.902
9                ]        S92.511
10               ]        S92.511
11               ]        S92.511
12         Z98.850        Z98.850
13         Z98.850        Q24.911
14         Z98.850        Z98.850
15         Z98.850        Q24.911
16         Z98.850        Q24.911
17         Z98.830        Z98.830
18         Z98.830        Z98.830
19         Z98.830        C16.901
20         Z98.829        C78.201
21         Z98.829        Z98.829
22         Z98.829       M80100/3
23         Z98.829        I84.201
24         Z98.829        I84.201
25         Z98.829        Z98.829
26         W50.302        W50.302
27         W50.302        S42.001
28         W50.302        S42.001
29         W50.302        S42.001
...            ...            ...
1180013          .        J96.901
1180014          .        J98.403
1180015          .        J98.403
1180016          .        J42  03
1180017          .        J42  03
1180018          .        H91.201
1180019          .        H91.201
1180020          .        H91.201
1180021          .        O69.101
1180022          .        Z37.001
1180023          .        O63.101
1180024          .        O80.901
1180025          .        O47.101
1180026          .        O47.101
1180027          .        K81.101
1180028          .        J03.903
1180029          .        J03.903
1180030          .        J03.903
1180031          +        N18.801
1180032          +        S32.001
1180033          +        I25.101
1180034          +        I11.901
1180035          +        I10  06
1180036          +        I10  06
1180037          +        I10  06
1180038          +        E87.601
1180039          +        X49.906
1180040          +        T62.901
1180041          +        T62.901
1180042          +        T62.901

[1180043 rows x 2 columns]

In [189]:
DIAGNOSTIC_CATEGORY

        PATIENT_ID DIAGNOSIS_CODE
0                `        E79.001
1                `        I50.910
2                `        I11.901
3                `        I10  06
4                `        I11.901
5                `        I10  06
6                `        I10  03
7                ]        S90.301
8                ]        W20.902
9                ]        S92.511
10               ]        S92.511
11               ]        S92.511
12         Z98.850        Z98.850
13         Z98.850        Q24.911
14         Z98.850        Z98.850
15         Z98.850        Q24.911
16         Z98.850        Q24.911
17         Z98.830        Z98.830
18         Z98.830        Z98.830
19         Z98.830        C16.901
20         Z98.829        C78.201
21         Z98.829        Z98.829
22         Z98.829       M80100/3
23         Z98.829        I84.201
24         Z98.829        I84.201
25         Z98.829        Z98.829
26         W50.302        W50.302
27         W50.302        S42.001
28         W50.302        S42.001
29         W50.302        S42.001
...            ...            ...
1180013          .        J96.901
1180014          .        J98.403
1180015          .        J98.403
1180016          .        J42  03
1180017          .        J42  03
1180018          .        H91.201
1180019          .        H91.201
1180020          .        H91.201
1180021          .        O69.101
1180022          .        Z37.001
1180023          .        O63.101
1180024          .        O80.901
1180025          .        O47.101
1180026          .        O47.101
1180027          .        K81.101
1180028          .        J03.903
1180029          .        J03.903
1180030          .        J03.903
1180031          +        N18.801
1180032          +        S32.001
1180033          +        I25.101
1180034          +        I11.901
1180035          +        I10  06
1180036          +        I10  06
1180037          +        I10  06
1180038          +        E87.601
1180039          +        X49.906
1180040          +        T62.901
1180041          +        T62.901
1180042          +        T62.901

[1180043 rows x 2 columns]

In [190]:
DIAGNOSTIC_CATEGORY_1=pd.read_csv('F:/data/input/诊断分类记录.tsv', sep='\t',usecols=[1])

In [191]:
print(DIAGNOSTIC_CATEGORY_1['DIAGNOSIS_CODE'])

0           E79.001
1           I50.910
2           I11.901
3           I10  06
4           I11.901
5           I10  06
6           I10  03
7           S90.301
8           W20.902
9           S92.511
10          S92.511
11          S92.511
12          Z98.850
13          Q24.911
14          Z98.850
15          Q24.911
16          Q24.911
17          Z98.830
18          Z98.830
19          C16.901
20          C78.201
21          Z98.829
22         M80100/3
23          I84.201
24          I84.201
25          Z98.829
26          W50.302
27          S42.001
28          S42.001
29          S42.001
             ...
1180013     J96.901
1180014     J98.403
1180015     J98.403
1180016     J42  03
1180017     J42  03
1180018     H91.201
1180019     H91.201
1180020     H91.201
1180021     O69.101
1180022     Z37.001
1180023     O63.101
1180024     O80.901
1180025     O47.101
1180026     O47.101
1180027     K81.101
1180028     J03.903
1180029     J03.903
1180030     J03.903
1180031     N18.801
1180032     S32.001
1180033     I25.101
1180034     I11.901
1180035     I10  06
1180036     I10  06
1180037     I10  06
1180038     E87.601
1180039     X49.906
1180040     T62.901
1180041     T62.901
1180042     T62.901
Name: DIAGNOSIS_CODE, Length: 1180043, dtype: object

In [192]:
DIAGNOSTIC_CATEGORY_1

        DIAGNOSIS_CODE
0              E79.001
1              I50.910
2              I11.901
3              I10  06
4              I11.901
5              I10  06
6              I10  03
7              S90.301
8              W20.902
9              S92.511
10             S92.511
11             S92.511
12             Z98.850
13             Q24.911
14             Z98.850
15             Q24.911
16             Q24.911
17             Z98.830
18             Z98.830
19             C16.901
20             C78.201
21             Z98.829
22            M80100/3
23             I84.201
24             I84.201
25             Z98.829
26             W50.302
27             S42.001
28             S42.001
29             S42.001
...                ...
1180013        J96.901
1180014        J98.403
1180015        J98.403
1180016        J42  03
1180017        J42  03
1180018        H91.201
1180019        H91.201
1180020        H91.201
1180021        O69.101
1180022        Z37.001
1180023        O63.101
1180024        O80.901
1180025        O47.101
1180026        O47.101
1180027        K81.101
1180028        J03.903
1180029        J03.903
1180030        J03.903
1180031        N18.801
1180032        S32.001
1180033        I25.101
1180034        I11.901
1180035        I10  06
1180036        I10  06
1180037        I10  06
1180038        E87.601
1180039        X49.906
1180040        T62.901
1180041        T62.901
1180042        T62.901

[1180043 rows x 1 columns]

In [193]:
#统计疾病频率
DIAGNOSTIC_CATEGORY_1['DIAGNOSIS_CODE'].value_counts()

E11.901             36906
I10  06             24623
I10  03             24603
I25.101             24183
I63.901             20337
J98.403             14761
Z98.819             10140
I10  05              9286
Z34.801              9236
X59.903              9097
Z38.001              8801
D64.902              8467
S69.903              8410
414.001              8183
E11.504              7965
C34.901              7664
I69.301              7539
S68.101              7189
401.903              6988
J18.901              6677
K29.502              6536
E14.901              6408
S66.902              6163
M51.201              5797
401.907              5563
W31.904              5422
Z37.001              5396
E77.801              5391
N40  01              5381
465.901              5338
                    ...
E900.101                1
N01.702                 1
N01.901                 1
S01.103                 1
T69.801                 1
I83.101                 1
200.111                 1
E946.001                1
E10.502+I79.201*        1
M81401/3                1
S26.812                 1
616.003                 1
H04.304                 1
M81.091                 1
847.301                 1
M92800/0                1
951.601                 1
H26.902                 1
J31.202                 1
H11.403                 1
H54.501                 1
Q82.001                 1
M81410/3                1
608.902                 1
E922.901                1
573.805                 1
M81550/3                1
N64.101                 1
M99400/3                1
097.001                 1
Name: DIAGNOSIS_CODE, Length: 10188, dtype: int64

In [194]:
alist=['E11.901']
DIAGNOSTIC_CATEGORY[DIAGNOSTIC_CATEGORY['DIAGNOSIS_CODE'].isin(alist)]

        PATIENT_ID DIAGNOSIS_CODE
136       90223593        E11.901
138       90223593        E11.901
139       90223593        E11.901
147       90220573        E11.901
149       90220573        E11.901
150       90220573        E11.901
153       90220533        E11.901
157       90220533        E11.901
163       90219173        E11.901
166       90219173        E11.901
167       90219173        E11.901
173       90218013        E11.901
176       90218013        E11.901
182       90215313        E11.901
184       90215313        E11.901
188       90214293        E11.901
190       90214293        E11.901
194       90214293        E11.901
196       90214293        E11.901
197       90214293        E11.901
201       90214253        E11.901
206       90214253        E11.901
212       90213973        E11.901
214       90213973        E11.901
216       90213973        E11.901
229       90213893        E11.901
234       90213893        E11.901
237       90213713        E11.901
240       90213713        E11.901
254       90211773        E11.901
...            ...            ...
1179406   01011298        E11.901
1179416   01011298        E11.901
1179427   01011298        E11.901
1179438   01011298        E11.901
1179446   01011298        E11.901
1179450   01011298        E11.901
1179455   01011298        E11.901
1179461   01011298        E11.901
1179469   01011298        E11.901
1179477   01011298        E11.901
1179487   01011298        E11.901
1179492   01011298        E11.901
1179495   01011298        E11.901
1179515   01010527        E11.901
1179531   01009637        E11.901
1179535   01009637        E11.901
1179555   01009306        E11.901
1179557   01009306        E11.901
1179561   01009306        E11.901
1179562   01009306        E11.901
1179563   01009306        E11.901
1179637   01006542        E11.901
1179709   01004456        E11.901
1179713   01004456        E11.901
1179717   01004456        E11.901
1179872   01002100        E11.901
1179876   01002100        E11.901
1179882   01002100        E11.901
1179999    .00000.        E11.901
1180001    .00000.        E11.901

[36906 rows x 2 columns]

In [195]:
# 经检验 需要全部字段 此处重做
DIAGNOSTIC_CATEGORY = pd.read_csv('F:/data/input/诊断分类记录_全.tsv', sep='\t')

d:\programdata\anaconda3\envs\tensorflow\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [196]:
print(DIAGNOSTIC_CATEGORY)

        PATIENT_ID  VISIT_ID DIAGNOSIS_TYPE  DIAGNOSIS_NO    DIAGNOSIS_CODE  \
0         04003500         2              2             1           261  01
1         04003500         2              3             1           307.101
2         04003500         2              3             2           273.801
3         04003500         2              3             3           280  01
4         04010720         1              5             1           799.402
5         04010720         1              6             1           567.905
6         04007153         1              1             1  070.901+573.106*
7         04007153         1              2             1  070.901+573.106*
8         04007153         1              3             1           155.201
9         04017543         1              1             1           162.901
10        04017543         1              2             1           793.101
11        04017543         1              3             1           793.101
12        04009395         1              1             1           155.201
13        04009395         1              2             1           155.201
14        04009395         1              3             1           155.201
15        04004782         1              1             1           150.401
16        04004782         1              2             1           150.401
17        04004782         1              2             2           151.001
18        04004782         1              3             1           150.401
19        04004782         1              3             2           151.001
20        04004782         1              6             1           998.501
21        04004782         1              8             1          M81400/3
22        04012439         1              1             1           250.002
23        04012439         1              2             1           250.002
24        04012439         1              2             2  250.301+583.803*
25        04012439         1              2             3           585  01
26        04012439         1              3             1           250.002
27        04012439         1              3             2  250.301+583.803*
28        04012439         1              3             3           585  01
29        04013646         1              1             1           174.901
...            ...       ...            ...           ...               ...
1180013    4802412         2              A             2           K52.904
1180014    4802412         2              A             3           I10  06
1180015    4802412         2              A             4           I21.902
1180016    4802412         2              A             5           K31.825
1180017    4032432         1              2             7           M19.992
1180018    4032432         1              2             8           Z48.901
1180019    4032432         1              2             9           I10  04
1180020    4032432         1              3             1           S72.004
1180021    4032432         1              A             1           S32.401
1180022    4032432         1              A             2           T09.302
1180023    4032432         1              A             3           S89.901
1180024    4032432         1              A             4           M50.221
1180025    4032432         1              A             5           M47.991
1180026    4032432         1              A             6           M19.992
1180027    4032432         1              A             7           Z48.901
1180028    4032432         1              A             8           I10  04
1180029    4032432         1              7             1           W19.901
1180030    4469763         3              2             2           I10  05
1180031    4469763         3              3             1           T30.001
1180032    4469763         3              A             1           I10  05
1180033    4469763         3              7             1           X12.901
1180034    4290249        10              1             1           L89.901
1180035    4290249        10              2             1           L89.901
1180036    4290249        10              2             2           G40.803
1180037    4290249        10              2             3           R40.201
1180038    4290249        10              2             4           I10  03
1180039    4290249        10              2             5           Z93.001
1180040    4290249        10              3             1           L89.901
1180041    4290249        10              A             1           G40.803
1180042    4290249        10              A             2           R40.201

         CODE_NO
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
5            NaN
6            NaN
7            NaN
8            NaN
9            NaN
10           NaN
11           NaN
12           NaN
13           NaN
14           NaN
15           NaN
16           NaN
17           NaN
18           NaN
19           NaN
20           NaN
21           NaN
22           NaN
23           NaN
24           NaN
25           NaN
26           NaN
27           NaN
28           NaN
29           NaN
...          ...
1180013      1.0
1180014      1.0
1180015      1.0
1180016      1.0
1180017      1.0
1180018      1.0
1180019      1.0
1180020      1.0
1180021      1.0
1180022      1.0
1180023      1.0
1180024      1.0
1180025      1.0
1180026      1.0
1180027      1.0
1180028      1.0
1180029      1.0
1180030      1.0
1180031      1.0
1180032      1.0
1180033      1.0
1180034      1.0
1180035      1.0
1180036      1.0
1180037      1.0
1180038      1.0
1180039      1.0
1180040      1.0
1180041      1.0
1180042      1.0

[1180043 rows x 6 columns]

In [197]:
alist=['E11.901']
DIAGNOSTIC_CATEGORY[DIAGNOSTIC_CATEGORY['DIAGNOSIS_CODE'].isin(alist)]

,PATIENT_ID,VISIT_ID,DIAGNOSIS_TYPE,DIAGNOSIS_NO,DIAGNOSIS_CODE,CODE_NO
241068,04051561,10,3,1,E11.901,1.0
241072,04454003,1,1,1,E11.901,1.0
241073,04454003,1,2,1,E11.901,1.0
241074,04454003,1,3,1,E11.901,1.0
241078,04418940,2,1,1,E11.901,1.0
241079,04418940,2,2,1,E11.901,1.0
241080,04418940,2,3,1,E11.901,1.0
241084,04415618,2,2,1,E11.901,1.0
241085,04415618,2,3,1,E11.901,1.0
241170,04272961,2,A,6,E11.901,1.0
241222,04222659,4,A,3,E11.901,1.0
241280,04222659,4,2,4,E11.901,1.0
241300,04052182,2,1,1,E11.901,1.0
241301,04052182,2,2,1,E11.901,1.0
241302,04052182,2,3,1,E11.901,1.0
241395,04344966,7,A,1,E11.901,1.0
241399,04043054,1,1,1,E11.901,1.0
241400,04043054,1,2,1,E11.901,1.0
241401,04043054,1,3,1,E11.901,1.0
241405,04446737,1,1,1,E11.901,1.0
241406,04446737,1,2,1,E11.901,1.0
241407,04446737,1,3,1,E11.901,1.0
241453,04449557,1,A,2,E11.901,1.0
241530,04453304,1,A,1,E11.901,1.0
241532,04202608,3,1,1,E11.901,1.0
241533,04202608,3,2,1,E11.901,1.0
241534,04202608,3,3,1,E11.901,1.0
241545,04457841,1,3,3,E11.901,1.0
241783,04221316,3,2,6,E11.901,1.0
241790,04221316,3,A,6,E11.901,1.0
...,...,...,...,...,...,...
1179548,04999435,1,1,1,E11.901,1.0
1179549,04999435,1,2,1,E11.901,1.0
1179550,04999435,1,3,1,E11.901,1.0
1179554,04997176,1,2,2,E11.901,1.0
1179556,04997176,1,A,1,E11.901,1.0
1179611,04251372,25,A,4,E11.901,1.0
1179658,4030598,6,A,6,E11.901,1.0
1179674,4944210,16,2,4,E11.901,1.0
1179720,4322150,1,2,5,E11.901,1.0
1179726,4322150,1,A,5,E11.901,1.0
1179755,4961930,2,2,8,E11.901,1.0
1179765,4961930,2,A,7,E11.901,1.0
1179775,4944210,16,A,3,E11.901,1.0
1179850,4664565,3,2,1,E11.901,1.0
1179851,4044958,1,1,1,E11.901,1.0
1179853,4044958,1,2,2,E11.901,1.0
1179856,4044958,1,A,1,E11.901,1.0
1179858,4973170,1,1,1,E11.901,1.0
1179859,4973170,1,2,1,E11.901,1.0
1179860,4973170,1,3,1,E11.901,1.0
1179862,4664565,3,1,1,E11.901,1.0
1179879,4893539,8,2,1,E11.901,1.0
1179881,4893539,8,3,1,E11.901,1.0
1179922,4946613,2,A,6,E11.901,1.0
1179964,4043054,3,1,1,E11.901,1.0
1179965,4043054,3,2,1,E11.901,1.0
1179968,4043054,3,3,1,E11.901,1.0
1180004,4802412,2,1,1,E11.901,1.0
1180005,4802412,2,2,1,E11.901,1.0
1180011,4802412,2,3,1,E11.901,1.0

In [198]:
#筛选出9.7表格中实际人数 125471人
DF = DIAGNOSTIC_CATEGORY['PATIENT_ID'].unique()
SS = Series(DF)
SS

0         04003500
1         04010720
2         04007153
3         04017543
4         04009395
5         04004782
6         04012439
7         04013646
8         07000621
9         04004925
10        04014481
11        04003412
12        05000095
13        04014525
14        04013368
15        04013778
16        04012374
17        04001767
18        04088927
19        04007825
20        08000115
21        08000019
22        04011033
23        08000656
24        06000557
25        04011321
26        04007156
27        04017493
28        08000329
29        04016037
            ...
125441     7099892
125442     4664565
125443     4044958
125444     4973170
125445     8000377
125446     4725154
125447     4893539
125448     8000278
125449     4502694
125450     7073968
125451     4394714
125452     4946613
125453     4954524
125454     4379012
125455     4954139
125456     4952242
125457     4956186
125458     4921218
125459     7087069
125460     4043054
125461     4549879
125462     4547713
125463     4955122
125464     4707472
125465     6001096
125466     4032432
125467     4383164
125468     4469763
125469     4802412
125470     4290249
Length: 125471, dtype: object

In [104]:
#重定义
test = DIAGNOSTIC_CATEGORY[DIAGNOSTIC_CATEGORY['DIAGNOSIS_CODE'].isin(alist)]
print(test)

        PATIENT_ID  VISIT_ID DIAGNOSIS_TYPE  DIAGNOSIS_NO DIAGNOSIS_CODE  \
241068    04051561        10              3             1        E11.901
241072    04454003         1              1             1        E11.901
241073    04454003         1              2             1        E11.901
241074    04454003         1              3             1        E11.901
241078    04418940         2              1             1        E11.901
241079    04418940         2              2             1        E11.901
241080    04418940         2              3             1        E11.901
241084    04415618         2              2             1        E11.901
241085    04415618         2              3             1        E11.901
241170    04272961         2              A             6        E11.901
241222    04222659         4              A             3        E11.901
241280    04222659         4              2             4        E11.901
241300    04052182         2              1             1        E11.901
241301    04052182         2              2             1        E11.901
241302    04052182         2              3             1        E11.901
241395    04344966         7              A             1        E11.901
241399    04043054         1              1             1        E11.901
241400    04043054         1              2             1        E11.901
241401    04043054         1              3             1        E11.901
241405    04446737         1              1             1        E11.901
241406    04446737         1              2             1        E11.901
241407    04446737         1              3             1        E11.901
241453    04449557         1              A             2        E11.901
241530    04453304         1              A             1        E11.901
241532    04202608         3              1             1        E11.901
241533    04202608         3              2             1        E11.901
241534    04202608         3              3             1        E11.901
241545    04457841         1              3             3        E11.901
241783    04221316         3              2             6        E11.901
241790    04221316         3              A             6        E11.901
...            ...       ...            ...           ...            ...
1179548   04999435         1              1             1        E11.901
1179549   04999435         1              2             1        E11.901
1179550   04999435         1              3             1        E11.901
1179554   04997176         1              2             2        E11.901
1179556   04997176         1              A             1        E11.901
1179611   04251372        25              A             4        E11.901
1179658    4030598         6              A             6        E11.901
1179674    4944210        16              2             4        E11.901
1179720    4322150         1              2             5        E11.901
1179726    4322150         1              A             5        E11.901
1179755    4961930         2              2             8        E11.901
1179765    4961930         2              A             7        E11.901
1179775    4944210        16              A             3        E11.901
1179850    4664565         3              2             1        E11.901
1179851    4044958         1              1             1        E11.901
1179853    4044958         1              2             2        E11.901
1179856    4044958         1              A             1        E11.901
1179858    4973170         1              1             1        E11.901
1179859    4973170         1              2             1        E11.901
1179860    4973170         1              3             1        E11.901
1179862    4664565         3              1             1        E11.901
1179879    4893539         8              2             1        E11.901
1179881    4893539         8              3             1        E11.901
1179922    4946613         2              A             6        E11.901
1179964    4043054         3              1             1        E11.901
1179965    4043054         3              2             1        E11.901
1179968    4043054         3              3             1        E11.901
1180004    4802412         2              1             1        E11.901
1180005    4802412         2              2             1        E11.901
1180011    4802412         2              3             1        E11.901

         CODE_NO
241068       1.0
241072       1.0
241073       1.0
241074       1.0
241078       1.0
241079       1.0
241080       1.0
241084       1.0
241085       1.0
241170       1.0
241222       1.0
241280       1.0
241300       1.0
241301       1.0
241302       1.0
241395       1.0
241399       1.0
241400       1.0
241401       1.0
241405       1.0
241406       1.0
241407       1.0
241453       1.0
241530       1.0
241532       1.0
241533       1.0
241534       1.0
241545       1.0
241783       1.0
241790       1.0
...          ...
1179548      1.0
1179549      1.0
1179550      1.0
1179554      1.0
1179556      1.0
1179611      1.0
1179658      1.0
1179674      1.0
1179720      1.0
1179726      1.0
1179755      1.0
1179765      1.0
1179775      1.0
1179850      1.0
1179851      1.0
1179853      1.0
1179856      1.0
1179858      1.0
1179859      1.0
1179860      1.0
1179862      1.0
1179879      1.0
1179881      1.0
1179922      1.0
1179964      1.0
1179965      1.0
1179968      1.0
1180004      1.0
1180005      1.0
1180011      1.0

[36906 rows x 6 columns]

In [114]:
#筛选出频率第一疾病的实际患病人数 9130人
DF = test['PATIENT_ID'].unique()   
#转格式
SS = Series(DF)
SS

0       04051561
1       04454003
2       04418940
3       04415618
4       04272961
5       04222659
6       04052182
7       04344966
8       04043054
9       04446737
10      04449557
11      04453304
12      04202608
13      04457841
14      04221316
15      04123900
16      04453426
17      04451323
18      04127891
19      04458673
20      04180189
21      04457360
22      04341371
23      04327447
24      04460206
25      04175271
26      04460443
27      04002377
28      04085091
29      04095165
          ...
9100    04751774
9101    04995790
9102    04998425
9103    04963808
9104    06001333
9105    90210513
9106    04051656
9107    90180893
9108    04081744
9109    04977411
9110    90220533
9111    02000299
9112    02000095
9113    04945297
9114    04499975
9115    04525478
9116    04883819
9117    04379700
9118    04997176
9119     4030598
9120     4944210
9121     4322150
9122     4961930
9123     4664565
9124     4044958
9125     4973170
9126     4893539
9127     4946613
9128     4043054
9129     4802412
Length: 9130, dtype: object

In [123]:
#病人ID
DF

array(['04051561', '04454003', '04418940', ..., 4946613, 4043054, 4802412],
      dtype=object)

In [124]:
# 9.1 表 病人主索引  PAT_MASTER_INDEX 预处理后

PAT_MASTER_INDEX = pd.read_csv('F:/data/input/病人主索引_预.tsv', sep='\t')

In [125]:
# 输出9.1表中患有E11.901 疾病的人的信息（病人ID、性别、年龄）
PAT_MASTER_INDEX[PAT_MASTER_INDEX['PATIENT_ID'].isin(DF)]

        PATIENT_ID SEX DATE_OF_BIRTH
77        08000195   男     01-3月 -29
273       08000570   男     02-11月-25
413       08000596   男     01-10月-29
546       04000217   男     01-1月 -22
587       04002544   男     16-12月-30
836       08000471   男     01-3月 -26
838       04005039   女     01-1月 -31
845       04005035   女     01-6月 -30
1009      08000212   女     01-10月-23
1023      04000469   男     01-11月-53
1099      07027413   女     01-9月 -63
1144      04001204   男     01-1月 -46
1206      06001077   男     17-7月 -53
1337      04002425   男     01-1月 -48
1449      04002874   男     22-2月 -48
1485      04008700   女     08-3月 -33
1513      06000161   女     16-6月 -35
1520      08000152   男     01-5月 -22
1524      08000199   男     01-10月-24
1599      08000221   男     01-7月 -28
1654      06000797   女     30-6月 -28
1729      04001735   男     15-3月 -25
1851      06002999   女     14-1月 -58
1891      04004690   男     21-12月-37
1949      04005028   男     05-4月 -27
2023      07004554   女     05-7月 -72
2037      07004371   男     21-4月 -68
2126      06000330   女     01-1月 -45
2131      06000665   男     12-10月-43
2169      04004168   男     01-1月 -26
...            ...  ..           ...
1147840   04998972   女     28-6月 -39
1147858   02001100   男     19-4月 -40
1147916   04998784   男     14-2月 -34
1148047   04991790   男     29-1月 -48
1148055   02000159   男     30-5月 -41
1148206   04998787   女     24-1月 -51
1148208   04998794   男     09-3月 -49
1148277   02001573   男     27-12月-46
1148326   04998947   男     01-3月 -62
1148585   04992550   女     01-7月 -39
1149090   02001828   女     21-6月 -51
1149894   02003357   女     24-5月 -37
1149916   02001032   男     18-10月-47
1149972   02001960   男     09-10月-51
1150025   04999286   男     23-6月 -46
1150194   04999879   男     12-8月 -61
1150230   04996779   男     19-4月 -42
1150324   04996745   男     22-12月-52
1150557   02001328   男     22-1月 -54
1150563   04999725   男     14-12月-66
1150572   02000434   女     01-1月 -41
1150589   04999435   女     20-8月 -62
1150633   02000490   女     01-11月-48
1150749   04999428   男     26-1月 -66
1150845   04992603   男     30-12月-52
1150875   04996451   男     27-12月-63
1150898   04999429   女     06-12月-40
1150940   02000747   女     15-4月 -64
1152349   02003073   女     01-9月 -47
1153513   02002198   男     19-11月-67

[9118 rows x 3 columns]

In [126]:
#男女比例统计
sex_count = PAT_MASTER_INDEX[PAT_MASTER_INDEX['PATIENT_ID'].isin(DF)]
sex_count['SEX'].value_counts()

男    5400
女    3718
Name: SEX, dtype: int64

In [115]:
output_sex = PAT_MASTER_INDEX[PAT_MASTER_INDEX['PATIENT_ID'].isin(DF)]

In [117]:
#输出疾病1信息
output_sex.to_csv("F:/data/output/疾病1信息.tsv")

In [121]:
# 9.4 表 诊断记录  预处理后
PAT_DATA = pd.read_csv('F:/data/input/就诊日期.tsv', sep='\t')

In [122]:
PAT_DATA

        PATIENT_ID DIAGNOSIS_DATE
0         08000598      07-6月 -00
1         08000598      17-6月 -00
2         08000279      10-6月 -00
3         08000279      10-6月 -00
4         08000279      10-6月 -00
5         08000279      10-6月 -00
6         08000279      10-6月 -00
7         08000279      10-6月 -00
8         04012492      25-7月 -00
9         06001257      29-6月 -00
10        06001257      29-6月 -00
11        06001257      29-6月 -00
12        06001257      29-6月 -00
13        06001257      29-6月 -00
14        06001257      29-6月 -00
15        06001257      29-6月 -00
16        04012492      25-7月 -00
17        04004716      25-7月 -00
18        07002615      04-6月 -00
19        07002615      04-6月 -00
20        07002615      04-6月 -00
21        04005889      16-6月 -00
22        04010327      30-6月 -00
23        04010327      30-6月 -00
24        04010327      30-6月 -00
25        04010327      30-6月 -00
26        04007457      17-5月 -00
27        04007457      17-5月 -00
28        04007457      17-5月 -00
29        04010327      30-6月 -00
...            ...            ...
1178315   04191992      19-12月-17
1178316   08000519      05-12月-17
1178317   08000519      05-12月-17
1178318   08000519      05-12月-17
1178319   08000519      05-12月-17
1178320   08000519      05-12月-17
1178321   08000519      05-12月-17
1178322   08000519      05-12月-17
1178323   08000519      05-12月-17
1178324   08000519      05-12月-17
1178325   08000519      24-12月-17
1178326   08000519      26-12月-17
1178327   04965945      25-12月-17
1178328   04699201      06-11月-17
1178329   04699201      06-11月-17
1178330   04699201      06-11月-17
1178331   04699201      06-11月-17
1178332   04699201      06-11月-17
1178333   04699201      06-11月-17
1178334   04699201      06-11月-17
1178335   04699201      06-11月-17
1178336   04699201      06-11月-17
1178337   04699201      06-11月-17
1178338   04699201      06-11月-17
1178339   04699201      06-11月-17
1178340   04699201      06-11月-17
1178341   04699201      06-11月-17
1178342   04699201      06-11月-17
1178343   04699201      06-11月-17
1178344   04699201      06-11月-17

[1178345 rows x 2 columns]

In [128]:
DATA_count = PAT_DATA[PAT_DATA['PATIENT_ID'].isin(DF)]

In [130]:
DATA_count

        PATIENT_ID DIAGNOSIS_DATE
0         08000598      07-6月 -00
1         08000598      17-6月 -00
139       04008472      30-6月 -00
140       04008472      30-6月 -00
157       06000797      30-4月 -00
158       06000797      30-4月 -00
159       06000797      30-4月 -00
160       06000797      30-4月 -00
161       06000797      30-4月 -00
162       06000797      30-4月 -00
172       04008741      23-5月 -00
174       04008741      23-5月 -00
175       04008741      23-5月 -00
376       09000110      25-5月 -00
377       09000110      25-5月 -00
378       09000110      25-5月 -00
379       09000110      25-5月 -00
380       09000110      25-5月 -00
452       04008472      22-5月 -00
454       04008472      22-5月 -00
459       04008472      22-5月 -00
602       04005437      12-6月 -00
603       04005437      12-6月 -00
604       04005437      12-6月 -00
692       04005863      19-6月 -00
693       04005863      19-6月 -00
694       04005863      19-6月 -00
710       08000549      15-6月 -00
711       08000549      15-6月 -00
712       08000549      15-6月 -00
...            ...            ...
1178280   04087506      07-1月 -18
1178281   04087506      07-1月 -18
1178295   04087506      07-1月 -18
1178296   04087506      07-1月 -18
1178297   04087506      07-1月 -18
1178298   04087506      07-1月 -18
1178299   04087506      07-1月 -18
1178300   04087506      08-1月 -18
1178301   04087506      08-1月 -18
1178302   04087506      07-1月 -18
1178303   04087506      07-1月 -18
1178304   04087506      07-1月 -18
1178305   04087506      07-1月 -18
1178328   04699201      06-11月-17
1178329   04699201      06-11月-17
1178330   04699201      06-11月-17
1178331   04699201      06-11月-17
1178332   04699201      06-11月-17
1178333   04699201      06-11月-17
1178334   04699201      06-11月-17
1178335   04699201      06-11月-17
1178336   04699201      06-11月-17
1178337   04699201      06-11月-17
1178338   04699201      06-11月-17
1178339   04699201      06-11月-17
1178340   04699201      06-11月-17
1178341   04699201      06-11月-17
1178342   04699201      06-11月-17
1178343   04699201      06-11月-17
1178344   04699201      06-11月-17

[210685 rows x 2 columns]

In [131]:
DATA_count.to_csv("F:/data/output/疾病1日期.tsv")

In [137]:
# 9.4 表 去重
PAT_SAME = pd.read_csv('F:/data/input/表9_4去重.txt', sep='\t')

In [138]:
PAT_SAME

       PATIENT_ID  DIAGNOSIS_DATE
0         8000598          2000.0
1         4008472          2000.0
2         6000797          2000.0
3         4008741          2000.0
4         9000110          2000.0
5         4005437          2000.0
6         4005863          2000.0
7         8000549          2000.0
8         4000808          2000.0
9         8000656          2000.0
10        4001909          2000.0
11        8000092          2000.0
12        8000152          2000.0
13        4010856          2000.0
14        8000591          2000.0
15        4001204          2000.0
16        4005406          2000.0
17        4005323          2000.0
18        8000463          2000.0
19        8000489          2000.0
20        8000052          2000.0
21        8000019          2000.0
22        4131486          2000.0
23        4012824          2000.0
24        6000572          2000.0
25        4064341          2000.0
26        4014525          2000.0
27        4008703          2000.0
28        7027413          2000.0
29        4000997          2000.0
...           ...             ...
210655        NaN             NaN
210656        NaN             NaN
210657        NaN             NaN
210658        NaN             NaN
210659        NaN             NaN
210660        NaN             NaN
210661        NaN             NaN
210662        NaN             NaN
210663        NaN             NaN
210664        NaN             NaN
210665        NaN             NaN
210666        NaN             NaN
210667        NaN             NaN
210668        NaN             NaN
210669        NaN             NaN
210670        NaN             NaN
210671        NaN             NaN
210672        NaN             NaN
210673        NaN             NaN
210674        NaN             NaN
210675        NaN             NaN
210676        NaN             NaN
210677        NaN             NaN
210678        NaN             NaN
210679        NaN             NaN
210680        NaN             NaN
210681        NaN             NaN
210682        NaN             NaN
210683        NaN             NaN
210684        NaN             NaN

[210685 rows x 2 columns]

In [142]:
PAT_NO_SAME = PAT_SAME.drop_duplicates(['PATIENT_ID'],'last')
PAT_NO_SAME

       PATIENT_ID  DIAGNOSIS_DATE
768       4236424          2008.0
790       4236770          2008.0
1457      4020394          2005.0
1613      4025545          2005.0
1646      4231692          2008.0
1648      6002001          2008.0
1653      8000205          2008.0
1679      4386751          2010.0
1680      4160318          2010.0
1681      4401355          2010.0
1686      4372346          2010.0
1694      4387150          2010.0
1695      4391229          2010.0
1701      4381421          2010.0
1706      4088485          2010.0
1709      4185391          2010.0
1714      4362023          2010.0
1715      8001727          2010.0
1716      8001568          2010.0
1727      4147051          2010.0
1731      4390956          2010.0
1734      4022113          2010.0
1735      4067149          2010.0
1736      4355640          2010.0
1741      4379888          2010.0
1745      4381600          2010.0
1758      4405755          2010.0
1759      4402974          2010.0
1761      4392907          2010.0
1763      4381929          2010.0
...           ...             ...
16555     4771431          2017.0
16556     4992737          2017.0
16557     4939791          2018.0
16558     4961167          2018.0
16559     4024497          2018.0
16560     4992668          2018.0
16561     4255093          2018.0
16562     4102162          2018.0
16563     4932300          2018.0
16564     4945668          2018.0
16565     4727665          2018.0
16566     4998165          2018.0
16567     4270815          2018.0
16568     4266472          2017.0
16569     4940309          2018.0
16570     4995449          2018.0
16571     4932900          2018.0
16572     4975028          2018.0
16573     4865331          2018.0
16574     4990390          2018.0
16575     4887362          2018.0
16576     4515664          2018.0
16577     4166611          2017.0
16578     4094394          2017.0
16579     4986802          2018.0
16580     4586056          2018.0
16581     4990258          2018.0
16582     4994982          2018.0
16583     4087506          2018.0
210684        NaN             NaN

[9119 rows x 2 columns]

In [143]:
PAT_NO_SAME.to_csv("F:/data/output/去重后的就诊日期表.tsv")

In [145]:
# 输出频率疾病信息表
DIA_count = DIAGNOSTIC_CATEGORY_1['DIAGNOSIS_CODE'].value_counts()
DIA_count.to_csv("F:/data/output/频率疾病信息表.tsv")

In [158]:
ILL_ID  = pd.read_csv('F:/data/input/频率疾病信息表.tsv', sep='\t')
DF_1 = ILL_ID['ILL']
DF_1

0                 E11.901
1                 I10  06
2                 I10  03
3                 I25.101
4                 I63.901
5                 J98.403
6                 Z98.819
7                 I10  05
8                 Z34.801
9                 X59.903
10                Z38.001
11                D64.902
12                S69.903
13                414.001
14                E11.504
15                C34.901
16                I69.301
17                S68.101
18                401.903
19                J18.901
20                K29.502
21                E14.901
22                S66.902
23                M51.201
24                401.907
25                W31.904
26                Z37.001
27                E77.801
28                N40  01
29                465.901
               ...
10158            E900.101
10159             N01.702
10160             N01.901
10161             S01.103
10162             T69.801
10163             I83.101
10164             200.111
10165            E946.001
10166    E10.502+I79.201*
10167            M81401/3
10168             S26.812
10169             616.003
10170             H04.304
10171             M81.091
10172             847.301
10173            M92800/0
10174             951.601
10175             H26.902
10176             J31.202
10177             H11.403
10178             H54.501
10179             Q82.001
10180            M81410/3
10181             608.902
10182            E922.901
10183             573.805
10184            M81550/3
10185             N64.101
10186            M99400/3
10187             097.001
Name: ILL, Length: 10188, dtype: object

In [162]:
ILL_DUIZHAO  = pd.read_csv('F:/data/input/表4_1疾病信息对应表.tsv', sep='\t')
ILL_DUIZHAO

,DIAGNOSIS_CODE,DIAGNOSIS_NAME,STD_INDICATOR,APPROVED_INDICATOR,CREATE_DATE,INPUT_CODE,INPUT_CODE_WB,DIAGNOSIS_DICT,DISEASE_SORT,CODE_VERSION
0,H40.207,慢性闭角型青光眼,1,1,29-9月 -15,MXBJXQGY,NaN,NaN,NaN,ICD10_15
1,H40.208,虹膜高褶型青光眼,1,1,29-9月 -15,HMGZXQGY,NaN,NaN,NaN,ICD10_15
2,H40.301,创伤性青光眼,1,1,29-9月 -15,CSXQGY,NaN,NaN,NaN,ICD10_15
3,H40.401,青光眼并发虹膜睫状体炎,1,1,29-9月 -15,QGYBFHMJ,NaN,NaN,NaN,ICD10_15
4,H40.402,青光眼睫状体炎危象,1,1,29-9月 -15,QGYJZTYW,NaN,NaN,NaN,ICD10_15
5,H40.503,新生血管性青光眼,1,1,29-9月 -15,XSXGXQGY,NaN,NaN,NaN,ICD10_15
6,H40.504,继发性青光眼,1,1,29-9月 -15,JFXQGY,NaN,NaN,NaN,ICD10_15
7,H40.505,青光眼并发视网膜静脉阻塞,1,1,29-9月 -15,QGYBFSWM,NaN,NaN,NaN,ICD10_15
8,H40.506,晶体脱位后青光眼,1,1,29-9月 -15,JTTWHQGY,NaN,NaN,NaN,ICD10_15
9,H40.507,晶状体溶解性青光眼,1,1,29-9月 -15,JZTRXXQG,NaN,NaN,NaN,ICD10_15
10,H40.508,无晶体性青光眼,1,1,29-9月 -15,WJTXQGY,NaN,NaN,NaN,ICD10_15
11,H40.509,上巩膜静脉压升高引起的继发性青光眼,1,1,29-9月 -15,SGMJMYSG,NaN,NaN,NaN,ICD10_15
12,H40.601,皮质激素性青光眼,1,1,29-9月 -15,PZJSXQGY,NaN,NaN,NaN,ICD10_15
13,H40.801,血影细胞性青光眼,1,1,29-9月 -15,XYXBXQGY,NaN,NaN,NaN,ICD10_15
14,H40.802,混合型青光眼,1,1,29-9月 -15,HHXQGY,NaN,NaN,NaN,ICD10_15
15,H40.803,正常眼压性青光眼,1,1,29-9月 -15,ZCYYXQGY,NaN,NaN,NaN,ICD10_15
16,H40.901,青光眼,1,1,29-9月 -15,QGY,NaN,NaN,NaN,ICD10_15
17,H43.001,玻璃体疝,1,1,29-9月 -15,BLTS,NaN,NaN,NaN,ICD10_15
18,H43.101,玻璃体积血,1,1,29-9月 -15,BLTJX,NaN,NaN,NaN,ICD10_15
19,H43.201,玻璃体钙化,1,1,29-9月 -15,BLTGH,NaN,NaN,NaN,ICD10_15
20,H43.301,玻璃体混浊,1,1,29-9月 -15,BLTHZ,NaN,NaN,NaN,ICD10_15
21,H43.801,玻璃体脱离,1,1,29-9月 -15,BLTTL,NaN,NaN,NaN,ICD10_15
22,H43.802,玻璃体机化,1,1,29-9月 -15,BLTJH,NaN,NaN,NaN,ICD10_15
23,H43.803,增殖性玻璃体病变,1,1,29-9月 -15,ZZXBLTBB,NaN,NaN,NaN,ICD10_15
24,H43.804,玻璃膜疣,1,1,29-9月 -15,BLMY,NaN,NaN,NaN,ICD10_15
25,H43.805,玻璃体萎缩,1,1,29-9月 -15,BLTWS,NaN,NaN,NaN,ICD10_15
26,H43.806,玻璃体液化,1,1,29-9月 -15,BLTYH,NaN,NaN,NaN,ICD10_15
27,H43.807,玻璃体变性,1,1,29-9月 -15,BLTBX,NaN,NaN,NaN,ICD10_15
28,H43.808,闪光性玻璃体液化,1,1,29-9月 -15,SGXBLTYH,NaN,NaN,NaN,ICD10_15
29,H44.001,眼内炎,1,1,29-9月 -15,YNY,NaN,NaN,NaN,ICD10_15
...,...,...,...,...,...,...,...,...,...,...
16040,T26.702,眼球酸性灼伤伴破裂或毁坏,1,1,29-9月 -15,YQSXZSBP,NaN,NaN,NaN,ICD10_15
16041,T26.901,眼碱性烧伤,1,1,29-9月 -15,YJXSS,NaN,NaN,NaN,ICD10_15
16042,T26.902,眼球酸性烧伤,1,1,29-9月 -15,YQSXSS,NaN,NaN,NaN,ICD10_15
16043,T26.903,化学性眼烧伤,1,1,29-9月 -15,HXXYSS,NaN,NaN,NaN,ICD10_15
16044,T27.001,喉部烫伤,1,1,29-9月 -15,HBTS,NaN,NaN,NaN,ICD10_15
16045,T27.301,呼吸道烧伤,1,1,29-9月 -15,HXDSS,NaN,NaN,NaN,ICD10_15
16046,T27.701,呼吸道化学性烧伤,1,1,29-9月 -15,HXDHXXSS,NaN,NaN,NaN,ICD10_15
16047,T28.001,口腔和咽烫伤,1,1,29-9月 -15,KQHYTS,NaN,NaN,NaN,ICD10_15
16048,T28.101,食管烧伤,1,1,29-9月 -15,SGSS,NaN,NaN,NaN,ICD10_15
16049,T28.201,消化道烧伤,1,1,29-9月 -15,XHDSS,NaN,NaN,NaN,ICD10_15
16050,T28.301,阴道壁烧伤,1,1,29-9月 -15,YDBSS,NaN,NaN,NaN,ICD10_15
16051,T28.501,喉化学性烧伤,1,1,29-9月 -15,HHXXSS,NaN,NaN,NaN,ICD10_15
16052,T28.502,咽化学性烧伤,1,1,29-9月 -15,YHXXSS,NaN,NaN,NaN,ICD10_15
16053,T28.601,食道化学性烧伤,1,1,29-9月 -15,SDHXXSS,NaN,NaN,NaN,ICD10_15
16054,T28.701,消化道酸性烧伤,1,1,29-9月 -15,XHDSXSS,NaN,NaN,NaN,ICD10_15
16055,T29.001,多处烧伤(特指部位),1,1,29-9月 -15,DCSSTZBW,NaN,NaN,NaN,ICD10_15
16056,T29.101,多处特指部位Ⅰ度烧伤,1,1,29-9月 -15,DCTZBWED,NaN,NaN,NaN,ICD10_15
16057,T29.201,多处特指部位Ⅱ度烧伤,1,1,29-9月 -15,DCTZBWED,NaN,NaN,NaN,ICD10_15
16058,T29.301,多处特指部位Ⅲ度烧伤,1,1,29-9月 -15,DCTZBWSD,NaN,NaN,NaN,ICD10_15
16059,T29.302,多处特指部位深Ⅲ度烧伤,1,1,29-9月 -15,DCTZBWSS,NaN,NaN,NaN,ICD10_15
16060,T30.001,烧伤,1,1,29-9月 -15,SS,NaN,NaN,NaN,ICD10_15
16061,T30.101,Ⅰ度烧伤,1,1,29-9月 -15,EDSS,NaN,NaN,NaN,ICD10_15
16062,T30.201,Ⅱ度烧伤,1,1,29-9月 -15,EDSS,NaN,NaN,NaN,ICD10_15
16063,T30.301,Ⅲ度烧伤,1,1,29-9月 -15,SDSS,NaN,NaN,NaN,ICD10_15
16064,T30.302,深Ⅲ度烧伤,1,1,29-9月 -15,SSDSS,NaN,NaN,NaN,ICD10_15
16065,Z43.402,消化道人工造口关闭,1,1,29-9月 -15,XHDRGZKG,NaN,NaN,NaN,ICD10_15
16066,Z43.403,胆道术后拔引流管,1,1,29-9月 -15,DDSHBYLG,NaN,NaN,NaN,ICD10_15
16067,Z43.405,胆管引流管置换,1,1,29-9月 -15,DGYLGZH,NaN,NaN,NaN,ICD10_15
16068,Z43.406,取出胆管支架,1,1,29-9月 -15,QCDGZJ,NaN,NaN,NaN,ICD10_15
16069,Z43.407,食管外置术后的维护,1,1,29-9月 -15,SGWZSHDW,NaN,NaN,NaN,ICD10_15

In [163]:
test1 = ILL_DUIZHAO[ILL_DUIZHAO['DIAGNOSIS_CODE'].isin(DF_1)]
test1.to_csv("F:/data/output/疾病频率中文对照表.tsv")

In [171]:
ILL_ID_1  = pd.read_csv('F:/data/input/统计前一百.tsv', sep='\t')
DF_2 = ILL_ID_1['ILL']
DF_2

0     E11.901
1     I10  06
2     I10  03
3     I25.101
4     I63.901
5     J98.403
6     Z98.819
7     I10  05
8     Z34.801
9     X59.903
10    Z38.001
11    D64.902
12    S69.903
13    414.001
14    E11.504
15    C34.901
16    I69.301
17    S68.101
18    401.903
19    J18.901
20    K29.502
21    E14.901
22    S66.902
23    M51.201
24    401.907
25    W31.904
26    Z37.001
27    E77.801
28    N40  01
29    465.901
       ...
70    K92.204
71    401.902
72    250.003
73    V70.001
74    K56.701
75    Z98.829
76    J44.901
77    L40.901
78    K31.701
79    N18.901
80    M47.821
81    518.801
82    V22.201
83    R94.501
84    J42  03
85    O80.901
86    E78.501
87    R10.401
88    Z93.001
89    T14.003
90    L89  01
91    O42.901
92    I11.901
93    295.901
94    I50.903
95    J94.803
96    S32.001
97    162.901
98    J42  02
99    959.501
Name: ILL, Length: 100, dtype: object

In [172]:
test2 = ILL_DUIZHAO[ILL_DUIZHAO['DIAGNOSIS_CODE'].isin(DF_2)]

In [174]:
test2.to_csv("F:/data/output/前一百疾病频率中文对照表.tsv")

In [211]:
alist_1 = ['E10.901']
OUT_TangE10 = DIAGNOSTIC_CATEGORY[DIAGNOSTIC_CATEGORY['DIAGNOSIS_CODE'].isin(alist_1)]
OUT_TangE10
OUT_TangE10.to_csv("F:/data/output/糖尿病E10信息.tsv")

In [210]:
alist_2=['E14.901']
Out_TangE14 = DIAGNOSTIC_CATEGORY[DIAGNOSTIC_CATEGORY['DIAGNOSIS_CODE'].isin(alist_2)]
Out_TangE14
Out_TangE14.to_csv("F:/data/output/糖尿病E14信息.tsv")

In [212]:
OUT_TangE10

,PATIENT_ID,VISIT_ID,DIAGNOSIS_TYPE,DIAGNOSIS_NO,DIAGNOSIS_CODE,CODE_NO
254274,04000997,4,2,3,E10.901,NaN
254277,04000997,4,3,3,E10.901,NaN
257448,04030316,2,1,1,E10.901,NaN
259205,07012647,1,1,1,E10.901,NaN
259206,07012647,1,2,1,E10.901,NaN
259207,07012647,1,3,1,E10.901,NaN
260093,04256855,1,2,1,E10.901,NaN
260096,04256855,1,3,1,E10.901,NaN
265225,07017898,1,2,2,E10.901,NaN
266210,07017898,2,2,2,E10.901,NaN
266213,07017898,2,3,2,E10.901,NaN
267924,04294358,1,1,1,E10.901,NaN
267925,04294358,1,2,1,E10.901,NaN
267927,04294358,1,3,1,E10.901,NaN
268247,07025700,1,1,1,E10.901,NaN
268248,07025700,1,2,1,E10.901,NaN
268249,07025700,1,3,1,E10.901,NaN
270429,04014442,2,1,1,E10.901,NaN
270842,04205533,6,1,1,E10.901,NaN
270843,04205533,6,2,1,E10.901,NaN
270844,04205533,6,3,1,E10.901,NaN
271060,04268437,3,1,1,E10.901,NaN
274025,04316909,1,3,1,E10.901,NaN
277909,04205533,5,1,1,E10.901,NaN
277910,04205533,5,2,1,E10.901,NaN
277911,04205533,5,3,1,E10.901,NaN
277912,04256855,7,1,1,E10.901,NaN
277913,04256855,7,2,1,E10.901,NaN
277916,04256855,7,3,1,E10.901,NaN
280534,08001236,13,1,1,E10.901,NaN
...,...,...,...,...,...,...
1138776,04765011,2,1,1,E10.901,1.0
1138777,04765011,2,2,1,E10.901,1.0
1138778,04765011,2,3,1,E10.901,1.0
1146915,07038329,25,2,1,E10.901,1.0
1146918,07038329,25,3,1,E10.901,1.0
1148452,04899785,2,2,2,E10.901,1.0
1148454,04899785,2,A,1,E10.901,1.0
1151876,04912809,2,1,1,E10.901,1.0
1151878,04912809,2,2,2,E10.901,1.0
1151880,04912809,2,A,1,E10.901,1.0
1155022,04998184,1,1,1,E10.901,1.0
1155023,04998184,1,2,1,E10.901,1.0
1155025,04998184,1,3,1,E10.901,1.0
1155087,90223435,1,3,1,E10.901,1.0
1156318,04075381,2,1,1,E10.901,1.0
1156319,04075381,2,2,1,E10.901,1.0
1156322,04075381,2,3,1,E10.901,1.0
1157308,04971142,2,2,2,E10.901,1.0
1157311,04971142,2,A,1,E10.901,1.0
1163017,04924510,23,A,4,E10.901,1.0
1164055,04924510,25,A,4,E10.901,1.0
1168282,04985346,1,2,2,E10.901,1.0
1168319,04985346,1,A,1,E10.901,1.0
1169708,04067899,40,A,4,E10.901,1.0
1170759,04099960,11,2,1,E10.901,1.0
1170765,04099960,11,3,1,E10.901,1.0
1171500,04997611,1,2,2,E10.901,1.0
1171502,04997611,1,A,1,E10.901,1.0
1174354,04951741,1,2,2,E10.901,1.0
1174357,04951741,1,A,1,E10.901,1.0

In [213]:
#筛选出频率E10.901 疾病的实际患病人数 112人
DF_E10 = OUT_TangE10['PATIENT_ID'].unique()   
#转格式
SS_E10 = Series(DF_E10)
SS_E10

0      04000997
1      04030316
2      07012647
3      04256855
4      07017898
5      04294358
6      07025700
7      04014442
8      04205533
9      04268437
10     04316909
11     08001236
12     04067899
13     04371961
14     04368077
15     04099960
16     04180374
17     06001687
18     04037492
19     04201827
20     04277849
21     07002616
22     04267230
23     04042485
24     04368430
25     04066218
26     04102939
27     04371391
28     04317810
29     04009024
         ...
82     04856143
83     04224013
84     04903734
85     07047355
86     04899785
87     04935061
88     04922829
89     04942011
90     04912332
91     07038329
92     04938745
93     07092845
94     04948002
95     04949105
96     04941873
97     04971142
98     02000339
99     08001553
100    04817667
101    04927665
102    04870561
103    04914247
104    04930671
105    07098527
106    04998184
107    90223435
108    04075381
109    04985346
110    04997611
111    04951741
Length: 112, dtype: object

In [214]:
Out_TangE14

,PATIENT_ID,VISIT_ID,DIAGNOSIS_TYPE,DIAGNOSIS_NO,DIAGNOSIS_CODE,CODE_NO
241083,04415618,2,1,1,E14.901,1.0
241449,04449557,1,1,1,E14.901,1.0
241511,04064208,17,2,4,E14.901,1.0
241517,04064208,17,3,4,E14.901,1.0
241719,04457799,1,1,1,E14.901,1.0
241723,04457799,1,A,3,E14.901,1.0
241896,04106429,8,A,5,E14.901,1.0
241949,04451323,1,1,1,E14.901,1.0
242034,04423285,2,2,3,E14.901,1.0
242036,04423285,2,A,1,E14.901,1.0
242067,04451713,2,2,4,E14.901,1.0
242071,04451713,2,A,3,E14.901,1.0
242120,04180061,7,2,4,E14.901,1.0
242130,04445883,1,2,2,E14.901,1.0
242132,04445883,1,3,2,E14.901,1.0
242348,04332973,7,2,3,E14.901,NaN
242352,04332973,7,A,3,E14.901,NaN
242423,04465841,1,A,1,E14.901,1.0
242615,04450158,1,2,2,E14.901,1.0
242618,04450158,1,A,2,E14.901,1.0
243024,04454233,2,2,3,E14.901,1.0
243028,06000110,2,A,4,E14.901,1.0
243133,04397469,1,2,2,E14.901,1.0
243135,04397469,1,3,2,E14.901,1.0
243714,04112631,4,A,6,E14.901,1.0
244178,04015466,2,2,3,E14.901,1.0
244181,04015466,2,3,2,E14.901,1.0
244188,04180061,7,3,6,E14.901,1.0
244513,04014160,1,A,1,E14.901,1.0
244529,06003937,2,A,1,E14.901,1.0
...,...,...,...,...,...,...
1178048,04957606,1,1,1,E14.901,1.0
1178049,04957606,1,2,1,E14.901,1.0
1178050,04957606,1,3,1,E14.901,1.0
1178056,04956729,1,A,1,E14.901,1.0
1178154,04995790,1,1,1,E14.901,1.0
1178248,04932304,13,2,3,E14.901,1.0
1178252,04932304,13,A,2,E14.901,1.0
1178845,04002587,3,2,4,E14.901,1.0
1178849,04002587,3,A,3,E14.901,1.0
1178864,04967746,2,2,3,E14.901,1.0
1178869,04967746,2,A,2,E14.901,1.0
1179031,06000656,13,2,4,E14.901,1.0
1179036,06000656,13,A,3,E14.901,1.0
1179134,04064539,7,A,6,E14.901,1.0
1179421,04996440,1,1,1,E14.901,1.0
1179422,04996440,1,2,1,E14.901,1.0
1179473,04058673,7,1,1,E14.901,1.0
1179516,04525478,1,1,1,E14.901,1.0
1179517,04525478,1,2,1,E14.901,1.0
1179748,4641025,1,1,1,E14.901,1.0
1179749,4641025,1,2,1,E14.901,1.0
1179750,4641025,1,3,1,E14.901,1.0
1179792,4981737,1,A,3,E14.901,1.0
1179911,4394714,5,A,5,E14.901,1.0
1179971,4549879,1,1,1,E14.901,1.0
1179972,4549879,1,2,1,E14.901,1.0
1179973,4549879,1,3,1,E14.901,1.0
1179977,4547713,1,1,1,E14.901,1.0
1179978,4547713,1,2,1,E14.901,1.0
1179979,4547713,1,3,1,E14.901,1.0

In [215]:
#筛选出频率E14.901 疾病的实际患病人数 2887人
DF_E14 = Out_TangE14['PATIENT_ID'].unique()   
#转格式
SS_E14 = Series(DF_E14)
SS_E14

0       04415618
1       04449557
2       04064208
3       04457799
4       04106429
5       04451323
6       04423285
7       04451713
8       04180061
9       04445883
10      04332973
11      04465841
12      04450158
13      04454233
14      06000110
15      04397469
16      04112631
17      04015466
18      04014160
19      06003937
20      04458566
21      08000883
22      04038438
23      08001119
24      04001204
25      04077039
26      04454566
27      06001260
28      04068446
29      04003714
          ...
2857    04369505
2858    04936996
2859    04002587
2860    04951182
2861    04987697
2862    04958800
2863    04983628
2864    04632742
2865    04058474
2866    04984654
2867    90203673
2868    04985572
2869    04403466
2870    04986802
2871    04929228
2872    02001634
2873    04945023
2874    04035899
2875    04957606
2876    04956729
2877    04995790
2878    04967746
2879    06000656
2880    04996440
2881    04525478
2882     4641025
2883     4981737
2884     4394714
2885     4549879
2886     4547713
Length: 2887, dtype: object

In [218]:
DF_E14

array(['04415618', '04449557', '04064208', ..., 4394714, 4549879, 4547713],
      dtype=object)

In [219]:
DF_E10

array(['04000997', '04030316', '07012647', '04256855', '07017898',
       '04294358', '07025700', '04014442', '04205533', '04268437',
       '04316909', '08001236', '04067899', '04371961', '04368077',
       '04099960', '04180374', '06001687', '04037492', '04201827',
       '04277849', '07002616', '04267230', '04042485', '04368430',
       '04066218', '04102939', '04371391', '04317810', '04009024',
       '04323013', '04311124', '04120085', '04286424', '07017279',
       '07031267', '04433905', '04410854', '04427293', '04242798',
       '07045729', '04552855', '04287440', '04682304', '04650740',
       '04622330', '04597097', '04577885', '04015320', '04635458',
       '04473988', '07050312', '04781837', '04735082', '04924510',
       '06001828', '04570541', '04296502', '04674497', '04092112',
       '04831791', '07056312', '04871776', '07085842', '04156075',
       '04548773', '04820464', '04765011', '04762919', '04113063',
       '04912543', '04913639', '04912809', '04921331', '04093104',
       '04101389', '04746963', '04685775', '04941401', '07081584',
       '04752804', '04784679', '04856143', '04224013', '04903734',
       '07047355', '04899785', '04935061', '04922829', '04942011',
       '04912332', '07038329', '04938745', '07092845', '04948002',
       '04949105', '04941873', '04971142', '02000339', '08001553',
       '04817667', '04927665', '04870561', '04914247', '04930671',
       '07098527', '04998184', '90223435', '04075381', '04985346',
       '04997611', '04951741'], dtype=object)

In [220]:
# 9.1 表 病人主索引  PAT_MASTER_INDEX 预处理后
PAT_MASTER_INDEX = pd.read_csv('F:/data/input/病人主索引_预.tsv', sep='\t')

In [224]:
# 输出9.1表中患有E10.901 疾病的人的信息（病人ID、性别、年龄）
output_E10_901 = PAT_MASTER_INDEX[PAT_MASTER_INDEX['PATIENT_ID'].isin(DF_E10)]

#输出疾病E10.901信息
output_E10_901.to_csv("F:/data/output/疾病E10_901信息_病人性别年龄.tsv")

In [225]:
# 输出9.1表中患有E14.901 疾病的人的信息（病人ID、性别、年龄）
output_E14_901 = PAT_MASTER_INDEX[PAT_MASTER_INDEX['PATIENT_ID'].isin(DF_E14)]
#输出疾病E14.901信息
output_E14_901.to_csv("F:/data/output/疾病E14_901信息_病人性别年龄.tsv")

In [226]:
# 9.4 表 诊断记录  预处理后
PAT_DATA = pd.read_csv('F:/data/input/就诊日期.tsv', sep='\t')

In [227]:
PAT_DATA

        PATIENT_ID DIAGNOSIS_DATE
0         08000598      07-6月 -00
1         08000598      17-6月 -00
2         08000279      10-6月 -00
3         08000279      10-6月 -00
4         08000279      10-6月 -00
5         08000279      10-6月 -00
6         08000279      10-6月 -00
7         08000279      10-6月 -00
8         04012492      25-7月 -00
9         06001257      29-6月 -00
10        06001257      29-6月 -00
11        06001257      29-6月 -00
12        06001257      29-6月 -00
13        06001257      29-6月 -00
14        06001257      29-6月 -00
15        06001257      29-6月 -00
16        04012492      25-7月 -00
17        04004716      25-7月 -00
18        07002615      04-6月 -00
19        07002615      04-6月 -00
20        07002615      04-6月 -00
21        04005889      16-6月 -00
22        04010327      30-6月 -00
23        04010327      30-6月 -00
24        04010327      30-6月 -00
25        04010327      30-6月 -00
26        04007457      17-5月 -00
27        04007457      17-5月 -00
28        04007457      17-5月 -00
29        04010327      30-6月 -00
...            ...            ...
1178315   04191992      19-12月-17
1178316   08000519      05-12月-17
1178317   08000519      05-12月-17
1178318   08000519      05-12月-17
1178319   08000519      05-12月-17
1178320   08000519      05-12月-17
1178321   08000519      05-12月-17
1178322   08000519      05-12月-17
1178323   08000519      05-12月-17
1178324   08000519      05-12月-17
1178325   08000519      24-12月-17
1178326   08000519      26-12月-17
1178327   04965945      25-12月-17
1178328   04699201      06-11月-17
1178329   04699201      06-11月-17
1178330   04699201      06-11月-17
1178331   04699201      06-11月-17
1178332   04699201      06-11月-17
1178333   04699201      06-11月-17
1178334   04699201      06-11月-17
1178335   04699201      06-11月-17
1178336   04699201      06-11月-17
1178337   04699201      06-11月-17
1178338   04699201      06-11月-17
1178339   04699201      06-11月-17
1178340   04699201      06-11月-17
1178341   04699201      06-11月-17
1178342   04699201      06-11月-17
1178343   04699201      06-11月-17
1178344   04699201      06-11月-17

[1178345 rows x 2 columns]

In [242]:
# 含重复信息的就诊E10信息
DATA_count_E10 = PAT_DATA[PAT_DATA['PATIENT_ID'].isin(DF_E10)]
DATA_count_E10

        PATIENT_ID DIAGNOSIS_DATE
4625      04000997      09-5月 -00
4626      04000997      09-5月 -00
4631      04000997      09-5月 -00
5875      04067899      27-1月 -00
5876      04067899      27-1月 -00
5877      04067899      27-1月 -00
5878      04067899      27-1月 -00
5879      04067899      27-1月 -00
8585      04015320      30-10月-00
8586      04015320      30-10月-00
8587      04015320      30-10月-00
12924     04067899      07-6月 -00
12925     04067899      07-6月 -00
12926     04067899      07-6月 -00
12927     04067899      07-6月 -00
12928     04067899      07-6月 -00
12929     04067899      07-6月 -00
12930     04067899      07-6月 -00
12931     04067899      09-9月 -00
16723     04067899      22-9月 -00
16724     04067899      22-9月 -00
16725     04067899      22-9月 -00
16726     04067899      22-9月 -00
16727     04067899      22-9月 -00
16728     04067899      22-9月 -00
16729     04067899      22-9月 -00
22758     04067899      22-12月-00
22775     04067899      22-12月-00
22776     04067899      22-12月-00
22777     04067899      22-12月-00
...            ...            ...
1165795   04924510      20-7月 -17
1165796   04924510      20-7月 -17
1165797   04924510      20-7月 -17
1165798   04924510      20-7月 -17
1165799   04924510      20-7月 -17
1165800   04924510      20-7月 -17
1165801   04924510      20-7月 -17
1165802   04924510      20-7月 -17
1165803   04924510      20-7月 -17
1166751   07047355      10-4月 -18
1166752   07047355      10-4月 -18
1166753   07047355      10-4月 -18
1166754   07047355      10-4月 -18
1166755   07047355      10-4月 -18
1166756   07047355      10-4月 -18
1166757   07047355      10-4月 -18
1166758   07047355      10-4月 -18
1166759   07047355      10-4月 -18
1166760   07047355      10-4月 -18
1174939   04998184      28-2月 -18
1174940   04998184      28-2月 -18
1174941   04998184      28-2月 -18
1174942   04998184      28-2月 -18
1174943   04998184      28-2月 -18
1174944   04998184      28-2月 -18
1177802   04912809      06-2月 -18
1177803   04912809      06-2月 -18
1177804   04912809      06-2月 -18
1177805   04912809      06-2月 -18
1177806   04912809      06-2月 -18

[3505 rows x 2 columns]

In [243]:
# E10 就诊日期信息
PAT_NO_SAME_E10 = DATA_count_E10.drop_duplicates(['PATIENT_ID'],'last')
PAT_NO_SAME_E10
PAT_NO_SAME_E10.to_csv("F:/data/output/疾病E10_901信息_病人就诊日期.tsv")

In [244]:
DATA_count_E14 = PAT_DATA[PAT_DATA['PATIENT_ID'].isin(DF_E14)]
DATA_count_E14

        PATIENT_ID DIAGNOSIS_DATE
0         08000598      07-6月 -00
1         08000598      17-6月 -00
139       04008472      30-6月 -00
140       04008472      30-6月 -00
157       06000797      30-4月 -00
158       06000797      30-4月 -00
159       06000797      30-4月 -00
160       06000797      30-4月 -00
161       06000797      30-4月 -00
162       06000797      30-4月 -00
172       04008741      23-5月 -00
174       04008741      23-5月 -00
175       04008741      23-5月 -00
376       09000110      25-5月 -00
377       09000110      25-5月 -00
378       09000110      25-5月 -00
379       09000110      25-5月 -00
380       09000110      25-5月 -00
452       04008472      22-5月 -00
454       04008472      22-5月 -00
459       04008472      22-5月 -00
602       04005437      12-6月 -00
603       04005437      12-6月 -00
604       04005437      12-6月 -00
692       04005863      19-6月 -00
693       04005863      19-6月 -00
694       04005863      19-6月 -00
710       08000549      15-6月 -00
711       08000549      15-6月 -00
712       08000549      15-6月 -00
...            ...            ...
1178037   04094394      29-12月-17
1178038   04094394      29-12月-17
1178039   04094394      29-12月-17
1178040   04094394      29-12月-17
1178041   04094394      29-12月-17
1178042   04094394      29-12月-17
1178043   04094394      29-12月-17
1178044   04986802      02-1月 -18
1178045   04986802      02-1月 -18
1178046   04986802      02-1月 -18
1178047   04986802      02-1月 -18
1178048   04986802      02-1月 -18
1178049   04986802      02-1月 -18
1178050   04986802      02-1月 -18
1178051   04986802      03-1月 -18
1178245   04994982      07-2月 -18
1178246   04994982      07-2月 -18
1178247   04994982      07-2月 -18
1178248   04994982      07-2月 -18
1178249   04994982      07-2月 -18
1178306   04191992      19-12月-17
1178307   04191992      19-12月-17
1178308   04191992      19-12月-17
1178309   04191992      19-12月-17
1178310   04191992      19-12月-17
1178311   04191992      19-12月-17
1178312   04191992      19-12月-17
1178313   04191992      19-12月-17
1178314   04191992      19-12月-17
1178315   04191992      19-12月-17

[102034 rows x 2 columns]

In [245]:
# E14 就诊日期信息
PAT_NO_SAME_E14 = DATA_count_E14.drop_duplicates(['PATIENT_ID'],'last')
PAT_NO_SAME_E14

        PATIENT_ID DIAGNOSIS_DATE
288028    04395914      05-11月-10
288332    04372346      12-9月 -10
290005    04020394      30-9月 -10
290393    04247492      14-10月-10
291469    04383215      14-9月 -10
291490    04024336      27-8月 -10
291672    04389456      07-10月-10
292712    04393691      22-10月-10
293464    04388590      05-10月-10
293990    04169768      11-10月-10
294138    04394557      30-10月-10
296673    04270949      16-12月-08
297012    04271578      16-3月 -09
297547    04276861      04-3月 -09
297838    04142075      17-11月-08
298513    04275601      11-2月 -09
298890    04000217      09-12月-08
299775    08000012      13-11月-08
301694    04264653      03-11月-08
301733    04163182      03-11月-08
301904    04272214      28-12月-08
305657    04315649      30-8月 -09
306135    04286602      18-5月 -09
307856    04315889      29-8月 -09
308154    04086672      25-6月 -09
308621    04271316      30-12月-08
309611    04197253      28-8月 -09
309888    04296273      15-7月 -09
309902    04312051      03-8月 -09
312137    04078035      27-7月 -09
...            ...            ...
1176523   04888217      18-4月 -18
1176547   04058472      09-3月 -18
1176564   04000808      10-3月 -18
1176653   04207740      02-4月 -18
1176696   04259806      23-3月 -18
1176747   04928454      08-12月-17
1176834   04901388      25-12月-17
1176852   04402463      02-1月 -18
1176857   04989740      18-1月 -18
1176879   04168292      21-12月-17
1177190   04155135      14-3月 -18
1177284   04065508      24-4月 -18
1177292   04024497      24-4月 -18
1177345   04394714      01-1月 -18
1177431   04087589      11-4月 -18
1177448   04020289      03-2月 -18
1177490   04932300      26-1月 -18
1177509   04933062      02-2月 -18
1177730   04320583      08-11月-17
1177777   04632742      02-4月 -18
1177786   04940309      01-2月 -18
1177801   04932900      08-2月 -18
1177897   04515664      13-3月 -18
1178019   04984224      08-12月-17
1178024   04403466      22-12月-17
1178032   04166611      25-12月-17
1178043   04094394      29-12月-17
1178051   04986802      03-1月 -18
1178249   04994982      07-2月 -18
1178315   04191992      19-12月-17

[2882 rows x 2 columns]

In [246]:
PAT_NO_SAME_E14.to_csv("F:/data/output/疾病E14_901信息_病人就诊日期.tsv")

In [248]:
ID_Judge_Same = pd.read_csv('F:/data/input/ID重复判断.tsv', sep='\t')
ID_Judge_Same

       PATIENT_ID
0         4971445
1         4972977
2         4921331
3         4120085
4         4368077
5         4368077
6         4427293
7         4427293
8         4674497
9         4935061
10        4972976
11        4981557
12        4998184
13        7081584
14        7092845
15        7094987
16        4345572
17        4532956
18        4573187
19        4668451
20        4794857
21        7025700
22        4345572
23        4403985
24        4794857
25        4479428
26        4371391
27        7056312
28        4479428
29        4674066
...           ...
12081     4989676
12082     6000110
12083     6000656
12084    90151944
12085     4105692
12086     4983661
12087     6000110
12088     6000656
12089     4099327
12090     4993430
12091      941327
12092     4492605
12093     2000253
12094     4225724
12095     4883229
12096     4896745
12097     4906604
12098     4265000
12099     4896745
12100     4439703
12101    90144617
12102     4439703
12103    90144617
12104     4035021
12105     4060014
12106     4060014
12107     4566117
12108     4742817
12109     4855150
12110     4882015

[12111 rows x 1 columns]

In [249]:
DF_ID_Judge_Same = ID_Judge_Same['PATIENT_ID'].unique()   
#转格式
SS_ID_Judge_Same = Series(DF_ID_Judge_Same)
SS_ID_Judge_Same

0         4971445
1         4972977
2         4921331
3         4120085
4         4368077
5         4427293
6         4674497
7         4935061
8         4972976
9         4981557
10        4998184
11        7081584
12        7092845
13        7094987
14        4345572
15        4532956
16        4573187
17        4668451
18        4794857
19        7025700
20        4403985
21        4479428
22        4371391
23        7056312
24        4674066
25        4940588
26        4005008
27        4488405
28        4608567
29        4831791
           ...
10397     4095751
10398     4105692
10399     4168626
10400     4216172
10401     4581265
10402     4597728
10403     4600302
10404     4983661
10405     4989676
10406     6000110
10407     6000656
10408    90151944
10409     4099327
10410     4993430
10411      941327
10412     4492605
10413     2000253
10414     4225724
10415     4883229
10416     4896745
10417     4906604
10418     4265000
10419     4439703
10420    90144617
10421     4035021
10422     4060014
10423     4566117
10424     4742817
10425     4855150
10426     4882015
Length: 10427, dtype: int64

In [252]:
ID_Judge_Same = pd.read_csv('F:/data/input/ID重复判断.tsv', sep='\t')
ID_Judge_Same['PATIENT_ID'].value_counts()

4067899    3
8001236    3
7047355    3
4268437    3
4000997    3
4903734    3
4099960    3
4287440    3
4570541    3
4030316    3
4256855    3
7045729    3
7038329    3
4685775    3
4927435    2
4153253    2
4067279    2
4086684    2
4294073    2
4072214    2
4699852    2
4224447    2
4477065    2
6002115    2
4568480    2
4145349    2
4185891    2
4616387    2
4178675    2
4974561    2
          ..
4532384    1
4567511    1
4704476    1
4284633    1
4952279    1
4741334    1
4638932    1
4041390    1
4434128    1
4589209    1
4446463    1
4634858    1
4780286    1
4346095    1
4501763    1
4768013    1
4568393    1
4956425    1
4788487    1
4178181    1
4999428    1
4487426    1
4958448    1
4575487    1
4741374    1
4391165    1
4535229    1
4806902    1
4950260    1
4920236    1
Name: PATIENT_ID, Length: 10427, dtype: int64

In [254]:
output_judge = ID_Judge_Same['PATIENT_ID'].value_counts()
output_judge.to_csv('F:/data/output/糖尿病去重ID频率统计.tsv')

In [ ]:
#################高血压#######################

In [5]:
# 表4.1 疾病字典 DIAGNOSIS_DICT  获得疾病代码
DIAGNOSIS_DICT = pd.read_csv('F:/data/input/诊断代码.tsv', sep='\t')

In [4]:
print(DIAGNOSIS_DICT)

         DIAGNOSIS_CODE DIAGNOSIS_NAME  STD_INDICATOR  APPROVED_INDICATOR  \
0               Z99.201   肾脏透析(CAPD)状态              1                   1
1               Z99.101        依赖于呼吸器者              1                   1
2               Z98.881       皮肤恶性肿瘤术后              1                   1
3               Z98.880         心肺复苏术后              1                   1
4               Z98.879          鼻整形术后              1                   1
5               Z98.878        头面部肿瘤术后              1                   1
6               Z98.877           吸脂术后              1                   1
7               Z98.875        肾结石碎石术后              1                   1
8               Z98.874        脊柱内固定术后              1                   1
9               Z98.873    支气管动脉栓塞治疗术后              1                   1
10              Z98.872         阑尾切除术后              1                   1
11              Z98.871       胸腔肿瘤切除术后              1                   1
12              Z98.870          鼻窦癌术后              1                   1
13              Z98.869         输卵管癌术后              1                   1
14              Z98.868           引产术后              1                   1
15              Z98.867          胆囊癌术后              1                   1
16              Z98.866          胰腺炎术后              1                   1
17              Z98.865          腮腺癌术后              1                   1
18              Z98.864         食道旷置术后              1                   1
19              Z98.863        肝介入治疗术后              1                   1
20              Z98.862        子宫颈肿瘤术后              1                   1
21              Z98.861         子宫肿瘤术后              1                   1
22              Z98.860           开颅术后              1                   1
23              Z98.859          剖宫产术后              1                   1
24              Z98.858       食管支架植入术后              1                   1
25              Z98.857           唇癌术后              1                   1
26              Z98.856      回盲部肿瘤切除术后              1                   1
27              Z98.855         颌下腺癌术后              1                   1
28              Z98.854       风湿性心脏病术后              1                   1
29              Z98.853         颅咽管瘤术后              1                   1
...                 ...            ...            ...                 ...
16040           A03.802         菌痢混合感染              1                   1
16041           A03.801       不定型志贺菌痢疾              1                   1
16042           A03.301       宋内氏志贺菌痢疾              1                   1
16043           A03.201        鲍氏志贺菌痢疾              1                   1
16044           A03.101        福氏志贺菌痢疾              1                   1
16045           A03.001       什密氏志贺菌痢疾              1                   1
16046           A02.903      鼠伤寒沙门氏菌感染              1                   1
16047           A02.902      沙门氏菌属食物中毒              1                   1
16048           A02.901         沙门氏菌感染              1                   1
16049  A02.202+J17.001*        沙门氏菌性肺炎              1                   1
16050  A02.201+G01  01*       沙门氏菌性脑膜炎              1                   1
16051           A02.102     沙门氏菌鼠伤寒败血症              1                   1
16052           A02.101        沙门氏菌败血症              1                   1
16053           A02.009    沙门氏菌伦敦血清型肠炎              1                   1
16054           A02.008      阿哥拉沙门氏菌肠炎              1                   1
16055           A02.007       C群沙门氏菌肠炎              1                   1
16056           A02.006       B群沙门氏菌肠炎              1                   1
16057           A02.005       婴儿沙门氏菌肠炎              1                   1
16058           A02.004         沙门氏菌肠炎              1                   1
16059           A02.003       沙门氏菌肠道感染              1                   1
16060           A02.002      鼠伤寒沙门氏菌肠炎              1                   1
16061           A02.001        沙门氏菌胃肠炎              1                   1
16062           A01.401            副伤寒              1                   1
16063           A01.301           副伤寒丙              1                   1
16064           A01.201           副伤寒乙              1                   1
16065           A01.101           副伤寒甲              1                   1
16066           A01.001             伤寒              1                   1
16067           A00.901             霍乱              1                   1
16068           A00.101      副霍乱埃尔托生物型              1                   1
16069           A00.001          霍乱古典型              1                   1

      CREATE_DATE INPUT_CODE  INPUT_CODE_WB  DIAGNOSIS_DICT  DISEASE_SORT  \
0       29-9月 -15   SZTXCAPD            NaN             NaN           NaN
1       29-9月 -15    YLYHXQZ            NaN             NaN           NaN
2       29-9月 -15   PFEXZLSH            NaN             NaN           NaN
3       29-9月 -15     XFFSSH            NaN             NaN           NaN
4       29-9月 -15      BZXSH            NaN             NaN           NaN
5       29-9月 -15    TMBZLSH            NaN             NaN           NaN
6       29-9月 -15       XZSH            NaN             NaN           NaN
7       29-9月 -15    SJSSSSH            NaN             NaN           NaN
8       29-9月 -15    JZNGDSH            NaN             NaN           NaN
9       29-9月 -15   ZQGDMSSZ            NaN             NaN           NaN
10      29-9月 -15     LWQCSH            NaN             NaN           NaN
11      29-9月 -15   XQZLQCSH            NaN             NaN           NaN
12      29-9月 -15      BDASH            NaN             NaN           NaN
13      29-9月 -15     SLGASH            NaN             NaN           NaN
14      29-9月 -15       YCSH            NaN             NaN           NaN
15      29-9月 -15      DNASH            NaN             NaN           NaN
16      29-9月 -15      YXYSH            NaN             NaN           NaN
17      29-9月 -15      SXASH            NaN             NaN           NaN
18      29-9月 -15     SDKZSH            NaN             NaN           NaN
19      29-9月 -15    GJRZLSH            NaN             NaN           NaN
20      29-9月 -15    ZGJZLSH            NaN             NaN           NaN
21      29-9月 -15     ZGZLSH            NaN             NaN           NaN
22      29-9月 -15       KLSH            NaN             NaN           NaN
23      29-9月 -15      PGCSH            NaN             NaN           NaN
24      29-9月 -15   SGZJZRSH            NaN             NaN           NaN
25      29-9月 -15       CASH            NaN             NaN           NaN
26      29-9月 -15   HMBZLQCS            NaN             NaN           NaN
27      29-9月 -15     HXXASH            NaN             NaN           NaN
28      29-9月 -15   FSXXZBSH            NaN             NaN           NaN
29      29-9月 -15     LYGLSH            NaN             NaN           NaN
...           ...        ...            ...             ...           ...
16040   29-9月 -15     JLHHGR            NaN             NaN           NaN
16041   29-9月 -15   BDXZHJLJ            NaN             NaN           NaN
16042   29-9月 -15   SNSZHJLJ            NaN             NaN           NaN
16043   29-9月 -15    BSZHJLJ            NaN             NaN           NaN
16044   29-9月 -15    FSZHJLJ            NaN             NaN           NaN
16045   29-9月 -15   SMSZHJLJ            NaN             NaN           NaN
16046   29-9月 -15   SSHSMSJG            NaN             NaN           NaN
16047   29-9月 -15   SMSJSSWZ            NaN             NaN           NaN
16048   29-9月 -15     SMSJGR            NaN             NaN           NaN
16049   29-9月 -15    SMSJXFY            NaN             NaN           NaN
16050   29-9月 -15   SMSJXNMY            NaN             NaN           NaN
16051   29-9月 -15   SMSJSSHB            NaN             NaN           NaN
16052   29-9月 -15    SMSJBXZ            NaN             NaN           NaN
16053   29-9月 -15   SMSJLDXQ            NaN             NaN           NaN
16054   29-9月 -15   AGLSMSJC            NaN             NaN           NaN
16055   29-9月 -15   CQSMSJCY            NaN             NaN           NaN
16056   29-9月 -15   BQSMSJCY            NaN             NaN           NaN
16057   29-9月 -15   YESMSJCY            NaN             NaN           NaN
16058   29-9月 -15     SMSJCY            NaN             NaN           NaN
16059   29-9月 -15   SMSJCDGR            NaN             NaN           NaN
16060   29-9月 -15   SSHSMSJC            NaN             NaN           NaN
16061   29-9月 -15    SMSJWCY            NaN             NaN           NaN
16062   29-9月 -15        FSH            NaN             NaN           NaN
16063   29-9月 -15       FSHB            NaN             NaN           NaN
16064   29-9月 -15       FSHY            NaN             NaN           NaN
16065   29-9月 -15       FSHJ            NaN             NaN           NaN
16066   29-9月 -15         SH            NaN             NaN           NaN
16067   29-9月 -15         HL            NaN             NaN           NaN
16068   29-9月 -15   FHLAETSW            NaN             NaN           NaN
16069   29-9月 -15      HLGDX            NaN             NaN           NaN

      CODE_VERSION
0         ICD10_15
1         ICD10_15
2         ICD10_15
3         ICD10_15
4         ICD10_15
5         ICD10_15
6         ICD10_15
7         ICD10_15
8         ICD10_15
9         ICD10_15
10        ICD10_15
11        ICD10_15
12        ICD10_15
13        ICD10_15
14        ICD10_15
15        ICD10_15
16        ICD10_15
17        ICD10_15
18        ICD10_15
19        ICD10_15
20        ICD10_15
21        ICD10_15
22        ICD10_15
23        ICD10_15
24        ICD10_15
25        ICD10_15
26        ICD10_15
27        ICD10_15
28        ICD10_15
29        ICD10_15
...            ...
16040     ICD10_15
16041     ICD10_15
16042     ICD10_15
16043     ICD10_15
16044     ICD10_15
16045     ICD10_15
16046     ICD10_15
16047     ICD10_15
16048     ICD10_15
16049     ICD10_15
16050     ICD10_15
16051     ICD10_15
16052     ICD10_15
16053     ICD10_15
16054     ICD10_15
16055     ICD10_15
16056     ICD10_15
16057     ICD10_15
16058     ICD10_15
16059     ICD10_15
16060     ICD10_15
16061     ICD10_15
16062     ICD10_15
16063     ICD10_15
16064     ICD10_15
16065     ICD10_15
16066     ICD10_15
16067     ICD10_15
16068     ICD10_15
16069     ICD10_15

[16070 rows x 10 columns]

In [6]:
# 经检验 需要全部字段 此处重做 表9.7 诊断分类记录 DIAGNOSTIC_CATEGORY 预处理 得到病人ID和疾病ID
DIAGNOSTIC_CATEGORY = pd.read_csv('F:/data/input/诊断分类记录_全.tsv', sep='\t')

d:\programdata\anaconda3\envs\tensorflow\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
print(DIAGNOSTIC_CATEGORY)

        PATIENT_ID  VISIT_ID DIAGNOSIS_TYPE  DIAGNOSIS_NO    DIAGNOSIS_CODE  \
0         04003500         2              2             1           261  01
1         04003500         2              3             1           307.101
2         04003500         2              3             2           273.801
3         04003500         2              3             3           280  01
4         04010720         1              5             1           799.402
5         04010720         1              6             1           567.905
6         04007153         1              1             1  070.901+573.106*
7         04007153         1              2             1  070.901+573.106*
8         04007153         1              3             1           155.201
9         04017543         1              1             1           162.901
10        04017543         1              2             1           793.101
11        04017543         1              3             1           793.101
12        04009395         1              1             1           155.201
13        04009395         1              2             1           155.201
14        04009395         1              3             1           155.201
15        04004782         1              1             1           150.401
16        04004782         1              2             1           150.401
17        04004782         1              2             2           151.001
18        04004782         1              3             1           150.401
19        04004782         1              3             2           151.001
20        04004782         1              6             1           998.501
21        04004782         1              8             1          M81400/3
22        04012439         1              1             1           250.002
23        04012439         1              2             1           250.002
24        04012439         1              2             2  250.301+583.803*
25        04012439         1              2             3           585  01
26        04012439         1              3             1           250.002
27        04012439         1              3             2  250.301+583.803*
28        04012439         1              3             3           585  01
29        04013646         1              1             1           174.901
...            ...       ...            ...           ...               ...
1180013    4802412         2              A             2           K52.904
1180014    4802412         2              A             3           I10  06
1180015    4802412         2              A             4           I21.902
1180016    4802412         2              A             5           K31.825
1180017    4032432         1              2             7           M19.992
1180018    4032432         1              2             8           Z48.901
1180019    4032432         1              2             9           I10  04
1180020    4032432         1              3             1           S72.004
1180021    4032432         1              A             1           S32.401
1180022    4032432         1              A             2           T09.302
1180023    4032432         1              A             3           S89.901
1180024    4032432         1              A             4           M50.221
1180025    4032432         1              A             5           M47.991
1180026    4032432         1              A             6           M19.992
1180027    4032432         1              A             7           Z48.901
1180028    4032432         1              A             8           I10  04
1180029    4032432         1              7             1           W19.901
1180030    4469763         3              2             2           I10  05
1180031    4469763         3              3             1           T30.001
1180032    4469763         3              A             1           I10  05
1180033    4469763         3              7             1           X12.901
1180034    4290249        10              1             1           L89.901
1180035    4290249        10              2             1           L89.901
1180036    4290249        10              2             2           G40.803
1180037    4290249        10              2             3           R40.201
1180038    4290249        10              2             4           I10  03
1180039    4290249        10              2             5           Z93.001
1180040    4290249        10              3             1           L89.901
1180041    4290249        10              A             1           G40.803
1180042    4290249        10              A             2           R40.201

         CODE_NO
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
5            NaN
6            NaN
7            NaN
8            NaN
9            NaN
10           NaN
11           NaN
12           NaN
13           NaN
14           NaN
15           NaN
16           NaN
17           NaN
18           NaN
19           NaN
20           NaN
21           NaN
22           NaN
23           NaN
24           NaN
25           NaN
26           NaN
27           NaN
28           NaN
29           NaN
...          ...
1180013      1.0
1180014      1.0
1180015      1.0
1180016      1.0
1180017      1.0
1180018      1.0
1180019      1.0
1180020      1.0
1180021      1.0
1180022      1.0
1180023      1.0
1180024      1.0
1180025      1.0
1180026      1.0
1180027      1.0
1180028      1.0
1180029      1.0
1180030      1.0
1180031      1.0
1180032      1.0
1180033      1.0
1180034      1.0
1180035      1.0
1180036      1.0
1180037      1.0
1180038      1.0
1180039      1.0
1180040      1.0
1180041      1.0
1180042      1.0

[1180043 rows x 6 columns]

In [8]:
#高血压三级
alist=['I10  06']
DIAGNOSTIC_CATEGORY[DIAGNOSTIC_CATEGORY['DIAGNOSIS_CODE'].isin(alist)]

,PATIENT_ID,VISIT_ID,DIAGNOSIS_TYPE,DIAGNOSIS_NO,DIAGNOSIS_CODE,CODE_NO
240979,04051346,7,2,1,I10 06,1.0
240980,04051346,7,3,1,I10 06,1.0
241016,07056873,1,2,2,I10 06,1.0
241022,07056873,1,A,1,I10 06,1.0
241095,04282667,1,1,1,I10 06,1.0
241102,04451590,1,1,1,I10 06,1.0
241219,06003511,11,A,1,I10 06,NaN
241323,04069705,26,A,2,I10 06,1.0
241369,04323020,7,2,5,I10 06,NaN
241388,04323020,7,3,5,I10 06,NaN
241544,04457841,1,3,2,I10 06,1.0
241549,04457844,1,2,1,I10 06,1.0
241551,04457844,1,3,1,I10 06,1.0
241567,04454174,1,A,1,I10 06,1.0
241682,04411099,1,1,1,I10 06,1.0
241686,04411099,1,A,2,I10 06,1.0
241701,04131836,8,1,1,I10 06,1.0
241708,04131836,8,3,2,I10 06,1.0
241716,04161415,1,2,1,I10 06,1.0
241717,04161415,1,3,1,I10 06,1.0
241842,04230295,1,3,1,I10 06,1.0
241852,04326035,2,1,1,I10 06,1.0
241853,04326035,2,2,1,I10 06,1.0
241854,04326035,2,3,1,I10 06,1.0
241861,04068254,2,A,7,I10 06,1.0
241878,04460009,1,2,3,I10 06,1.0
241882,04460009,1,3,3,I10 06,1.0
241890,04106429,8,2,1,I10 06,1.0
241891,04106429,8,3,1,I10 06,1.0
241898,04261192,1,1,1,I10 06,1.0
...,...,...,...,...,...,...
1179075,90220533,1,2,4,I10 06,1.0
1179079,90220533,1,A,3,I10 06,1.0
1179124,02000674,1,2,1,I10 06,1.0
1179133,04064539,7,A,5,I10 06,1.0
1179139,02000674,1,1,1,I10 06,1.0
1179140,02000674,1,3,1,I10 06,1.0
1179525,04883819,1,A,1,I10 06,1.0
1179538,04663592,1,A,2,I10 06,1.0
1179577,04251964,1,2,2,I10 06,1.0
1179580,04251964,1,A,1,I10 06,1.0
1179651,4030598,6,2,5,I10 06,1.0
1179656,4030598,6,A,4,I10 06,1.0
1179670,4944210,16,1,1,I10 06,1.0
1179671,4944210,16,2,1,I10 06,1.0
1179675,4944210,16,3,1,I10 06,1.0
1179745,4435497,7,A,4,I10 06,1.0
1179786,4981737,1,1,1,I10 06,1.0
1179787,4981737,1,2,1,I10 06,1.0
1179789,4981737,1,3,1,I10 06,1.0
1179802,4977248,1,2,4,I10 06,1.0
1179807,4977248,1,A,3,I10 06,1.0
1179831,4909795,2,2,1,I10 06,1.0
1179832,4909795,2,3,1,I10 06,1.0
1179888,8000278,31,A,1,I10 06,1.0
1179896,4502694,1,A,1,I10 06,1.0
1179904,4394714,5,1,1,I10 06,1.0
1179908,4394714,5,A,2,I10 06,1.0
1179921,4946613,2,A,5,I10 06,1.0
1180008,4802412,2,2,4,I10 06,1.0
1180014,4802412,2,A,3,I10 06,1.0

In [9]:
#重定义
test = DIAGNOSTIC_CATEGORY[DIAGNOSTIC_CATEGORY['DIAGNOSIS_CODE'].isin(alist)]
print(test)

        PATIENT_ID  VISIT_ID DIAGNOSIS_TYPE  DIAGNOSIS_NO DIAGNOSIS_CODE  \
240979    04051346         7              2             1        I10  06
240980    04051346         7              3             1        I10  06
241016    07056873         1              2             2        I10  06
241022    07056873         1              A             1        I10  06
241095    04282667         1              1             1        I10  06
241102    04451590         1              1             1        I10  06
241219    06003511        11              A             1        I10  06
241323    04069705        26              A             2        I10  06
241369    04323020         7              2             5        I10  06
241388    04323020         7              3             5        I10  06
241544    04457841         1              3             2        I10  06
241549    04457844         1              2             1        I10  06
241551    04457844         1              3             1        I10  06
241567    04454174         1              A             1        I10  06
241682    04411099         1              1             1        I10  06
241686    04411099         1              A             2        I10  06
241701    04131836         8              1             1        I10  06
241708    04131836         8              3             2        I10  06
241716    04161415         1              2             1        I10  06
241717    04161415         1              3             1        I10  06
241842    04230295         1              3             1        I10  06
241852    04326035         2              1             1        I10  06
241853    04326035         2              2             1        I10  06
241854    04326035         2              3             1        I10  06
241861    04068254         2              A             7        I10  06
241878    04460009         1              2             3        I10  06
241882    04460009         1              3             3        I10  06
241890    04106429         8              2             1        I10  06
241891    04106429         8              3             1        I10  06
241898    04261192         1              1             1        I10  06
...            ...       ...            ...           ...            ...
1179075   90220533         1              2             4        I10  06
1179079   90220533         1              A             3        I10  06
1179124   02000674         1              2             1        I10  06
1179133   04064539         7              A             5        I10  06
1179139   02000674         1              1             1        I10  06
1179140   02000674         1              3             1        I10  06
1179525   04883819         1              A             1        I10  06
1179538   04663592         1              A             2        I10  06
1179577   04251964         1              2             2        I10  06
1179580   04251964         1              A             1        I10  06
1179651    4030598         6              2             5        I10  06
1179656    4030598         6              A             4        I10  06
1179670    4944210        16              1             1        I10  06
1179671    4944210        16              2             1        I10  06
1179675    4944210        16              3             1        I10  06
1179745    4435497         7              A             4        I10  06
1179786    4981737         1              1             1        I10  06
1179787    4981737         1              2             1        I10  06
1179789    4981737         1              3             1        I10  06
1179802    4977248         1              2             4        I10  06
1179807    4977248         1              A             3        I10  06
1179831    4909795         2              2             1        I10  06
1179832    4909795         2              3             1        I10  06
1179888    8000278        31              A             1        I10  06
1179896    4502694         1              A             1        I10  06
1179904    4394714         5              1             1        I10  06
1179908    4394714         5              A             2        I10  06
1179921    4946613         2              A             5        I10  06
1180008    4802412         2              2             4        I10  06
1180014    4802412         2              A             3        I10  06

         CODE_NO
240979       1.0
240980       1.0
241016       1.0
241022       1.0
241095       1.0
241102       1.0
241219       NaN
241323       1.0
241369       NaN
241388       NaN
241544       1.0
241549       1.0
241551       1.0
241567       1.0
241682       1.0
241686       1.0
241701       1.0
241708       1.0
241716       1.0
241717       1.0
241842       1.0
241852       1.0
241853       1.0
241854       1.0
241861       1.0
241878       1.0
241882       1.0
241890       1.0
241891       1.0
241898       1.0
...          ...
1179075      1.0
1179079      1.0
1179124      1.0
1179133      1.0
1179139      1.0
1179140      1.0
1179525      1.0
1179538      1.0
1179577      1.0
1179580      1.0
1179651      1.0
1179656      1.0
1179670      1.0
1179671      1.0
1179675      1.0
1179745      1.0
1179786      1.0
1179787      1.0
1179789      1.0
1179802      1.0
1179807      1.0
1179831      1.0
1179832      1.0
1179888      1.0
1179896      1.0
1179904      1.0
1179908      1.0
1179921      1.0
1180008      1.0
1180014      1.0

[24623 rows x 6 columns]

In [10]:
#筛选出频率高血压三级的实际患病人数 6049人
DF = test['PATIENT_ID'].unique()   
#转格式
SS = Series(DF)
SS

0       04051346
1       07056873
2       04282667
3       04451590
4       06003511
5       04069705
6       04323020
7       04457841
8       04457844
9       04454174
10      04411099
11      04131836
12      04161415
13      04230295
14      04326035
15      04068254
16      04460009
17      04106429
18      04261192
19      04466586
20      04077673
21      04101020
22      04327447
23      04462284
24      04465841
25      04465957
26      04442951
27      04432732
28      04178011
29      08000490
          ...
6019    04959616
6020    04960604
6021    04950308
6022    04706290
6023    04993834
6024    04350367
6025    04478581
6026    04998178
6027    04770494
6028    04983768
6029    04989682
6030    04009549
6031    04986336
6032    04998435
6033    04963808
6034    90220533
6035    02000674
6036    04883819
6037    04251964
6038     4030598
6039     4944210
6040     4435497
6041     4981737
6042     4977248
6043     4909795
6044     8000278
6045     4502694
6046     4394714
6047     4946613
6048     4802412
Length: 6049, dtype: object

In [11]:
#病人ID
DF

array(['04051346', '07056873', '04282667', ..., 4394714, 4946613, 4802412],
      dtype=object)

In [12]:
# 9.1 表 病人主索引  PAT_MASTER_INDEX 预处理后
PAT_MASTER_INDEX = pd.read_csv('F:/data/input/病人主索引_预.tsv', sep='\t')

In [13]:
# 输出9.1表中患有高血压 疾病的人的信息（病人ID、性别、年龄）
PAT_MASTER_INDEX[PAT_MASTER_INDEX['PATIENT_ID'].isin(DF)]

        PATIENT_ID SEX DATE_OF_BIRTH
19        08000278   男     01-4月 -26
148       09000865   男     01-11月-39
273       08000570   男     02-11月-25
400       07001157   男     29-7月 -60
413       08000596   男     01-10月-29
415       08000597   男     01-9月 -28
491       08000300   男     01-11月-29
546       04000217   男     01-1月 -22
549       04002205   女     06-7月 -30
555       04002944   男     25-11月-39
587       04002544   男     16-12月-30
688       08000299   男     01-1月 -26
708       08000118   男     08-12月-22
838       04005039   女     01-1月 -31
882       09000831   男     01-2月 -48
916       08000129   男     01-10月-14
1009      08000212   女     01-10月-23
1099      07027413   女     01-9月 -63
1206      06001077   男     17-7月 -53
1246      09000327   男     01-8月 -63
1276      08000304   男     01-7月 -28
1297      08000310   男     01-1月 -33
1485      04008700   女     08-3月 -33
1499      09000470   女     01-11月-39
1520      08000152   男     01-5月 -22
1524      08000199   男     01-10月-24
1534      08000130   男     01-4月 -20
1535      08000138   男     01-3月 -20
1654      06000797   女     30-6月 -28
1660      08000167   男     01-5月 -26
...            ...  ..           ...
1143702   04985251   女     04-1月 -45
1143843   04998435   女     13-6月 -30
1143954   04998755   女     21-2月 -48
1144211   04986448   男     06-5月 -51
1144327   04998442   男     19-4月 -36
1144650   04999178   女     14-4月 -30
1144963   04996030   女     25-2月 -33
1145046   04999187   男     29-3月 -49
1145062   04999395   女     20-1月 -70
1145108   04999840   男     27-4月 -33
1145515   04995335   男     29-4月 -31
1145560   04996532   男     19-12月-61
1145951   04997189   男     18-10月-41
1146145   04996701   男     08-7月 -55
1146207   04996376   男     26-3月 -47
1146242   02000176   男     13-11月-54
1146552   02003051   女     05-8月 -36
1146974   04998023   男     08-7月 -59
1147431   04998853   男     22-2月 -46
1148020   04997823   男     23-1月 -44
1148055   02000159   男     30-5月 -41
1148277   02001573   男     27-12月-46
1148472   02000674   女     01-1月 -43
1149625   02002830   男     28-2月 -40
1149825   04996599   女     07-9月 -25
1149894   02003357   女     24-5月 -37
1150184   04991820   男     14-1月 -44
1150230   04996779   男     19-4月 -42
1150959   04999329   男     10-8月 -65
1153631   02004030   女     20-10月-66

[6034 rows x 3 columns]

In [14]:
output_sex = PAT_MASTER_INDEX[PAT_MASTER_INDEX['PATIENT_ID'].isin(DF)]

In [15]:
#输出疾病1信息
output_sex.to_csv("F:/data/output/高血压三级_年龄_性别_信息.tsv")

In [16]:
# 9.4 表 诊断记录  预处理后
PAT_DATA = pd.read_csv('F:/data/input/就诊日期.tsv', sep='\t')

In [17]:
PAT_DATA

        PATIENT_ID DIAGNOSIS_DATE
0         08000598      07-6月 -00
1         08000598      17-6月 -00
2         08000279      10-6月 -00
3         08000279      10-6月 -00
4         08000279      10-6月 -00
5         08000279      10-6月 -00
6         08000279      10-6月 -00
7         08000279      10-6月 -00
8         04012492      25-7月 -00
9         06001257      29-6月 -00
10        06001257      29-6月 -00
11        06001257      29-6月 -00
12        06001257      29-6月 -00
13        06001257      29-6月 -00
14        06001257      29-6月 -00
15        06001257      29-6月 -00
16        04012492      25-7月 -00
17        04004716      25-7月 -00
18        07002615      04-6月 -00
19        07002615      04-6月 -00
20        07002615      04-6月 -00
21        04005889      16-6月 -00
22        04010327      30-6月 -00
23        04010327      30-6月 -00
24        04010327      30-6月 -00
25        04010327      30-6月 -00
26        04007457      17-5月 -00
27        04007457      17-5月 -00
28        04007457      17-5月 -00
29        04010327      30-6月 -00
...            ...            ...
1178315   04191992      19-12月-17
1178316   08000519      05-12月-17
1178317   08000519      05-12月-17
1178318   08000519      05-12月-17
1178319   08000519      05-12月-17
1178320   08000519      05-12月-17
1178321   08000519      05-12月-17
1178322   08000519      05-12月-17
1178323   08000519      05-12月-17
1178324   08000519      05-12月-17
1178325   08000519      24-12月-17
1178326   08000519      26-12月-17
1178327   04965945      25-12月-17
1178328   04699201      06-11月-17
1178329   04699201      06-11月-17
1178330   04699201      06-11月-17
1178331   04699201      06-11月-17
1178332   04699201      06-11月-17
1178333   04699201      06-11月-17
1178334   04699201      06-11月-17
1178335   04699201      06-11月-17
1178336   04699201      06-11月-17
1178337   04699201      06-11月-17
1178338   04699201      06-11月-17
1178339   04699201      06-11月-17
1178340   04699201      06-11月-17
1178341   04699201      06-11月-17
1178342   04699201      06-11月-17
1178343   04699201      06-11月-17
1178344   04699201      06-11月-17

[1178345 rows x 2 columns]

In [18]:
DATA_count = PAT_DATA[PAT_DATA['PATIENT_ID'].isin(DF)]

In [19]:
DATA_count

        PATIENT_ID DIAGNOSIS_DATE
0         08000598      07-6月 -00
1         08000598      17-6月 -00
139       04008472      30-6月 -00
140       04008472      30-6月 -00
157       06000797      30-4月 -00
158       06000797      30-4月 -00
159       06000797      30-4月 -00
160       06000797      30-4月 -00
161       06000797      30-4月 -00
162       06000797      30-4月 -00
388       04032188      24-5月 -00
389       04032188      24-5月 -00
390       04032188      24-5月 -00
391       04032188      24-5月 -00
392       04032188      24-5月 -00
452       04008472      22-5月 -00
454       04008472      22-5月 -00
459       04008472      22-5月 -00
540       04032188      09-6月 -00
544       04032188      09-6月 -00
552       04032188      09-6月 -00
555       04032188      09-6月 -00
562       04032188      09-6月 -00
710       08000549      15-6月 -00
711       08000549      15-6月 -00
712       08000549      15-6月 -00
713       08000549      15-6月 -00
714       08000549      15-6月 -00
715       08000549      15-6月 -00
716       08000549      15-6月 -00
...            ...            ...
1178290   04965945      25-12月-17
1178291   04965945      25-12月-17
1178306   04191992      19-12月-17
1178307   04191992      19-12月-17
1178308   04191992      19-12月-17
1178309   04191992      19-12月-17
1178310   04191992      19-12月-17
1178311   04191992      19-12月-17
1178312   04191992      19-12月-17
1178313   04191992      19-12月-17
1178314   04191992      19-12月-17
1178315   04191992      19-12月-17
1178327   04965945      25-12月-17
1178328   04699201      06-11月-17
1178329   04699201      06-11月-17
1178330   04699201      06-11月-17
1178331   04699201      06-11月-17
1178332   04699201      06-11月-17
1178333   04699201      06-11月-17
1178334   04699201      06-11月-17
1178335   04699201      06-11月-17
1178336   04699201      06-11月-17
1178337   04699201      06-11月-17
1178338   04699201      06-11月-17
1178339   04699201      06-11月-17
1178340   04699201      06-11月-17
1178341   04699201      06-11月-17
1178342   04699201      06-11月-17
1178343   04699201      06-11月-17
1178344   04699201      06-11月-17

[206075 rows x 2 columns]

In [21]:
PAT_NO_SAME_1 = DATA_count.drop_duplicates(['PATIENT_ID'],'last')
PAT_NO_SAME_1

        PATIENT_ID DIAGNOSIS_DATE
288359    04393224      18-10月-10
289280    04083884      02-10月-10
289689    04258416      25-5月 -10
289908    04384270      16-9月 -10
290005    04020394      30-9月 -10
290393    04247492      14-10月-10
291279    04164974      30-8月 -10
291469    04383215      14-9月 -10
291490    04024336      27-8月 -10
292848    04017234      18-9月 -10
293332    04335338      09-9月 -10
293731    04353751      09-10月-10
293990    04169768      11-10月-10
293994    04370273      25-10月-10
294107    04253637      11-11月-10
294194    04091511      25-8月 -10
294230    04206732      21-9月 -10
294423    04381977      06-9月 -10
294840    04278200      09-3月 -09
295758    04275193      07-2月 -09
296057    04050882      26-11月-08
296214    06000055      24-11月-08
297070    04232086      09-3月 -09
297295    04251321      21-10月-08
297813    04190920      07-11月-08
298550    04274722      14-2月 -09
298890    04000217      09-12月-08
298964    04113345      13-12月-08
298966    04044239      23-12月-08
299023    04045443      04-3月 -09
...            ...            ...
1177435   04998404      11-4月 -18
1177441   04039109      11-4月 -18
1177445   04174744      11-4月 -18
1177448   04020289      03-2月 -18
1177479   04102162      02-2月 -18
1177509   04933062      02-2月 -18
1177561   04727665      27-2月 -18
1177582   04998165      27-2月 -18
1177629   04968309      08-3月 -18
1177655   04656458      12-3月 -18
1177730   04320583      08-11月-17
1177754   08000578      21-12月-17
1177776   04740605      29-3月 -18
1177777   04632742      02-4月 -18
1177801   04932900      08-2月 -18
1177886   04944561      13-3月 -18
1177897   04515664      13-3月 -18
1177898   04610057      15-3月 -18
1177912   04045389      19-3月 -18
1177919   08000696      23-2月 -18
1177944   04987091      21-1月 -18
1178043   04094394      29-12月-17
1178061   04324558      17-12月-17
1178073   04971779      19-12月-17
1178129   04124932      23-4月 -18
1178130   02002830      23-4月 -18
1178182   04008417      20-5月 -17
1178315   04191992      19-12月-17
1178327   04965945      25-12月-17
1178344   04699201      06-11月-17

[6038 rows x 2 columns]

In [22]:
PAT_NO_SAME_1.to_csv("F:/data/output/高血压三级_就诊日期_信息.tsv")

In [23]:
#####统计高血压二级信息##########

In [24]:
# 表4.1 疾病字典 DIAGNOSIS_DICT 
DIAGNOSIS_DICT = pd.read_csv('F:/data/input/诊断代码.tsv', sep='\t')

In [25]:
# 经检验 需要全部字段 此处重做 表9.7 诊断分类记录 DIAGNOSTIC_CATEGORY 预处理 得到病人ID和疾病ID
DIAGNOSTIC_CATEGORY = pd.read_csv('F:/data/input/诊断分类记录_全.tsv', sep='\t')

d:\programdata\anaconda3\envs\tensorflow\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [26]:
print(DIAGNOSTIC_CATEGORY)

        PATIENT_ID  VISIT_ID DIAGNOSIS_TYPE  DIAGNOSIS_NO    DIAGNOSIS_CODE  \
0         04003500         2              2             1           261  01
1         04003500         2              3             1           307.101
2         04003500         2              3             2           273.801
3         04003500         2              3             3           280  01
4         04010720         1              5             1           799.402
5         04010720         1              6             1           567.905
6         04007153         1              1             1  070.901+573.106*
7         04007153         1              2             1  070.901+573.106*
8         04007153         1              3             1           155.201
9         04017543         1              1             1           162.901
10        04017543         1              2             1           793.101
11        04017543         1              3             1           793.101
12        04009395         1              1             1           155.201
13        04009395         1              2             1           155.201
14        04009395         1              3             1           155.201
15        04004782         1              1             1           150.401
16        04004782         1              2             1           150.401
17        04004782         1              2             2           151.001
18        04004782         1              3             1           150.401
19        04004782         1              3             2           151.001
20        04004782         1              6             1           998.501
21        04004782         1              8             1          M81400/3
22        04012439         1              1             1           250.002
23        04012439         1              2             1           250.002
24        04012439         1              2             2  250.301+583.803*
25        04012439         1              2             3           585  01
26        04012439         1              3             1           250.002
27        04012439         1              3             2  250.301+583.803*
28        04012439         1              3             3           585  01
29        04013646         1              1             1           174.901
...            ...       ...            ...           ...               ...
1180013    4802412         2              A             2           K52.904
1180014    4802412         2              A             3           I10  06
1180015    4802412         2              A             4           I21.902
1180016    4802412         2              A             5           K31.825
1180017    4032432         1              2             7           M19.992
1180018    4032432         1              2             8           Z48.901
1180019    4032432         1              2             9           I10  04
1180020    4032432         1              3             1           S72.004
1180021    4032432         1              A             1           S32.401
1180022    4032432         1              A             2           T09.302
1180023    4032432         1              A             3           S89.901
1180024    4032432         1              A             4           M50.221
1180025    4032432         1              A             5           M47.991
1180026    4032432         1              A             6           M19.992
1180027    4032432         1              A             7           Z48.901
1180028    4032432         1              A             8           I10  04
1180029    4032432         1              7             1           W19.901
1180030    4469763         3              2             2           I10  05
1180031    4469763         3              3             1           T30.001
1180032    4469763         3              A             1           I10  05
1180033    4469763         3              7             1           X12.901
1180034    4290249        10              1             1           L89.901
1180035    4290249        10              2             1           L89.901
1180036    4290249        10              2             2           G40.803
1180037    4290249        10              2             3           R40.201
1180038    4290249        10              2             4           I10  03
1180039    4290249        10              2             5           Z93.001
1180040    4290249        10              3             1           L89.901
1180041    4290249        10              A             1           G40.803
1180042    4290249        10              A             2           R40.201

         CODE_NO
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
5            NaN
6            NaN
7            NaN
8            NaN
9            NaN
10           NaN
11           NaN
12           NaN
13           NaN
14           NaN
15           NaN
16           NaN
17           NaN
18           NaN
19           NaN
20           NaN
21           NaN
22           NaN
23           NaN
24           NaN
25           NaN
26           NaN
27           NaN
28           NaN
29           NaN
...          ...
1180013      1.0
1180014      1.0
1180015      1.0
1180016      1.0
1180017      1.0
1180018      1.0
1180019      1.0
1180020      1.0
1180021      1.0
1180022      1.0
1180023      1.0
1180024      1.0
1180025      1.0
1180026      1.0
1180027      1.0
1180028      1.0
1180029      1.0
1180030      1.0
1180031      1.0
1180032      1.0
1180033      1.0
1180034      1.0
1180035      1.0
1180036      1.0
1180037      1.0
1180038      1.0
1180039      1.0
1180040      1.0
1180041      1.0
1180042      1.0

[1180043 rows x 6 columns]

In [27]:
alist=['I10  05']
DIAGNOSTIC_CATEGORY[DIAGNOSTIC_CATEGORY['DIAGNOSIS_CODE'].isin(alist)]

,PATIENT_ID,VISIT_ID,DIAGNOSIS_TYPE,DIAGNOSIS_NO,DIAGNOSIS_CODE,CODE_NO
240974,04230280,20,A,1,I10 05,1.0
241091,04031528,19,2,1,I10 05,1.0
241092,04031528,19,3,1,I10 05,1.0
241096,04282667,1,2,1,I10 05,1.0
241099,04282667,1,3,1,I10 05,1.0
241105,04451590,1,3,2,I10 05,1.0
241169,04272961,2,A,5,I10 05,1.0
241354,08000087,30,3,2,I10 05,1.0
241491,04450203,1,2,3,I10 05,1.0
241496,04450203,1,3,3,I10 05,1.0
241689,04457799,1,2,1,I10 05,1.0
241690,04457799,1,3,1,I10 05,1.0
241838,04418905,1,A,1,I10 05,1.0
241871,04123900,1,2,3,I10 05,1.0
241885,04123900,1,A,2,I10 05,1.0
241962,04115848,7,A,4,I10 05,1.0
242092,08000304,15,3,2,I10 05,1.0
242134,04180061,7,2,5,I10 05,1.0
242285,04230280,21,3,5,I10 05,1.0
242297,04403145,1,2,1,I10 05,1.0
242298,04403145,1,3,1,I10 05,1.0
242439,04297177,1,2,1,I10 05,1.0
242440,04297177,1,3,1,I10 05,1.0
242570,04085091,3,2,1,I10 05,1.0
242572,04085091,3,A,1,I10 05,1.0
242576,04095165,2,A,1,I10 05,1.0
242718,04454247,1,A,2,I10 05,1.0
242724,04320683,3,A,2,I10 05,1.0
242736,04460723,1,A,1,I10 05,1.0
242846,08001350,3,A,1,I10 05,1.0
...,...,...,...,...,...,...
1178031,04182839,1,2,2,I10 05,1.0
1178034,04182839,1,A,2,I10 05,1.0
1178037,04958783,1,1,2,I10 05,1.0
1178039,04958783,1,2,2,I10 05,1.0
1178041,04958783,1,A,1,I10 05,1.0
1178072,04995893,1,A,6,I10 05,1.0
1178212,08001142,22,A,3,I10 05,1.0
1178428,08000557,5,1,1,I10 05,1.0
1178596,04652917,3,2,2,I10 05,1.0
1178598,04652917,3,A,1,I10 05,1.0
1178956,04158846,1,A,2,I10 05,1.0
1179000,04081744,1,2,2,I10 05,1.0
1179003,04081744,1,A,1,I10 05,1.0
1179023,06000656,13,2,2,I10 05,1.0
1179034,06000656,13,A,1,I10 05,1.0
1179180,04926268,1,2,3,I10 05,1.0
1179184,04926268,1,A,2,I10 05,1.0
1179202,07046848,11,2,2,I10 05,1.0
1179204,07046848,11,A,1,I10 05,1.0
1179379,04717581,5,2,4,I10 05,1.0
1179386,04105692,14,A,3,I10 05,1.0
1179395,09001395,15,2,3,I10 05,1.0
1179401,09001395,15,A,2,I10 05,1.0
1179605,04717581,5,A,3,I10 05,1.0
1179688,4931356,14,2,4,I10 05,1.0
1179693,4931356,14,A,3,I10 05,1.0
1179756,4961930,2,2,9,I10 05,1.0
1179766,4961930,2,A,8,I10 05,1.0
1180030,4469763,3,2,2,I10 05,1.0
1180032,4469763,3,A,1,I10 05,1.0

In [28]:
#重定义
test = DIAGNOSTIC_CATEGORY[DIAGNOSTIC_CATEGORY['DIAGNOSIS_CODE'].isin(alist)]
print(test)

        PATIENT_ID  VISIT_ID DIAGNOSIS_TYPE  DIAGNOSIS_NO DIAGNOSIS_CODE  \
240974    04230280        20              A             1        I10  05
241091    04031528        19              2             1        I10  05
241092    04031528        19              3             1        I10  05
241096    04282667         1              2             1        I10  05
241099    04282667         1              3             1        I10  05
241105    04451590         1              3             2        I10  05
241169    04272961         2              A             5        I10  05
241354    08000087        30              3             2        I10  05
241491    04450203         1              2             3        I10  05
241496    04450203         1              3             3        I10  05
241689    04457799         1              2             1        I10  05
241690    04457799         1              3             1        I10  05
241838    04418905         1              A             1        I10  05
241871    04123900         1              2             3        I10  05
241885    04123900         1              A             2        I10  05
241962    04115848         7              A             4        I10  05
242092    08000304        15              3             2        I10  05
242134    04180061         7              2             5        I10  05
242285    04230280        21              3             5        I10  05
242297    04403145         1              2             1        I10  05
242298    04403145         1              3             1        I10  05
242439    04297177         1              2             1        I10  05
242440    04297177         1              3             1        I10  05
242570    04085091         3              2             1        I10  05
242572    04085091         3              A             1        I10  05
242576    04095165         2              A             1        I10  05
242718    04454247         1              A             2        I10  05
242724    04320683         3              A             2        I10  05
242736    04460723         1              A             1        I10  05
242846    08001350         3              A             1        I10  05
...            ...       ...            ...           ...            ...
1178031   04182839         1              2             2        I10  05
1178034   04182839         1              A             2        I10  05
1178037   04958783         1              1             2        I10  05
1178039   04958783         1              2             2        I10  05
1178041   04958783         1              A             1        I10  05
1178072   04995893         1              A             6        I10  05
1178212   08001142        22              A             3        I10  05
1178428   08000557         5              1             1        I10  05
1178596   04652917         3              2             2        I10  05
1178598   04652917         3              A             1        I10  05
1178956   04158846         1              A             2        I10  05
1179000   04081744         1              2             2        I10  05
1179003   04081744         1              A             1        I10  05
1179023   06000656        13              2             2        I10  05
1179034   06000656        13              A             1        I10  05
1179180   04926268         1              2             3        I10  05
1179184   04926268         1              A             2        I10  05
1179202   07046848        11              2             2        I10  05
1179204   07046848        11              A             1        I10  05
1179379   04717581         5              2             4        I10  05
1179386   04105692        14              A             3        I10  05
1179395   09001395        15              2             3        I10  05
1179401   09001395        15              A             2        I10  05
1179605   04717581         5              A             3        I10  05
1179688    4931356        14              2             4        I10  05
1179693    4931356        14              A             3        I10  05
1179756    4961930         2              2             9        I10  05
1179766    4961930         2              A             8        I10  05
1180030    4469763         3              2             2        I10  05
1180032    4469763         3              A             1        I10  05

         CODE_NO
240974       1.0
241091       1.0
241092       1.0
241096       1.0
241099       1.0
241105       1.0
241169       1.0
241354       1.0
241491       1.0
241496       1.0
241689       1.0
241690       1.0
241838       1.0
241871       1.0
241885       1.0
241962       1.0
242092       1.0
242134       1.0
242285       1.0
242297       1.0
242298       1.0
242439       1.0
242440       1.0
242570       1.0
242572       1.0
242576       1.0
242718       1.0
242724       1.0
242736       1.0
242846       1.0
...          ...
1178031      1.0
1178034      1.0
1178037      1.0
1178039      1.0
1178041      1.0
1178072      1.0
1178212      1.0
1178428      1.0
1178596      1.0
1178598      1.0
1178956      1.0
1179000      1.0
1179003      1.0
1179023      1.0
1179034      1.0
1179180      1.0
1179184      1.0
1179202      1.0
1179204      1.0
1179379      1.0
1179386      1.0
1179395      1.0
1179401      1.0
1179605      1.0
1179688      1.0
1179693      1.0
1179756      1.0
1179766      1.0
1180030      1.0
1180032      1.0

[9286 rows x 6 columns]

In [29]:
#筛选出频率第一疾病的实际患病人数 2889人
DF = test['PATIENT_ID'].unique()   
#转格式
SS = Series(DF)
SS

0       04230280
1       04031528
2       04282667
3       04451590
4       04272961
5       08000087
6       04450203
7       04457799
8       04418905
9       04123900
10      04115848
11      08000304
12      04180061
13      04403145
14      04297177
15      04085091
16      04095165
17      04454247
18      04320683
19      04460723
20      08001350
21      04446959
22      08000673
23      04101199
24      04047756
25      08001649
26      07057456
27      04459608
28      04319262
29      04105953
          ...
2859    04985346
2860    04042041
2861    04562405
2862    04998399
2863    04967079
2864    04981091
2865    04998250
2866    04328825
2867    04998721
2868    04714651
2869    04703346
2870    04801179
2871    04941588
2872    04652917
2873    04966364
2874    04537352
2875    04955220
2876    04912024
2877    04872064
2878    04098685
2879    04978492
2880    04955212
2881    04957968
2882    04182839
2883    04995893
2884    04081744
2885    09001395
2886     4931356
2887     4961930
2888     4469763
Length: 2889, dtype: object

In [30]:
#病人ID
DF

array(['04230280', '04031528', '04282667', ..., 4931356, 4961930, 4469763],
      dtype=object)

In [31]:
# 9.1 表 病人主索引  PAT_MASTER_INDEX 预处理后
PAT_MASTER_INDEX = pd.read_csv('F:/data/input/病人主索引_预.tsv', sep='\t')

In [32]:
# 输出9.1表中患有高血压 疾病的人的信息（病人ID、性别、年龄）
PAT_MASTER_INDEX[PAT_MASTER_INDEX['PATIENT_ID'].isin(DF)]

        PATIENT_ID SEX DATE_OF_BIRTH
77        08000195   男     01-3月 -29
151       04001818   男     01-1月 -40
273       08000570   男     02-11月-25
400       07001157   男     29-7月 -60
413       08000596   男     01-10月-29
541       09000871   女     01-8月 -53
544       08000332   男     07-11月-19
616       04002844   男     18-12月-23
648       08000041   男     01-9月 -24
670       09031128   女     01-5月 -56
690       04007573   男     01-1月 -68
836       08000471   男     01-3月 -26
847       04005034   男     15-8月 -54
1144      04001204   男     01-1月 -46
1276      08000304   男     01-7月 -28
1312      08000362   男     01-5月 -28
1327      06000689   男     17-12月-65
1329      08000334   男     01-1月 -32
1499      09000470   女     01-11月-39
1534      08000130   男     01-4月 -20
1660      08000167   男     01-5月 -26
1671      04001028   女     01-1月 -31
1889      08000486   男     01-6月 -26
1949      04005028   男     05-4月 -27
1954      08000593   男     01-1月 -29
2105      06001203   女     16-3月 -26
2196      08000656   男     01-3月 -25
2205      09000248   女     01-6月 -50
2248      09000519   女     01-1月 -51
2279      08000014   男     01-4月 -24
...            ...  ..           ...
1136423   04998150   男     29-12月-64
1136639   04998399   男     14-7月 -56
1137178   04981091   男     01-1月 -53
1137684   04985346   男     26-4月 -57
1138049   04985325   男     27-7月 -67
1138108   04997157   女     12-4月 -52
1138792   04997017   男     05-10月-39
1138845   02001285   女     01-5月 -69
1138981   04996103   男     29-1月 -55
1139383   04994353   女     17-2月 -38
1140184   02000335   男     18-11月-46
1140915   04995615   男     06-4月 -57
1140921   04998250   女     24-4月 -59
1141911   04999749   女     06-2月 -52
1142066   04999015   女     07-11月-35
1142377   04998721   男     09-9月 -81
1142834   04986374   男     17-2月 -66
1143834   02000203   男     18-11月-82
1144078   04996217   女     16-11月-45
1144157   04998899   男     18-11月-82
1144288   04995478   男     23-2月 -36
1144456   04996256   男     28-10月-71
1144845   04994029   女     15-5月 -22
1147645   04992536   女     10-2月 -50
1147717   02002150   男     05-1月 -55
1147950   02000460   男     20-6月 -35
1149455   02001861   男     24-12月-89
1149739   04999107   男     24-7月 -45
1150773   02001173   男     05-2月 -51
1152581   02003395   男     26-12月-69

[2886 rows x 3 columns]

In [33]:
output_sex = PAT_MASTER_INDEX[PAT_MASTER_INDEX['PATIENT_ID'].isin(DF)]

In [35]:
#输出疾病1信息
output_sex.to_csv("F:/data/output/高血压二级_年龄_性别_信息.tsv")

In [36]:
# 9.4 表 诊断记录  预处理后
PAT_DATA = pd.read_csv('F:/data/input/就诊日期.tsv', sep='\t')

In [37]:
PAT_DATA

        PATIENT_ID DIAGNOSIS_DATE
0         08000598      07-6月 -00
1         08000598      17-6月 -00
2         08000279      10-6月 -00
3         08000279      10-6月 -00
4         08000279      10-6月 -00
5         08000279      10-6月 -00
6         08000279      10-6月 -00
7         08000279      10-6月 -00
8         04012492      25-7月 -00
9         06001257      29-6月 -00
10        06001257      29-6月 -00
11        06001257      29-6月 -00
12        06001257      29-6月 -00
13        06001257      29-6月 -00
14        06001257      29-6月 -00
15        06001257      29-6月 -00
16        04012492      25-7月 -00
17        04004716      25-7月 -00
18        07002615      04-6月 -00
19        07002615      04-6月 -00
20        07002615      04-6月 -00
21        04005889      16-6月 -00
22        04010327      30-6月 -00
23        04010327      30-6月 -00
24        04010327      30-6月 -00
25        04010327      30-6月 -00
26        04007457      17-5月 -00
27        04007457      17-5月 -00
28        04007457      17-5月 -00
29        04010327      30-6月 -00
...            ...            ...
1178315   04191992      19-12月-17
1178316   08000519      05-12月-17
1178317   08000519      05-12月-17
1178318   08000519      05-12月-17
1178319   08000519      05-12月-17
1178320   08000519      05-12月-17
1178321   08000519      05-12月-17
1178322   08000519      05-12月-17
1178323   08000519      05-12月-17
1178324   08000519      05-12月-17
1178325   08000519      24-12月-17
1178326   08000519      26-12月-17
1178327   04965945      25-12月-17
1178328   04699201      06-11月-17
1178329   04699201      06-11月-17
1178330   04699201      06-11月-17
1178331   04699201      06-11月-17
1178332   04699201      06-11月-17
1178333   04699201      06-11月-17
1178334   04699201      06-11月-17
1178335   04699201      06-11月-17
1178336   04699201      06-11月-17
1178337   04699201      06-11月-17
1178338   04699201      06-11月-17
1178339   04699201      06-11月-17
1178340   04699201      06-11月-17
1178341   04699201      06-11月-17
1178342   04699201      06-11月-17
1178343   04699201      06-11月-17
1178344   04699201      06-11月-17

[1178345 rows x 2 columns]

In [38]:
DATA_count = PAT_DATA[PAT_DATA['PATIENT_ID'].isin(DF)]

In [39]:
DATA_count

        PATIENT_ID DIAGNOSIS_DATE
172       04008741      23-5月 -00
174       04008741      23-5月 -00
175       04008741      23-5月 -00
376       09000110      25-5月 -00
377       09000110      25-5月 -00
378       09000110      25-5月 -00
379       09000110      25-5月 -00
380       09000110      25-5月 -00
710       08000549      15-6月 -00
711       08000549      15-6月 -00
712       08000549      15-6月 -00
713       08000549      15-6月 -00
714       08000549      15-6月 -00
715       08000549      15-6月 -00
716       08000549      15-6月 -00
717       08000549      15-6月 -00
745       04000363      10-4月 -00
852       08000656      24-7月 -00
1318      08000467      15-5月 -00
1319      08000467      15-5月 -00
1328      08000379      22-2月 -00
1329      08000379      22-2月 -00
1330      08000379      22-2月 -00
1331      08000379      22-2月 -00
1554      09000876      24-3月 -00
1555      09000876      24-3月 -00
1556      09000876      24-3月 -00
1557      09000876      24-3月 -00
1558      09000876      24-3月 -00
1616      08000334      10-5月 -00
...            ...            ...
1178073   04971779      19-12月-17
1178173   04196221      26-2月 -18
1178174   04196221      26-2月 -18
1178175   04196221      26-2月 -18
1178184   04196221      26-2月 -18
1178185   04196221      26-2月 -18
1178186   04196221      06-3月 -18
1178187   04196221      06-3月 -18
1178210   09000090      24-2月 -18
1178211   04865331      05-2月 -18
1178212   04865331      05-2月 -18
1178213   04865331      05-2月 -18
1178214   04865331      05-2月 -18
1178215   04865331      05-2月 -18
1178216   04865331      05-2月 -18
1178278   04087506      07-1月 -18
1178279   04087506      07-1月 -18
1178280   04087506      07-1月 -18
1178281   04087506      07-1月 -18
1178295   04087506      07-1月 -18
1178296   04087506      07-1月 -18
1178297   04087506      07-1月 -18
1178298   04087506      07-1月 -18
1178299   04087506      07-1月 -18
1178300   04087506      08-1月 -18
1178301   04087506      08-1月 -18
1178302   04087506      07-1月 -18
1178303   04087506      07-1月 -18
1178304   04087506      07-1月 -18
1178305   04087506      07-1月 -18

[95895 rows x 2 columns]

In [40]:
#2886人
PAT_NO_SAME_1 = DATA_count.drop_duplicates(['PATIENT_ID'],'last')
PAT_NO_SAME_1

        PATIENT_ID DIAGNOSIS_DATE
288239    04010670      06-9月 -10
289268    04388436      30-9月 -10
289741    08001727      21-10月-10
292340    08001353      26-9月 -10
292784    04394810      31-10月-10
292806    04384391      29-10月-10
294315    04396980      09-11月-10
295969    04233003      14-2月 -09
298873    04073331      09-1月 -09
298965    04270344      13-12月-08
301590    04170575      30-12月-08
301702    07039506      03-11月-08
302339    04012544      31-1月 -09
304829    04291969      08-6月 -09
306268    04137246      26-7月 -09
306378    04045009      18-8月 -09
308023    04284689      05-9月 -09
308475    04296725      06-8月 -09
311303    04166922      29-7月 -09
311337    04314000      31-7月 -09
311772    04200686      03-7月 -09
314791    04341739      27-2月 -10
314911    04211684      11-12月-09
315005    04204453      24-12月-09
315239    04223144      02-2月 -10
316121    04334291      06-12月-09
318187    04329156      14-11月-09
319571    04341150      03-2月 -10
319776    04333168      14-12月-09
321308    04073228      26-10月-09
...            ...            ...
1176408   04048197      27-12月-17
1176467   04478581      07-1月 -18
1176598   04143392      26-3月 -18
1176834   04901388      25-12月-17
1176843   04987274      08-1月 -18
1176852   04402463      02-1月 -18
1176879   04168292      21-12月-17
1176912   04969792      08-4月 -18
1176954   04142524      11-4月 -18
1177021   04024954      23-3月 -18
1177067   04998150      28-2月 -18
1177115   04450711      15-2月 -18
1177225   04680439      27-4月 -18
1177284   04065508      24-4月 -18
1177306   04854217      24-4月 -18
1177317   04239757      24-4月 -18
1177415   02003395      16-4月 -18
1177431   04087589      11-4月 -18
1177433   04396149      11-4月 -18
1177434   04997157      11-4月 -18
1177443   04807475      11-4月 -18
1177459   04994353      07-2月 -18
1177564   04172770      21-2月 -18
1177690   04266472      20-12月-17
1177827   04945954      10-1月 -18
1178073   04971779      19-12月-17
1178187   04196221      06-3月 -18
1178210   09000090      24-2月 -18
1178216   04865331      05-2月 -18
1178305   04087506      07-1月 -18

[2886 rows x 2 columns]

In [41]:
PAT_NO_SAME_1.to_csv("F:/data/output/高血压二级_就诊日期_信息.tsv")

In [42]:
#########高血压一级 I10  04##################

In [43]:
# 表4.1 疾病字典 DIAGNOSIS_DICT 
DIAGNOSIS_DICT = pd.read_csv('F:/data/input/诊断代码.tsv', sep='\t')

In [44]:
# 经检验 需要全部字段 此处重做 表9.7 诊断分类记录 DIAGNOSTIC_CATEGORY 预处理 得到病人ID和疾病ID
DIAGNOSTIC_CATEGORY = pd.read_csv('F:/data/input/诊断分类记录_全.tsv', sep='\t')

d:\programdata\anaconda3\envs\tensorflow\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [45]:
print(DIAGNOSTIC_CATEGORY)

        PATIENT_ID  VISIT_ID DIAGNOSIS_TYPE  DIAGNOSIS_NO    DIAGNOSIS_CODE  \
0         04003500         2              2             1           261  01
1         04003500         2              3             1           307.101
2         04003500         2              3             2           273.801
3         04003500         2              3             3           280  01
4         04010720         1              5             1           799.402
5         04010720         1              6             1           567.905
6         04007153         1              1             1  070.901+573.106*
7         04007153         1              2             1  070.901+573.106*
8         04007153         1              3             1           155.201
9         04017543         1              1             1           162.901
10        04017543         1              2             1           793.101
11        04017543         1              3             1           793.101
12        04009395         1              1             1           155.201
13        04009395         1              2             1           155.201
14        04009395         1              3             1           155.201
15        04004782         1              1             1           150.401
16        04004782         1              2             1           150.401
17        04004782         1              2             2           151.001
18        04004782         1              3             1           150.401
19        04004782         1              3             2           151.001
20        04004782         1              6             1           998.501
21        04004782         1              8             1          M81400/3
22        04012439         1              1             1           250.002
23        04012439         1              2             1           250.002
24        04012439         1              2             2  250.301+583.803*
25        04012439         1              2             3           585  01
26        04012439         1              3             1           250.002
27        04012439         1              3             2  250.301+583.803*
28        04012439         1              3             3           585  01
29        04013646         1              1             1           174.901
...            ...       ...            ...           ...               ...
1180013    4802412         2              A             2           K52.904
1180014    4802412         2              A             3           I10  06
1180015    4802412         2              A             4           I21.902
1180016    4802412         2              A             5           K31.825
1180017    4032432         1              2             7           M19.992
1180018    4032432         1              2             8           Z48.901
1180019    4032432         1              2             9           I10  04
1180020    4032432         1              3             1           S72.004
1180021    4032432         1              A             1           S32.401
1180022    4032432         1              A             2           T09.302
1180023    4032432         1              A             3           S89.901
1180024    4032432         1              A             4           M50.221
1180025    4032432         1              A             5           M47.991
1180026    4032432         1              A             6           M19.992
1180027    4032432         1              A             7           Z48.901
1180028    4032432         1              A             8           I10  04
1180029    4032432         1              7             1           W19.901
1180030    4469763         3              2             2           I10  05
1180031    4469763         3              3             1           T30.001
1180032    4469763         3              A             1           I10  05
1180033    4469763         3              7             1           X12.901
1180034    4290249        10              1             1           L89.901
1180035    4290249        10              2             1           L89.901
1180036    4290249        10              2             2           G40.803
1180037    4290249        10              2             3           R40.201
1180038    4290249        10              2             4           I10  03
1180039    4290249        10              2             5           Z93.001
1180040    4290249        10              3             1           L89.901
1180041    4290249        10              A             1           G40.803
1180042    4290249        10              A             2           R40.201

         CODE_NO
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
5            NaN
6            NaN
7            NaN
8            NaN
9            NaN
10           NaN
11           NaN
12           NaN
13           NaN
14           NaN
15           NaN
16           NaN
17           NaN
18           NaN
19           NaN
20           NaN
21           NaN
22           NaN
23           NaN
24           NaN
25           NaN
26           NaN
27           NaN
28           NaN
29           NaN
...          ...
1180013      1.0
1180014      1.0
1180015      1.0
1180016      1.0
1180017      1.0
1180018      1.0
1180019      1.0
1180020      1.0
1180021      1.0
1180022      1.0
1180023      1.0
1180024      1.0
1180025      1.0
1180026      1.0
1180027      1.0
1180028      1.0
1180029      1.0
1180030      1.0
1180031      1.0
1180032      1.0
1180033      1.0
1180034      1.0
1180035      1.0
1180036      1.0
1180037      1.0
1180038      1.0
1180039      1.0
1180040      1.0
1180041      1.0
1180042      1.0

[1180043 rows x 6 columns]

In [46]:
alist=['I10  04']
DIAGNOSTIC_CATEGORY[DIAGNOSTIC_CATEGORY['DIAGNOSIS_CODE'].isin(alist)]

,PATIENT_ID,VISIT_ID,DIAGNOSIS_TYPE,DIAGNOSIS_NO,DIAGNOSIS_CODE,CODE_NO
242277,04234988,2,A,2,I10 04,1.0
245789,04452761,1,3,3,I10 04,1.0
245861,09000237,16,A,5,I10 04,1.0
249282,04456923,1,A,3,I10 04,1.0
250887,044436054,1,2,1,I10 04,1.0
250888,044436054,1,3,1,I10 04,1.0
251994,08000113,12,2,2,I10 04,NaN
251997,08000113,12,3,2,I10 04,NaN
252292,07038328,1,3,2,I10 04,NaN
252735,04271054,1,2,3,I10 04,NaN
252738,04271054,1,3,3,I10 04,NaN
256144,07037321,2,2,2,I10 04,NaN
256147,07037321,2,3,2,I10 04,NaN
256603,08000377,25,2,3,I10 04,NaN
256606,08000377,25,3,3,I10 04,NaN
257697,07040063,1,3,1,I10 04,NaN
257747,04000079,3,1,1,I10 04,NaN
257748,04000079,3,2,1,I10 04,NaN
257749,04000079,3,3,1,I10 04,NaN
258393,08001377,4,2,1,I10 04,NaN
258396,08001377,4,3,1,I10 04,NaN
262471,08000113,11,2,1,I10 04,NaN
262474,08000113,11,3,1,I10 04,NaN
263130,08000221,11,3,4,I10 04,NaN
263677,07033659,1,2,1,I10 04,NaN
263678,07033659,1,3,1,I10 04,NaN
267628,09000528,2,2,2,I10 04,NaN
267630,09000528,2,3,2,I10 04,NaN
267819,08000597,14,2,2,I10 04,NaN
267822,08000597,14,3,2,I10 04,NaN
...,...,...,...,...,...,...
1169717,04092038,2,A,1,I10 04,1.0
1170255,04992004,3,2,4,I10 04,1.0
1170268,04992004,3,A,3,I10 04,1.0
1170274,04989782,3,2,4,I10 04,1.0
1170279,04989782,3,A,3,I10 04,1.0
1171083,04186918,5,A,4,I10 04,1.0
1171286,04980753,2,A,1,I10 04,1.0
1172542,04983859,1,2,6,I10 04,1.0
1172766,04981326,1,A,6,I10 04,1.0
1173346,04946980,1,A,7,I10 04,1.0
1174080,04980753,4,A,1,I10 04,1.0
1174651,04579069,1,2,2,I10 04,1.0
1174654,04579069,1,A,1,I10 04,1.0
1175059,04974002,4,A,2,I10 04,1.0
1175163,04985618,1,2,4,I10 04,1.0
1175263,06000656,10,2,1,I10 04,1.0
1175267,06000656,10,3,1,I10 04,1.0
1175393,04985618,1,A,3,I10 04,1.0
1176086,04998732,3,2,4,I10 04,1.0
1176090,04998732,3,A,3,I10 04,1.0
1176492,04983859,1,A,5,I10 04,1.0
1176777,04024954,10,2,2,I10 04,1.0
1176780,04024954,10,A,1,I10 04,1.0
1178975,04094704,9,2,2,I10 04,1.0
1178977,04094704,9,A,1,I10 04,1.0
1179082,02001516,1,2,2,I10 04,1.0
1179087,02001516,1,A,4,I10 04,1.0
1179819,4981326,1,2,7,I10 04,1.0
1180019,4032432,1,2,9,I10 04,1.0
1180028,4032432,1,A,8,I10 04,1.0

In [47]:
#重定义
test = DIAGNOSTIC_CATEGORY[DIAGNOSTIC_CATEGORY['DIAGNOSIS_CODE'].isin(alist)]
print(test)

        PATIENT_ID  VISIT_ID DIAGNOSIS_TYPE  DIAGNOSIS_NO DIAGNOSIS_CODE  \
242277    04234988         2              A             2        I10  04
245789    04452761         1              3             3        I10  04
245861    09000237        16              A             5        I10  04
249282    04456923         1              A             3        I10  04
250887   044436054         1              2             1        I10  04
250888   044436054         1              3             1        I10  04
251994    08000113        12              2             2        I10  04
251997    08000113        12              3             2        I10  04
252292    07038328         1              3             2        I10  04
252735    04271054         1              2             3        I10  04
252738    04271054         1              3             3        I10  04
256144    07037321         2              2             2        I10  04
256147    07037321         2              3             2        I10  04
256603    08000377        25              2             3        I10  04
256606    08000377        25              3             3        I10  04
257697    07040063         1              3             1        I10  04
257747    04000079         3              1             1        I10  04
257748    04000079         3              2             1        I10  04
257749    04000079         3              3             1        I10  04
258393    08001377         4              2             1        I10  04
258396    08001377         4              3             1        I10  04
262471    08000113        11              2             1        I10  04
262474    08000113        11              3             1        I10  04
263130    08000221        11              3             4        I10  04
263677    07033659         1              2             1        I10  04
263678    07033659         1              3             1        I10  04
267628    09000528         2              2             2        I10  04
267630    09000528         2              3             2        I10  04
267819    08000597        14              2             2        I10  04
267822    08000597        14              3             2        I10  04
...            ...       ...            ...           ...            ...
1169717   04092038         2              A             1        I10  04
1170255   04992004         3              2             4        I10  04
1170268   04992004         3              A             3        I10  04
1170274   04989782         3              2             4        I10  04
1170279   04989782         3              A             3        I10  04
1171083   04186918         5              A             4        I10  04
1171286   04980753         2              A             1        I10  04
1172542   04983859         1              2             6        I10  04
1172766   04981326         1              A             6        I10  04
1173346   04946980         1              A             7        I10  04
1174080   04980753         4              A             1        I10  04
1174651   04579069         1              2             2        I10  04
1174654   04579069         1              A             1        I10  04
1175059   04974002         4              A             2        I10  04
1175163   04985618         1              2             4        I10  04
1175263   06000656        10              2             1        I10  04
1175267   06000656        10              3             1        I10  04
1175393   04985618         1              A             3        I10  04
1176086   04998732         3              2             4        I10  04
1176090   04998732         3              A             3        I10  04
1176492   04983859         1              A             5        I10  04
1176777   04024954        10              2             2        I10  04
1176780   04024954        10              A             1        I10  04
1178975   04094704         9              2             2        I10  04
1178977   04094704         9              A             1        I10  04
1179082   02001516         1              2             2        I10  04
1179087   02001516         1              A             4        I10  04
1179819    4981326         1              2             7        I10  04
1180019    4032432         1              2             9        I10  04
1180028    4032432         1              A             8        I10  04

         CODE_NO
242277       1.0
245789       1.0
245861       1.0
249282       1.0
250887       1.0
250888       1.0
251994       NaN
251997       NaN
252292       NaN
252735       NaN
252738       NaN
256144       NaN
256147       NaN
256603       NaN
256606       NaN
257697       NaN
257747       NaN
257748       NaN
257749       NaN
258393       NaN
258396       NaN
262471       NaN
262474       NaN
263130       NaN
263677       NaN
263678       NaN
267628       NaN
267630       NaN
267819       NaN
267822       NaN
...          ...
1169717      1.0
1170255      1.0
1170268      1.0
1170274      1.0
1170279      1.0
1171083      1.0
1171286      1.0
1172542      1.0
1172766      1.0
1173346      1.0
1174080      1.0
1174651      1.0
1174654      1.0
1175059      1.0
1175163      1.0
1175263      1.0
1175267      1.0
1175393      1.0
1176086      1.0
1176090      1.0
1176492      1.0
1176777      1.0
1176780      1.0
1178975      1.0
1178977      1.0
1179082      1.0
1179087      1.0
1179819      1.0
1180019      1.0
1180028      1.0

[1356 rows x 6 columns]

In [49]:
#筛选出频率第一疾病的实际患病人数 600人
DF = test['PATIENT_ID'].unique()   
#转格式
SS = Series(DF)
SS

0       04234988
1       04452761
2       09000237
3       04456923
4      044436054
5       08000113
6       07038328
7       04271054
8       07037321
9       08000377
10      07040063
11      04000079
12      08001377
13      08000221
14      07033659
15      09000528
16      08000597
17      08000164
18      09001193
19      07044661
20      04367542
21      08000282
22      08000362
23      04333009
24      08000471
25      07018312
26      04227210
27      04322132
28      04341970
29      04350311
         ...
570     04249772
571     04966907
572     02003073
573     04997673
574     04975380
575     04217685
576     04830108
577     04963117
578     04435887
579     04456970
580     04784249
581     04353304
582     01005776
583     90159313
584     90206813
585     04996825
586     04700617
587     06002785
588     04993918
589     04796869
590     04092038
591     04983859
592     04981326
593     04946980
594     04579069
595     04985618
596     04094704
597     02001516
598      4981326
599      4032432
Length: 600, dtype: object

In [50]:
#病人ID
DF

array(['04234988', '04452761', '09000237', '04456923', '044436054',
       '08000113', '07038328', '04271054', '07037321', '08000377',
       '07040063', '04000079', '08001377', '08000221', '07033659',
       '09000528', '08000597', '08000164', '09001193', '07044661',
       '04367542', '08000282', '08000362', '04333009', '08000471',
       '07018312', '04227210', '04322132', '04341970', '04350311',
       '08000723', '04006952', '04348392', '04011151', '04138908',
       '08000397', '04024351', '04338695', '07037946', '04012751',
       '04331440', '04046977', '04340789', '04363148', '07032168',
       '04115848', '04268583', '04261019', '04264653', '04021327',
       '04199935', '04271323', '04260645', '08000251', '04098421',
       '09000059', '04391056', '08000258', '07018888', '04223616',
       '04023733', '04277620', '04332276', '04002204', '04262085',
       '04310382', '04147404', '08001062', '08001009', '08001526',
       '04274906', '04091526', '04012544', '04051060', '04276861',
       '04289301', '04272374', '04418515', '04373559', '08001198',
       '04430869', '08000925', '04252934', '04445799', '07028615',
       '04254996', '08001234', '07056380', '04387189', '04449864',
       '04444337', '04444998', '07024765', '04733985', '04661977',
       '04668997', '04501100', '04434249', '04711142', '04724898',
       '04606161', '04636070', '04173035', '04648060', '04734273',
       '04359959', '04400975', '08000380', '08000593', '08001163',
       '04323315', '04679269', '04675749', '04039872', '04522660',
       '04192288', '04564126', '04721334', '04367113', '04539144',
       '04543368', '04567641', '04648093', '01025447', '04595503',
       '07021315', '07023689', '04354356', '04601096', '04242195',
       '04215941', '04591153', '04577177', '04647031', '04647954',
       '04339716', '04648632', '07040408', '04641397', '04545863',
       '04229498', '08000304', '04078193', '04614891', '04612262',
       '04499880', '04166920', '04577942', '04568755', '04635106',
       '04636176', '04489586', '04643395', '04651575', '04645811',
       '04655621', '04544819', '04616626', '04614884', '04613197',
       '08000549', '04628099', '04659178', '04061595', '04335598',
       '08000599', '06003034', '04722048', '06000404', '04615240',
       '04491114', '04599169', '04161352', '07000015', '08000603',
       '04478367', '04188718', '04588046', '04006195', '07068412',
       '07054042', '04477527', '04552758', '08000066', '04206606',
       '09000192', '04695314', '04762360', '04749767', '04287205',
       '04575869', '04664512', '07010618', '04745534', '04675731',
       '07021763', '04366893', '04285406', '08000890', '04755622',
       '04619184', '04658861', '07049070', '04661073', '04004260',
       '04583538', '04240602', '04680712', '04783057', '07027740',
       '04681828', '06000656', '04784162', '04787635', '04579359',
       '04338823', '04593819', '04604189', '04348389', '04631328',
       '04586254', '04252369', '07030212', '07060266', '07061788',
       '04406186', '07037540', '04511541', '04190034', '04373449',
       '04254155', '04185162', '04188186', '04598280', '04417648',
       '09000892', '04577850', '04134887', '04809310', '09000306',
       '04818508', '04661691', '04424772', '07035264', '04693668',
       '04664565', '04514378', '04125768', '04491272', '08001212',
       '04016284', '04674256', '04672890', '04676729', '09000848',
       '04631866', '04672894', '04666450', '04533009', '08001520',
       '04670693', '04418349', '04674347', '04725264', '04841909',
       '07086589', '04849807', '04885990', '04536098', '08000572',
       '08000479', '04080764', '04505259', '07050344', '04159650',
       '04078987', '04103586', '04756836', '04076267', '04685890',
       '04682945', '04708165', '04694293', '04707578', '04846832',
       '04817672', '07047291', '07019535', '04867421', '04835105',
       '04855579', '04828634', '04869610', '04858860', '04161702',
       '04666246', '04174448', '04791961', '04413235', '04718551',
       '04028868', '04209888', '04677981', '04127539', '07064725',
       '04478485', '04703676', '04758517', '07065899', '04037570',
       '04864593', '06004339', '04890176', '04878057', '04917271',
       '04859483', '08001866', '09000847', '04746126', '04590689',
       '07077503', '04445936', '04826961', '07012171', '04370680',
       '04859441', '07090573', '04910468', '04229007', '04809015',
       '04891085', '04891090', '04891076', '04181515', '04753757',
       '04208839', '04779569', '09000404', '04776173', '04775298',
       '04821016', '04769795', '04668673', '07056949', '04807055',
       '04619952', '04620558', '04715455', '04608334', '08001449',
       '04674527', '04143420', '04490512', '04671775', '09001227',
       '04385061', '04784159', '07047426', '04789161', '04101895',
       '07069268', '04450284', '07049923', '04822476', '04718840',
       '04502646', '04500321', '04943858', '04944435', '04569114',
       '04711471', '04934318', '04112956', '04883147', '04933501',
       '04898623', '04750978', '04762012', '04755285', '04747416',
       '04161016', '04751048', '04045007', '04760310', '04091729',
       '04900914', '04899143', '04239103', '04900070', '04686615',
       '04698059', '04901514', '04404466', '04283096', '07102676',
       '04983099', '04967858', '04024954', '04966908', '04937029',
       '04228811', '04985093', '04139454', '04998732', '04976535',
       '04958916', '04186918', '04992004', '04971886', '04484166',
       '04962290', '04156507', '04908482', '04359289', '04211115',
       '04315332', '04286313', '04259488', '04437050', '04888499',
       '04047179', '04018190', '04276563', '04944915', '04010632',
       '04904742', '06003612', '04350367', '04187010', '04974002',
       '04953240', '04953154', '04952795', '04021380', '04363226',
       '04341654', '04323189', '04952719', '04976549', '02001053',
       '04185413', '04989782', '04879720', '04966244', '04101354',
       '04964221', '07092777', '02000395', '04944264', '07083502',
       '04973206', '09001089', '04968442', '04026415', '04965275',
       '04068336', '04906864', '04944066', '04909405', '04117608',
       '04843886', '04219233', '04884810', '04778208', '04015529',
       '04966229', '07038329', '04889884', '04964600', '04962599',
       '08001888', '04955810', '04952884', '04761197', '04894846',
       '07001767', '09001236', '04954163', '04961159', '04218512',
       '04856948', '04849863', '04248016', '04493518', '04155116',
       '04992667', '04232294', '04531938', '04069960', '04581360',
       '04013862', '04965306', '04987246', '07020737', '04801124',
       '04143306', '04256203', '04526212', '09000828', '04669729',
       '04923405', '04991127', '04163125', '04648731', '04073722',
       '04846725', '04803802', '04355958', '04845210', '04914937',
       '04861516', '07054208', '04933462', '04110961', '04364148',
       '04872516', '04930509', '04935152', '04199776', '07088196',
       '07087787', '04875992', '04876908', '04064551', '04884576',
       '04037731', '04181051', '04046131', '04044705', '04381660',
       '04958538', '04451655', '04988609', '04989264', '04988871',
       '04987990', '04813158', '04613005', '04990065', '04404058',
       '04993525', '04985756', '04963269', '04685925', '04065332',
       '04925912', '04930672', '04930360', '04928483', '04993831',
       '04728377', '04987324', '04991377', '04083186', '04502428',
       '04978243', '04979117', '04352430', '08000001', '04657310',
       '04708789', '04980753', '04980968', '04957900', '04712610',
       '04796353', '04961132', '04958250', '04934341', '02000479',
       '04249772', '04966907', '02003073', '04997673', '04975380',
       '04217685', '04830108', '04963117', '04435887', '04456970',
       '04784249', '04353304', '01005776', '90159313', '90206813',
       '04996825', '04700617', '06002785', '04993918', '04796869',
       '04092038', '04983859', '04981326', '04946980', '04579069',
       '04985618', '04094704', '02001516', 4981326, 4032432], dtype=object)

In [51]:
# 9.1 表 病人主索引  PAT_MASTER_INDEX 预处理后
PAT_MASTER_INDEX = pd.read_csv('F:/data/input/病人主索引_预.tsv', sep='\t')

In [52]:
# 输出9.1表中患有高血压 疾病的人的信息（病人ID、性别、年龄）
PAT_MASTER_INDEX[PAT_MASTER_INDEX['PATIENT_ID'].isin(DF)]

        PATIENT_ID SEX DATE_OF_BIRTH
180       04000079   男     01-1月 -44
292       04004260   女     12-11月-37
415       08000597   男     01-9月 -28
836       08000471   男     01-3月 -26
1276      08000304   男     01-7月 -28
1312      08000362   男     01-5月 -28
1599      08000221   男     01-7月 -28
1954      08000593   男     01-1月 -29
1996      08000479   男     01-3月 -31
2554      08000164   男     01-4月 -26
2711      09000892   男     01-5月 -49
3162      08000113   男     01-7月 -31
3302      04002204   男     01-1月 -28
3575      09001089   女     01-11月-55
3882      09000192   男     15-8月 -33
3930      09000059   男     01-6月 -52
4847      08000397   男     02-2月 -27
4852      08000599   男     17-9月 -23
4862      08000603   男     01-11月-29
5414      09000848   男     01-2月 -47
5809      08000066   男     01-5月 -29
6098      09000828   女     01-10月-64
6239      08000251   男     25-9月 -19
6298      08001212   男     01-3月 -56
6651      08000723   男     01-12月-28
6956      09000306   女     04-1月 -51
7151      09001227   女     08-5月 -32
7531      09000237   男     10-8月 -36
7581      09000404   女     12-8月 -42
7730      08000380   男     01-11月-28
...            ...  ..           ...
1116804   04983859   男     01-12月-60
1120028   04991377   男     20-11月-47
1120899   04991127   男     30-6月 -36
1124241   04987324   女     04-7月 -43
1125750   04993525   男     28-5月 -42
1127281   04992004   男     01-1月 -73
1129723   04985756   男     14-8月 -55
1131366   90206813   女     10-7月 -47
1132340   04985093   女     16-3月 -65
1132620   04992667   女     13-2月 -59
1132951   04988609   女     18-6月 -62
1133349   04989782   女     24-4月 -44
1133635   04993831   女     11-3月 -64
1133684   04990065   男     28-2月 -69
1133948   06002785   男     29-4月 -57
1134607   04987990   男     17-10月-79
1134898   04987246   女     16-11月-62
1134937   04985618   女     15-7月 -53
1135814   04988871   男     26-11月-25
1137119   07102676   男     07-7月 -84
1138597   02000395   女     11-10月-64
1139214   02001516   男     20-10月-57
1139450   04989264   女     08-11月-39
1140831   04997673   女     12-1月 -47
1141509   02000479   男     29-10月-56
1141866   04998732   男     20-11月-43
1143784   04993918   女     15-3月 -46
1146196   04996825   女     05-12月-58
1147944   02001053   女     04-10月-56
1152349   02003073   女     01-9月 -47

[598 rows x 3 columns]

In [53]:
output_sex = PAT_MASTER_INDEX[PAT_MASTER_INDEX['PATIENT_ID'].isin(DF)]

In [54]:
#输出疾病1信息
output_sex.to_csv("F:/data/output/高血压1级_年龄_性别_信息.tsv")

In [55]:
# 9.4 表 诊断记录  预处理后
PAT_DATA = pd.read_csv('F:/data/input/就诊日期.tsv', sep='\t')

In [56]:
PAT_DATA

        PATIENT_ID DIAGNOSIS_DATE
0         08000598      07-6月 -00
1         08000598      17-6月 -00
2         08000279      10-6月 -00
3         08000279      10-6月 -00
4         08000279      10-6月 -00
5         08000279      10-6月 -00
6         08000279      10-6月 -00
7         08000279      10-6月 -00
8         04012492      25-7月 -00
9         06001257      29-6月 -00
10        06001257      29-6月 -00
11        06001257      29-6月 -00
12        06001257      29-6月 -00
13        06001257      29-6月 -00
14        06001257      29-6月 -00
15        06001257      29-6月 -00
16        04012492      25-7月 -00
17        04004716      25-7月 -00
18        07002615      04-6月 -00
19        07002615      04-6月 -00
20        07002615      04-6月 -00
21        04005889      16-6月 -00
22        04010327      30-6月 -00
23        04010327      30-6月 -00
24        04010327      30-6月 -00
25        04010327      30-6月 -00
26        04007457      17-5月 -00
27        04007457      17-5月 -00
28        04007457      17-5月 -00
29        04010327      30-6月 -00
...            ...            ...
1178315   04191992      19-12月-17
1178316   08000519      05-12月-17
1178317   08000519      05-12月-17
1178318   08000519      05-12月-17
1178319   08000519      05-12月-17
1178320   08000519      05-12月-17
1178321   08000519      05-12月-17
1178322   08000519      05-12月-17
1178323   08000519      05-12月-17
1178324   08000519      05-12月-17
1178325   08000519      24-12月-17
1178326   08000519      26-12月-17
1178327   04965945      25-12月-17
1178328   04699201      06-11月-17
1178329   04699201      06-11月-17
1178330   04699201      06-11月-17
1178331   04699201      06-11月-17
1178332   04699201      06-11月-17
1178333   04699201      06-11月-17
1178334   04699201      06-11月-17
1178335   04699201      06-11月-17
1178336   04699201      06-11月-17
1178337   04699201      06-11月-17
1178338   04699201      06-11月-17
1178339   04699201      06-11月-17
1178340   04699201      06-11月-17
1178341   04699201      06-11月-17
1178342   04699201      06-11月-17
1178343   04699201      06-11月-17
1178344   04699201      06-11月-17

[1178345 rows x 2 columns]

In [57]:
DATA_count = PAT_DATA[PAT_DATA['PATIENT_ID'].isin(DF)]

In [58]:
DATA_count

        PATIENT_ID DIAGNOSIS_DATE
710       08000549      15-6月 -00
711       08000549      15-6月 -00
712       08000549      15-6月 -00
713       08000549      15-6月 -00
714       08000549      15-6月 -00
715       08000549      15-6月 -00
716       08000549      15-6月 -00
717       08000549      15-6月 -00
2115      08000377      30-3月 -00
2125      08000164      19-4月 -00
5158      08000282      11-5月 -00
5159      08000282      11-5月 -00
5160      08000282      11-5月 -00
5161      08000282      11-5月 -00
5162      08000304      25-5月 -00
5163      08000304      25-5月 -00
5164      08000304      25-5月 -00
5165      08000304      25-5月 -00
5166      08000304      25-5月 -00
5167      08000304      25-5月 -00
5168      08000304      25-5月 -00
5169      08000304      25-5月 -00
5170      08000304      25-5月 -00
5178      08000380      19-2月 -00
5179      08000380      19-2月 -00
5180      08000380      19-2月 -00
5181      08000380      19-2月 -00
5182      08000380      19-2月 -00
5183      08000380      19-2月 -00
5329      08000164      18-5月 -00
...            ...            ...
1175890   08000001      21-12月-17
1175891   08000001      21-12月-17
1175892   08000001      21-12月-17
1175893   08000001      21-12月-17
1175894   08000001      21-12月-17
1175895   08000001      21-12月-17
1175896   08000001      21-12月-17
1175897   08000001      21-12月-17
1175898   08000001      21-12月-17
1175899   08000001      21-12月-17
1176083   04801124      16-4月 -18
1176499   04976549      25-4月 -18
1176502   04186918      25-4月 -18
1177014   04024954      23-3月 -18
1177015   04024954      23-3月 -18
1177016   04024954      23-3月 -18
1177017   04024954      23-3月 -18
1177018   04024954      23-3月 -18
1177019   04024954      23-3月 -18
1177020   04024954      23-3月 -18
1177021   04024954      23-3月 -18
1177695   04985618      28-12月-17
1177696   04985618      28-12月-17
1177697   04985618      28-12月-17
1177698   04985618      28-12月-17
1177699   04985618      28-12月-17
1177700   04985618      28-12月-17
1177725   04985618      28-12月-17
1177739   04985618      28-12月-17
1177740   04985618      28-12月-17

[18214 rows x 2 columns]

In [59]:
PAT_NO_SAME_1 = DATA_count.drop_duplicates(['PATIENT_ID'],'last')
PAT_NO_SAME_1

        PATIENT_ID DIAGNOSIS_DATE
297547    04276861      04-3月 -09
297719    04199935      01-11月-08
301694    04264653      03-11月-08
302339    04012544      31-1月 -09
312381    04340789      03-2月 -10
312849    08001009      09-3月 -10
314889    04046977      01-12月-09
316238    04012751      20-2月 -10
317365    07032168      08-3月 -10
318259    04331440      12-11月-09
318312    04332276      03-12月-09
320693    04138908      08-1月 -10
322076    04147404      11-10月-09
346597    04272374      13-1月 -09
349142    04348392      09-4月 -10
357281    04000079      14-10月-08
357795    04254996      13-8月 -08
373163    04341970      23-2月 -10
379664    04322132      08-10月-09
381152    04002204      12-9月 -09
384014    07033659      18-8月 -08
385573    07037321      21-8月 -08
388350    04252934      25-7月 -08
391270    08000925      07-9月 -08
393017    04310382      25-7月 -09
394061    08001526      16-7月 -09
400373    04289301      19-5月 -09
407372    04363148      03-6月 -10
409587    04268583      23-11月-08
412232    04271054      19-12月-08
...            ...            ...
1166997   04989782      28-2月 -18
1167973   04910468      28-8月 -17
1168855   04988871      24-1月 -18
1168864   04065332      20-1月 -18
1168949   04451655      24-1月 -18
1169389   04024351      25-12月-17
1169460   04526212      11-12月-17
1169631   04925912      10-2月 -18
1169989   02001516      02-4月 -18
1170055   04619952      30-12月-17
1170286   04985093      25-12月-17
1170848   04381660      27-12月-17
1171747   04143306      03-1月 -18
1173217   04934341      04-1月 -18
1173565   04990065      21-3月 -18
1173968   04762360      23-2月 -18
1174108   09000828      18-12月-17
1174385   06000656      10-4月 -18
1174442   04156507      23-1月 -18
1174494   04974002      30-11月-17
1174577   04992004      15-3月 -18
1174808   08000164      09-12月-17
1175642   04350367      20-12月-17
1175663   04232294      13-1月 -18
1175899   08000001      21-12月-17
1176083   04801124      16-4月 -18
1176499   04976549      25-4月 -18
1176502   04186918      25-4月 -18
1177021   04024954      23-3月 -18
1177740   04985618      28-12月-17

[598 rows x 2 columns]

In [60]:
PAT_NO_SAME_1.to_csv("F:/data/output/高血压1级_就诊日期_信息.tsv")

In [3]:
# 表4.1 疾病字典 DIAGNOSIS_DICT 
DIAGNOSIS_DICT = pd.read_csv('F:/data/input/诊断代码.tsv', sep='\t')

In [4]:
# 经检验 需要全部字段 此处重做 表9.7 诊断分类记录 DIAGNOSTIC_CATEGORY 预处理 得到病人ID和疾病ID
DIAGNOSTIC_CATEGORY = pd.read_csv('F:/data/input/诊断分类记录_全.tsv', sep='\t')

d:\programdata\anaconda3\envs\tensorflow\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
print(DIAGNOSTIC_CATEGORY)

        PATIENT_ID  VISIT_ID DIAGNOSIS_TYPE  DIAGNOSIS_NO    DIAGNOSIS_CODE  \
0         04003500         2              2             1           261  01
1         04003500         2              3             1           307.101
2         04003500         2              3             2           273.801
3         04003500         2              3             3           280  01
4         04010720         1              5             1           799.402
5         04010720         1              6             1           567.905
6         04007153         1              1             1  070.901+573.106*
7         04007153         1              2             1  070.901+573.106*
8         04007153         1              3             1           155.201
9         04017543         1              1             1           162.901
10        04017543         1              2             1           793.101
11        04017543         1              3             1           793.101
12        04009395         1              1             1           155.201
13        04009395         1              2             1           155.201
14        04009395         1              3             1           155.201
15        04004782         1              1             1           150.401
16        04004782         1              2             1           150.401
17        04004782         1              2             2           151.001
18        04004782         1              3             1           150.401
19        04004782         1              3             2           151.001
20        04004782         1              6             1           998.501
21        04004782         1              8             1          M81400/3
22        04012439         1              1             1           250.002
23        04012439         1              2             1           250.002
24        04012439         1              2             2  250.301+583.803*
25        04012439         1              2             3           585  01
26        04012439         1              3             1           250.002
27        04012439         1              3             2  250.301+583.803*
28        04012439         1              3             3           585  01
29        04013646         1              1             1           174.901
...            ...       ...            ...           ...               ...
1180013    4802412         2              A             2           K52.904
1180014    4802412         2              A             3           I10  06
1180015    4802412         2              A             4           I21.902
1180016    4802412         2              A             5           K31.825
1180017    4032432         1              2             7           M19.992
1180018    4032432         1              2             8           Z48.901
1180019    4032432         1              2             9           I10  04
1180020    4032432         1              3             1           S72.004
1180021    4032432         1              A             1           S32.401
1180022    4032432         1              A             2           T09.302
1180023    4032432         1              A             3           S89.901
1180024    4032432         1              A             4           M50.221
1180025    4032432         1              A             5           M47.991
1180026    4032432         1              A             6           M19.992
1180027    4032432         1              A             7           Z48.901
1180028    4032432         1              A             8           I10  04
1180029    4032432         1              7             1           W19.901
1180030    4469763         3              2             2           I10  05
1180031    4469763         3              3             1           T30.001
1180032    4469763         3              A             1           I10  05
1180033    4469763         3              7             1           X12.901
1180034    4290249        10              1             1           L89.901
1180035    4290249        10              2             1           L89.901
1180036    4290249        10              2             2           G40.803
1180037    4290249        10              2             3           R40.201
1180038    4290249        10              2             4           I10  03
1180039    4290249        10              2             5           Z93.001
1180040    4290249        10              3             1           L89.901
1180041    4290249        10              A             1           G40.803
1180042    4290249        10              A             2           R40.201

         CODE_NO
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
5            NaN
6            NaN
7            NaN
8            NaN
9            NaN
10           NaN
11           NaN
12           NaN
13           NaN
14           NaN
15           NaN
16           NaN
17           NaN
18           NaN
19           NaN
20           NaN
21           NaN
22           NaN
23           NaN
24           NaN
25           NaN
26           NaN
27           NaN
28           NaN
29           NaN
...          ...
1180013      1.0
1180014      1.0
1180015      1.0
1180016      1.0
1180017      1.0
1180018      1.0
1180019      1.0
1180020      1.0
1180021      1.0
1180022      1.0
1180023      1.0
1180024      1.0
1180025      1.0
1180026      1.0
1180027      1.0
1180028      1.0
1180029      1.0
1180030      1.0
1180031      1.0
1180032      1.0
1180033      1.0
1180034      1.0
1180035      1.0
1180036      1.0
1180037      1.0
1180038      1.0
1180039      1.0
1180040      1.0
1180041      1.0
1180042      1.0

[1180043 rows x 6 columns]

In [6]:
alist=['I25.101']
DIAGNOSTIC_CATEGORY[DIAGNOSTIC_CATEGORY['DIAGNOSIS_CODE'].isin(alist)]

,PATIENT_ID,VISIT_ID,DIAGNOSIS_TYPE,DIAGNOSIS_NO,DIAGNOSIS_CODE,CODE_NO
240971,04230280,20,1,1,I25.101,1.0
240972,04230280,20,2,1,I25.101,1.0
240973,04230280,20,3,1,I25.101,1.0
241007,06000110,2,2,1,I25.101,1.0
241008,06000110,2,3,1,I25.101,1.0
241015,07056873,1,2,1,I25.101,1.0
241021,07056873,1,3,1,I25.101,1.0
241039,08000611,15,2,2,I25.101,1.0
241042,08000611,15,3,2,I25.101,1.0
241089,04415618,2,A,4,I25.101,1.0
241355,08000087,30,3,3,I25.101,1.0
241360,08000041,14,A,1,I25.101,1.0
241404,04043054,1,A,3,I25.101,1.0
241531,04453304,1,A,2,I25.101,1.0
241550,04457844,1,2,2,I25.101,1.0
241552,04457844,1,3,2,I25.101,1.0
241557,04192288,3,1,1,I25.101,1.0
241558,04192288,3,2,1,I25.101,1.0
241559,04192288,3,3,1,I25.101,1.0
241563,04454174,1,1,1,I25.101,1.0
241564,04454174,1,2,1,I25.101,1.0
241565,04454174,1,3,1,I25.101,1.0
241569,04176872,1,2,1,I25.101,1.0
241570,04176872,1,3,1,I25.101,1.0
241683,04411099,1,2,1,I25.101,1.0
241684,04411099,1,3,1,I25.101,1.0
241720,04457799,1,3,2,I25.101,1.0
241729,04451110,1,A,3,I25.101,1.0
241841,04230295,1,2,1,I25.101,1.0
241849,04068254,2,3,1,I25.101,1.0
...,...,...,...,...,...,...
1179042,04680439,53,3,1,I25.101,1.0
1179097,02000299,1,A,2,I25.101,1.0
1179126,04064539,7,1,1,I25.101,1.0
1179127,04064539,7,2,1,I25.101,1.0
1179128,04064539,7,3,1,I25.101,1.0
1179145,02000674,1,A,5,I25.101,1.0
1179163,04105692,14,2,1,I25.101,1.0
1179164,04105692,14,3,1,I25.101,1.0
1179167,04005742,7,2,3,I25.101,1.0
1179171,04005742,7,A,2,I25.101,1.0
1179324,04904035,4,A,7,I25.101,1.0
1179499,04330774,5,1,6,I25.101,1.0
1179506,04330774,5,2,6,I25.101,1.0
1179513,04330774,5,A,5,I25.101,1.0
1179657,4030598,6,A,5,I25.101,1.0
1179729,4039717,38,2,2,I25.101,1.0
1179734,4039717,38,A,1,I25.101,1.0
1179776,4387913,2,1,1,I25.101,1.0
1179777,4387913,2,2,1,I25.101,1.0
1179779,4387913,2,3,1,I25.101,1.0
1179834,4909795,2,A,2,I25.101,1.0
1179873,8000377,66,A,2,I25.101,1.0
1179875,4725154,6,A,4,I25.101,1.0
1179883,4893539,8,A,2,I25.101,1.0
1179889,8000278,31,A,2,I25.101,1.0
1179905,4394714,5,2,1,I25.101,1.0
1179906,4394714,5,3,1,I25.101,1.0
1179917,4946613,2,A,1,I25.101,1.0
1179966,4043054,3,2,2,I25.101,1.0
1179969,4043054,3,A,1,I25.101,1.0

In [10]:
#重定义
test = DIAGNOSTIC_CATEGORY[DIAGNOSTIC_CATEGORY['DIAGNOSIS_CODE'].isin(alist)]
#print(test)
#筛选出患病人数
DF = test['PATIENT_ID'].unique()   
#转格式
SS = Series(DF)
print(SS)

0       04230280
1       06000110
2       07056873
3       08000611
4       04415618
5       08000087
6       08000041
7       04043054
8       04453304
9       04457844
10      04192288
11      04454174
12      04176872
13      04411099
14      04457799
15      04451110
16      04230295
17      04068254
18      04106429
19      04202307
20      04077673
21      04115848
22      08000304
23      04457360
24      04234988
25      04327447
26      06001302
27      04142605
28      04175271
29      04002377
          ...
4858    04964659
4859    04228714
4860    04920357
4861    04985618
4862    04904035
4863    04993834
4864    02003407
4865    02002047
4866    04994516
4867    04962512
4868    04330774
4869    04995893
4870    04998425
4871    04956896
4872    04962234
4873    04944075
4874    90180893
4875    02000299
4876    02000674
4877     4030598
4878     4039717
4879     4387913
4880     4909795
4881     8000377
4882     4725154
4883     4893539
4884     8000278
4885     4394714
4886     4946613
4887     4043054
Length: 4888, dtype: object

In [2]:
# 经检验 需要全部字段 此处重做 表9.7 诊断分类记录 DIAGNOSTIC_CATEGORY 预处理 得到病人ID和疾病ID
DIAGNOSTIC_CATEGORY = pd.read_csv('F:/data/input/诊断分类记录_全.tsv', sep='\t')

d:\programdata\anaconda3\envs\tensorflow\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
print(DIAGNOSTIC_CATEGORY)

        PATIENT_ID  VISIT_ID DIAGNOSIS_TYPE  DIAGNOSIS_NO    DIAGNOSIS_CODE  \
0         04003500         2              2             1           261  01
1         04003500         2              3             1           307.101
2         04003500         2              3             2           273.801
3         04003500         2              3             3           280  01
4         04010720         1              5             1           799.402
5         04010720         1              6             1           567.905
6         04007153         1              1             1  070.901+573.106*
7         04007153         1              2             1  070.901+573.106*
8         04007153         1              3             1           155.201
9         04017543         1              1             1           162.901
10        04017543         1              2             1           793.101
11        04017543         1              3             1           793.101
12        04009395         1              1             1           155.201
13        04009395         1              2             1           155.201
14        04009395         1              3             1           155.201
15        04004782         1              1             1           150.401
16        04004782         1              2             1           150.401
17        04004782         1              2             2           151.001
18        04004782         1              3             1           150.401
19        04004782         1              3             2           151.001
20        04004782         1              6             1           998.501
21        04004782         1              8             1          M81400/3
22        04012439         1              1             1           250.002
23        04012439         1              2             1           250.002
24        04012439         1              2             2  250.301+583.803*
25        04012439         1              2             3           585  01
26        04012439         1              3             1           250.002
27        04012439         1              3             2  250.301+583.803*
28        04012439         1              3             3           585  01
29        04013646         1              1             1           174.901
...            ...       ...            ...           ...               ...
1180013    4802412         2              A             2           K52.904
1180014    4802412         2              A             3           I10  06
1180015    4802412         2              A             4           I21.902
1180016    4802412         2              A             5           K31.825
1180017    4032432         1              2             7           M19.992
1180018    4032432         1              2             8           Z48.901
1180019    4032432         1              2             9           I10  04
1180020    4032432         1              3             1           S72.004
1180021    4032432         1              A             1           S32.401
1180022    4032432         1              A             2           T09.302
1180023    4032432         1              A             3           S89.901
1180024    4032432         1              A             4           M50.221
1180025    4032432         1              A             5           M47.991
1180026    4032432         1              A             6           M19.992
1180027    4032432         1              A             7           Z48.901
1180028    4032432         1              A             8           I10  04
1180029    4032432         1              7             1           W19.901
1180030    4469763         3              2             2           I10  05
1180031    4469763         3              3             1           T30.001
1180032    4469763         3              A             1           I10  05
1180033    4469763         3              7             1           X12.901
1180034    4290249        10              1             1           L89.901
1180035    4290249        10              2             1           L89.901
1180036    4290249        10              2             2           G40.803
1180037    4290249        10              2             3           R40.201
1180038    4290249        10              2             4           I10  03
1180039    4290249        10              2             5           Z93.001
1180040    4290249        10              3             1           L89.901
1180041    4290249        10              A             1           G40.803
1180042    4290249        10              A             2           R40.201

         CODE_NO
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
5            NaN
6            NaN
7            NaN
8            NaN
9            NaN
10           NaN
11           NaN
12           NaN
13           NaN
14           NaN
15           NaN
16           NaN
17           NaN
18           NaN
19           NaN
20           NaN
21           NaN
22           NaN
23           NaN
24           NaN
25           NaN
26           NaN
27           NaN
28           NaN
29           NaN
...          ...
1180013      1.0
1180014      1.0
1180015      1.0
1180016      1.0
1180017      1.0
1180018      1.0
1180019      1.0
1180020      1.0
1180021      1.0
1180022      1.0
1180023      1.0
1180024      1.0
1180025      1.0
1180026      1.0
1180027      1.0
1180028      1.0
1180029      1.0
1180030      1.0
1180031      1.0
1180032      1.0
1180033      1.0
1180034      1.0
1180035      1.0
1180036      1.0
1180037      1.0
1180038      1.0
1180039      1.0
1180040      1.0
1180041      1.0
1180042      1.0

[1180043 rows x 6 columns]

In [4]:
# step1 I25.101(冠状动脉粥样硬化性心脏病)
alist=['I25.101']
DIAGNOSTIC_CATEGORY[DIAGNOSTIC_CATEGORY['DIAGNOSIS_CODE'].isin(alist)]

,PATIENT_ID,VISIT_ID,DIAGNOSIS_TYPE,DIAGNOSIS_NO,DIAGNOSIS_CODE,CODE_NO
240971,04230280,20,1,1,I25.101,1.0
240972,04230280,20,2,1,I25.101,1.0
240973,04230280,20,3,1,I25.101,1.0
241007,06000110,2,2,1,I25.101,1.0
241008,06000110,2,3,1,I25.101,1.0
241015,07056873,1,2,1,I25.101,1.0
241021,07056873,1,3,1,I25.101,1.0
241039,08000611,15,2,2,I25.101,1.0
241042,08000611,15,3,2,I25.101,1.0
241089,04415618,2,A,4,I25.101,1.0
241355,08000087,30,3,3,I25.101,1.0
241360,08000041,14,A,1,I25.101,1.0
241404,04043054,1,A,3,I25.101,1.0
241531,04453304,1,A,2,I25.101,1.0
241550,04457844,1,2,2,I25.101,1.0
241552,04457844,1,3,2,I25.101,1.0
241557,04192288,3,1,1,I25.101,1.0
241558,04192288,3,2,1,I25.101,1.0
241559,04192288,3,3,1,I25.101,1.0
241563,04454174,1,1,1,I25.101,1.0
241564,04454174,1,2,1,I25.101,1.0
241565,04454174,1,3,1,I25.101,1.0
241569,04176872,1,2,1,I25.101,1.0
241570,04176872,1,3,1,I25.101,1.0
241683,04411099,1,2,1,I25.101,1.0
241684,04411099,1,3,1,I25.101,1.0
241720,04457799,1,3,2,I25.101,1.0
241729,04451110,1,A,3,I25.101,1.0
241841,04230295,1,2,1,I25.101,1.0
241849,04068254,2,3,1,I25.101,1.0
...,...,...,...,...,...,...
1179042,04680439,53,3,1,I25.101,1.0
1179097,02000299,1,A,2,I25.101,1.0
1179126,04064539,7,1,1,I25.101,1.0
1179127,04064539,7,2,1,I25.101,1.0
1179128,04064539,7,3,1,I25.101,1.0
1179145,02000674,1,A,5,I25.101,1.0
1179163,04105692,14,2,1,I25.101,1.0
1179164,04105692,14,3,1,I25.101,1.0
1179167,04005742,7,2,3,I25.101,1.0
1179171,04005742,7,A,2,I25.101,1.0
1179324,04904035,4,A,7,I25.101,1.0
1179499,04330774,5,1,6,I25.101,1.0
1179506,04330774,5,2,6,I25.101,1.0
1179513,04330774,5,A,5,I25.101,1.0
1179657,4030598,6,A,5,I25.101,1.0
1179729,4039717,38,2,2,I25.101,1.0
1179734,4039717,38,A,1,I25.101,1.0
1179776,4387913,2,1,1,I25.101,1.0
1179777,4387913,2,2,1,I25.101,1.0
1179779,4387913,2,3,1,I25.101,1.0
1179834,4909795,2,A,2,I25.101,1.0
1179873,8000377,66,A,2,I25.101,1.0
1179875,4725154,6,A,4,I25.101,1.0
1179883,4893539,8,A,2,I25.101,1.0
1179889,8000278,31,A,2,I25.101,1.0
1179905,4394714,5,2,1,I25.101,1.0
1179906,4394714,5,3,1,I25.101,1.0
1179917,4946613,2,A,1,I25.101,1.0
1179966,4043054,3,2,2,I25.101,1.0
1179969,4043054,3,A,1,I25.101,1.0

In [5]:
#重定义
test = DIAGNOSTIC_CATEGORY[DIAGNOSTIC_CATEGORY['DIAGNOSIS_CODE'].isin(alist)]
print(test)

        PATIENT_ID  VISIT_ID DIAGNOSIS_TYPE  DIAGNOSIS_NO DIAGNOSIS_CODE  \
240971    04230280        20              1             1        I25.101
240972    04230280        20              2             1        I25.101
240973    04230280        20              3             1        I25.101
241007    06000110         2              2             1        I25.101
241008    06000110         2              3             1        I25.101
241015    07056873         1              2             1        I25.101
241021    07056873         1              3             1        I25.101
241039    08000611        15              2             2        I25.101
241042    08000611        15              3             2        I25.101
241089    04415618         2              A             4        I25.101
241355    08000087        30              3             3        I25.101
241360    08000041        14              A             1        I25.101
241404    04043054         1              A             3        I25.101
241531    04453304         1              A             2        I25.101
241550    04457844         1              2             2        I25.101
241552    04457844         1              3             2        I25.101
241557    04192288         3              1             1        I25.101
241558    04192288         3              2             1        I25.101
241559    04192288         3              3             1        I25.101
241563    04454174         1              1             1        I25.101
241564    04454174         1              2             1        I25.101
241565    04454174         1              3             1        I25.101
241569    04176872         1              2             1        I25.101
241570    04176872         1              3             1        I25.101
241683    04411099         1              2             1        I25.101
241684    04411099         1              3             1        I25.101
241720    04457799         1              3             2        I25.101
241729    04451110         1              A             3        I25.101
241841    04230295         1              2             1        I25.101
241849    04068254         2              3             1        I25.101
...            ...       ...            ...           ...            ...
1179042   04680439        53              3             1        I25.101
1179097   02000299         1              A             2        I25.101
1179126   04064539         7              1             1        I25.101
1179127   04064539         7              2             1        I25.101
1179128   04064539         7              3             1        I25.101
1179145   02000674         1              A             5        I25.101
1179163   04105692        14              2             1        I25.101
1179164   04105692        14              3             1        I25.101
1179167   04005742         7              2             3        I25.101
1179171   04005742         7              A             2        I25.101
1179324   04904035         4              A             7        I25.101
1179499   04330774         5              1             6        I25.101
1179506   04330774         5              2             6        I25.101
1179513   04330774         5              A             5        I25.101
1179657    4030598         6              A             5        I25.101
1179729    4039717        38              2             2        I25.101
1179734    4039717        38              A             1        I25.101
1179776    4387913         2              1             1        I25.101
1179777    4387913         2              2             1        I25.101
1179779    4387913         2              3             1        I25.101
1179834    4909795         2              A             2        I25.101
1179873    8000377        66              A             2        I25.101
1179875    4725154         6              A             4        I25.101
1179883    4893539         8              A             2        I25.101
1179889    8000278        31              A             2        I25.101
1179905    4394714         5              2             1        I25.101
1179906    4394714         5              3             1        I25.101
1179917    4946613         2              A             1        I25.101
1179966    4043054         3              2             2        I25.101
1179969    4043054         3              A             1        I25.101

         CODE_NO
240971       1.0
240972       1.0
240973       1.0
241007       1.0
241008       1.0
241015       1.0
241021       1.0
241039       1.0
241042       1.0
241089       1.0
241355       1.0
241360       1.0
241404       1.0
241531       1.0
241550       1.0
241552       1.0
241557       1.0
241558       1.0
241559       1.0
241563       1.0
241564       1.0
241565       1.0
241569       1.0
241570       1.0
241683       1.0
241684       1.0
241720       1.0
241729       1.0
241841       1.0
241849       1.0
...          ...
1179042      1.0
1179097      1.0
1179126      1.0
1179127      1.0
1179128      1.0
1179145      1.0
1179163      1.0
1179164      1.0
1179167      1.0
1179171      1.0
1179324      1.0
1179499      1.0
1179506      1.0
1179513      1.0
1179657      1.0
1179729      1.0
1179734      1.0
1179776      1.0
1179777      1.0
1179779      1.0
1179834      1.0
1179873      1.0
1179875      1.0
1179883      1.0
1179889      1.0
1179905      1.0
1179906      1.0
1179917      1.0
1179966      1.0
1179969      1.0

[24183 rows x 6 columns]

In [6]:
#筛选出频率第一疾病的实际患病人数 4888人
DF = test['PATIENT_ID'].unique()   
#转格式
SS = Series(DF)
SS

0       04230280
1       06000110
2       07056873
3       08000611
4       04415618
5       08000087
6       08000041
7       04043054
8       04453304
9       04457844
10      04192288
11      04454174
12      04176872
13      04411099
14      04457799
15      04451110
16      04230295
17      04068254
18      04106429
19      04202307
20      04077673
21      04115848
22      08000304
23      04457360
24      04234988
25      04327447
26      06001302
27      04142605
28      04175271
29      04002377
          ...
4858    04964659
4859    04228714
4860    04920357
4861    04985618
4862    04904035
4863    04993834
4864    02003407
4865    02002047
4866    04994516
4867    04962512
4868    04330774
4869    04995893
4870    04998425
4871    04956896
4872    04962234
4873    04944075
4874    90180893
4875    02000299
4876    02000674
4877     4030598
4878     4039717
4879     4387913
4880     4909795
4881     8000377
4882     4725154
4883     4893539
4884     8000278
4885     4394714
4886     4946613
4887     4043054
Length: 4888, dtype: object

In [7]:
#病人ID
DF

array(['04230280', '06000110', '07056873', ..., 4394714, 4946613, 4043054],
      dtype=object)

In [8]:
# 9.4 表 诊断记录  预处理后
PAT_DATA = pd.read_csv('F:/data/input/就诊日期.tsv', sep='\t')

In [9]:
PAT_DATA

        PATIENT_ID DIAGNOSIS_DATE
0         08000598      07-6月 -00
1         08000598      17-6月 -00
2         08000279      10-6月 -00
3         08000279      10-6月 -00
4         08000279      10-6月 -00
5         08000279      10-6月 -00
6         08000279      10-6月 -00
7         08000279      10-6月 -00
8         04012492      25-7月 -00
9         06001257      29-6月 -00
10        06001257      29-6月 -00
11        06001257      29-6月 -00
12        06001257      29-6月 -00
13        06001257      29-6月 -00
14        06001257      29-6月 -00
15        06001257      29-6月 -00
16        04012492      25-7月 -00
17        04004716      25-7月 -00
18        07002615      04-6月 -00
19        07002615      04-6月 -00
20        07002615      04-6月 -00
21        04005889      16-6月 -00
22        04010327      30-6月 -00
23        04010327      30-6月 -00
24        04010327      30-6月 -00
25        04010327      30-6月 -00
26        04007457      17-5月 -00
27        04007457      17-5月 -00
28        04007457      17-5月 -00
29        04010327      30-6月 -00
...            ...            ...
1178315   04191992      19-12月-17
1178316   08000519      05-12月-17
1178317   08000519      05-12月-17
1178318   08000519      05-12月-17
1178319   08000519      05-12月-17
1178320   08000519      05-12月-17
1178321   08000519      05-12月-17
1178322   08000519      05-12月-17
1178323   08000519      05-12月-17
1178324   08000519      05-12月-17
1178325   08000519      24-12月-17
1178326   08000519      26-12月-17
1178327   04965945      25-12月-17
1178328   04699201      06-11月-17
1178329   04699201      06-11月-17
1178330   04699201      06-11月-17
1178331   04699201      06-11月-17
1178332   04699201      06-11月-17
1178333   04699201      06-11月-17
1178334   04699201      06-11月-17
1178335   04699201      06-11月-17
1178336   04699201      06-11月-17
1178337   04699201      06-11月-17
1178338   04699201      06-11月-17
1178339   04699201      06-11月-17
1178340   04699201      06-11月-17
1178341   04699201      06-11月-17
1178342   04699201      06-11月-17
1178343   04699201      06-11月-17
1178344   04699201      06-11月-17

[1178345 rows x 2 columns]

In [10]:
DATA_count = PAT_DATA[PAT_DATA['PATIENT_ID'].isin(DF)]

In [11]:
DATA_count

        PATIENT_ID DIAGNOSIS_DATE
0         08000598      07-6月 -00
1         08000598      17-6月 -00
139       04008472      30-6月 -00
140       04008472      30-6月 -00
157       06000797      30-4月 -00
158       06000797      30-4月 -00
159       06000797      30-4月 -00
160       06000797      30-4月 -00
161       06000797      30-4月 -00
162       06000797      30-4月 -00
172       04008741      23-5月 -00
174       04008741      23-5月 -00
175       04008741      23-5月 -00
299       08000550      11-5月 -00
300       08000550      11-5月 -00
301       08000550      11-5月 -00
376       09000110      25-5月 -00
377       09000110      25-5月 -00
378       09000110      25-5月 -00
379       09000110      25-5月 -00
380       09000110      25-5月 -00
388       04032188      24-5月 -00
389       04032188      24-5月 -00
390       04032188      24-5月 -00
391       04032188      24-5月 -00
392       04032188      24-5月 -00
452       04008472      22-5月 -00
454       04008472      22-5月 -00
459       04008472      22-5月 -00
540       04032188      09-6月 -00
...            ...            ...
1178248   04994982      07-2月 -18
1178249   04994982      07-2月 -18
1178316   08000519      05-12月-17
1178317   08000519      05-12月-17
1178318   08000519      05-12月-17
1178319   08000519      05-12月-17
1178320   08000519      05-12月-17
1178321   08000519      05-12月-17
1178322   08000519      05-12月-17
1178323   08000519      05-12月-17
1178324   08000519      05-12月-17
1178325   08000519      24-12月-17
1178326   08000519      26-12月-17
1178328   04699201      06-11月-17
1178329   04699201      06-11月-17
1178330   04699201      06-11月-17
1178331   04699201      06-11月-17
1178332   04699201      06-11月-17
1178333   04699201      06-11月-17
1178334   04699201      06-11月-17
1178335   04699201      06-11月-17
1178336   04699201      06-11月-17
1178337   04699201      06-11月-17
1178338   04699201      06-11月-17
1178339   04699201      06-11月-17
1178340   04699201      06-11月-17
1178341   04699201      06-11月-17
1178342   04699201      06-11月-17
1178343   04699201      06-11月-17
1178344   04699201      06-11月-17

[186471 rows x 2 columns]

In [12]:
PAT_NO_SAME_1 = DATA_count.drop_duplicates(['PATIENT_ID'],'last')
PAT_NO_SAME_1

        PATIENT_ID DIAGNOSIS_DATE
288239    04010670      06-9月 -10
288332    04372346      12-9月 -10
289280    04083884      02-10月-10
289741    08001727      21-10月-10
290005    04020394      30-9月 -10
290804    04022113      23-10月-10
291113    04329259      02-11月-10
291469    04383215      14-9月 -10
291490    04024336      27-8月 -10
291597    08001725      14-9月 -10
291672    04389456      07-10月-10
292205    04222849      28-9月 -10
292340    08001353      26-9月 -10
293275    04014986      14-9月 -10
293990    04169768      11-10月-10
293994    04370273      25-10月-10
294194    04091511      25-8月 -10
294423    04381977      06-9月 -10
294848    04278977      19-3月 -09
295190    04142199      18-11月-08
295575    04112058      25-11月-08
295758    04275193      07-2月 -09
296057    04050882      26-11月-08
296416    04275066      09-2月 -09
296929    04277023      26-2月 -09
297144    04270289      23-12月-08
297295    04251321      21-10月-08
297813    04190920      07-11月-08
297857    04267725      15-11月-08
298813    04179802      06-12月-08
...            ...            ...
1176954   04142524      11-4月 -18
1177013   04998346      23-3月 -18
1177021   04024954      23-3月 -18
1177115   04450711      15-2月 -18
1177176   04998866      12-3月 -18
1177190   04155135      14-3月 -18
1177201   04113379      05-3月 -18
1177225   04680439      27-4月 -18
1177284   04065508      24-4月 -18
1177304   04933329      24-4月 -18
1177345   04394714      01-1月 -18
1177374   04266143      17-1月 -18
1177431   04087589      11-4月 -18
1177441   04039109      11-4月 -18
1177448   04020289      03-2月 -18
1177509   04933062      02-2月 -18
1177730   04320583      08-11月-17
1177740   04985618      28-12月-17
1177777   04632742      02-4月 -18
1177827   04945954      10-1月 -18
1177897   04515664      13-3月 -18
1177898   04610057      15-3月 -18
1177912   04045389      19-3月 -18
1177944   04987091      21-1月 -18
1178080   04634836      02-3月 -18
1178098   04995962      05-3月 -18
1178129   04124932      23-4月 -18
1178249   04994982      07-2月 -18
1178326   08000519      26-12月-17
1178344   04699201      06-11月-17

[4877 rows x 2 columns]

In [14]:
PAT_NO_SAME_1.to_csv("F:/data/output/心1_就诊日期_信息.tsv")

In [15]:
# 表4.1 疾病字典 DIAGNOSIS_DICT 
DIAGNOSIS_DICT = pd.read_csv('F:/data/input/诊断代码.tsv', sep='\t')

In [16]:
# 经检验 需要全部字段 此处重做 表9.7 诊断分类记录 DIAGNOSTIC_CATEGORY 预处理 得到病人ID和疾病ID
DIAGNOSTIC_CATEGORY = pd.read_csv('F:/data/input/诊断分类记录_全.tsv', sep='\t')

d:\programdata\anaconda3\envs\tensorflow\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [17]:
print(DIAGNOSTIC_CATEGORY)

        PATIENT_ID  VISIT_ID DIAGNOSIS_TYPE  DIAGNOSIS_NO    DIAGNOSIS_CODE  \
0         04003500         2              2             1           261  01
1         04003500         2              3             1           307.101
2         04003500         2              3             2           273.801
3         04003500         2              3             3           280  01
4         04010720         1              5             1           799.402
5         04010720         1              6             1           567.905
6         04007153         1              1             1  070.901+573.106*
7         04007153         1              2             1  070.901+573.106*
8         04007153         1              3             1           155.201
9         04017543         1              1             1           162.901
10        04017543         1              2             1           793.101
11        04017543         1              3             1           793.101
12        04009395         1              1             1           155.201
13        04009395         1              2             1           155.201
14        04009395         1              3             1           155.201
15        04004782         1              1             1           150.401
16        04004782         1              2             1           150.401
17        04004782         1              2             2           151.001
18        04004782         1              3             1           150.401
19        04004782         1              3             2           151.001
20        04004782         1              6             1           998.501
21        04004782         1              8             1          M81400/3
22        04012439         1              1             1           250.002
23        04012439         1              2             1           250.002
24        04012439         1              2             2  250.301+583.803*
25        04012439         1              2             3           585  01
26        04012439         1              3             1           250.002
27        04012439         1              3             2  250.301+583.803*
28        04012439         1              3             3           585  01
29        04013646         1              1             1           174.901
...            ...       ...            ...           ...               ...
1180013    4802412         2              A             2           K52.904
1180014    4802412         2              A             3           I10  06
1180015    4802412         2              A             4           I21.902
1180016    4802412         2              A             5           K31.825
1180017    4032432         1              2             7           M19.992
1180018    4032432         1              2             8           Z48.901
1180019    4032432         1              2             9           I10  04
1180020    4032432         1              3             1           S72.004
1180021    4032432         1              A             1           S32.401
1180022    4032432         1              A             2           T09.302
1180023    4032432         1              A             3           S89.901
1180024    4032432         1              A             4           M50.221
1180025    4032432         1              A             5           M47.991
1180026    4032432         1              A             6           M19.992
1180027    4032432         1              A             7           Z48.901
1180028    4032432         1              A             8           I10  04
1180029    4032432         1              7             1           W19.901
1180030    4469763         3              2             2           I10  05
1180031    4469763         3              3             1           T30.001
1180032    4469763         3              A             1           I10  05
1180033    4469763         3              7             1           X12.901
1180034    4290249        10              1             1           L89.901
1180035    4290249        10              2             1           L89.901
1180036    4290249        10              2             2           G40.803
1180037    4290249        10              2             3           R40.201
1180038    4290249        10              2             4           I10  03
1180039    4290249        10              2             5           Z93.001
1180040    4290249        10              3             1           L89.901
1180041    4290249        10              A             1           G40.803
1180042    4290249        10              A             2           R40.201

         CODE_NO
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
5            NaN
6            NaN
7            NaN
8            NaN
9            NaN
10           NaN
11           NaN
12           NaN
13           NaN
14           NaN
15           NaN
16           NaN
17           NaN
18           NaN
19           NaN
20           NaN
21           NaN
22           NaN
23           NaN
24           NaN
25           NaN
26           NaN
27           NaN
28           NaN
29           NaN
...          ...
1180013      1.0
1180014      1.0
1180015      1.0
1180016      1.0
1180017      1.0
1180018      1.0
1180019      1.0
1180020      1.0
1180021      1.0
1180022      1.0
1180023      1.0
1180024      1.0
1180025      1.0
1180026      1.0
1180027      1.0
1180028      1.0
1180029      1.0
1180030      1.0
1180031      1.0
1180032      1.0
1180033      1.0
1180034      1.0
1180035      1.0
1180036      1.0
1180037      1.0
1180038      1.0
1180039      1.0
1180040      1.0
1180041      1.0
1180042      1.0

[1180043 rows x 6 columns]

In [18]:
#step2 I49.901(心律失常)
alist=['I49.901']
DIAGNOSTIC_CATEGORY[DIAGNOSTIC_CATEGORY['DIAGNOSIS_CODE'].isin(alist)]

,PATIENT_ID,VISIT_ID,DIAGNOSIS_TYPE,DIAGNOSIS_NO,DIAGNOSIS_CODE,CODE_NO
241106,04451590,1,3,3,I49.901,1.0
241217,04451769,1,A,2,I49.901,1.0
241221,06003511,11,A,3,I49.901,NaN
241279,04222659,4,2,3,I49.901,1.0
241339,04222659,4,A,2,I49.901,1.0
241554,04457844,1,3,4,I49.901,1.0
241560,04192288,3,A,1,I49.901,1.0
241669,07030087,6,2,1,I49.901,1.0
241670,07030087,6,3,1,I49.901,1.0
241673,07030087,5,1,1,I49.901,1.0
241674,07030087,5,2,1,I49.901,1.0
241677,07030087,5,3,1,I49.901,1.0
241680,04284506,1,2,1,I49.901,1.0
241681,04284506,1,3,1,I49.901,1.0
241710,04131836,8,3,4,I49.901,1.0
241844,04230295,1,A,2,I49.901,1.0
241906,04202307,7,3,3,I49.901,1.0
242274,04234988,2,2,1,I49.901,1.0
242275,04234988,2,3,1,I49.901,1.0
242283,04230280,21,3,3,I49.901,1.0
242432,04465957,1,2,1,I49.901,1.0
242433,04465957,1,3,1,I49.901,1.0
242447,04142605,1,A,2,I49.901,1.0
243186,04444357,1,2,3,I49.901,1.0
243190,04444357,1,A,2,I49.901,1.0
243424,04008747,13,A,1,I49.901,1.0
243897,04451601,1,2,6,I49.901,1.0
243903,04451601,1,A,5,I49.901,1.0
244276,06003511,12,1,1,I49.901,1.0
244704,04154512,4,A,4,I49.901,1.0
...,...,...,...,...,...,...
1171440,04987587,2,A,8,I49.901,1.0
1173578,04124723,7,A,3,I49.901,1.0
1174693,04950132,4,2,4,I49.901,1.0
1174698,04950132,4,A,3,I49.901,1.0
1175051,04447022,8,A,2,I49.901,1.0
1175164,04985618,1,3,1,I49.901,1.0
1175243,04068302,11,A,3,I49.901,1.0
1175251,04067913,4,2,2,I49.901,1.0
1175253,04067913,4,A,1,I49.901,1.0
1175667,04993834,1,A,2,I49.901,1.0
1175781,02003407,1,A,2,I49.901,NaN
1175920,09000403,4,2,2,I49.901,1.0
1175940,09000403,4,A,1,I49.901,1.0
1176360,04048197,25,A,2,I49.901,1.0
1176376,04991767,2,A,9,I49.901,1.0
1176391,04963882,2,2,2,I49.901,1.0
1176393,04963882,2,A,1,I49.901,1.0
1177513,04989682,1,A,2,I49.901,1.0
1177637,04950132,2,A,3,I49.901,1.0
1177765,04946848,3,A,2,I49.901,1.0
1177781,04009549,1,A,5,I49.901,1.0
1177798,04155793,20,A,3,I49.901,1.0
1177946,04685963,5,2,7,I49.901,1.0
1177953,04685963,5,A,6,I49.901,1.0
1178074,04994353,3,1,1,I49.901,1.0
1178105,04751774,1,A,1,I49.901,1.0
1178554,04638618,6,A,7,I49.901,1.0
1179165,04105692,14,A,1,I49.901,1.0
1179645,04981783,1,3,1,I49.901,1.0
1179781,4387913,2,A,2,I49.901,1.0

In [19]:
#重定义
test = DIAGNOSTIC_CATEGORY[DIAGNOSTIC_CATEGORY['DIAGNOSIS_CODE'].isin(alist)]
print(test)

        PATIENT_ID  VISIT_ID DIAGNOSIS_TYPE  DIAGNOSIS_NO DIAGNOSIS_CODE  \
241106    04451590         1              3             3        I49.901
241217    04451769         1              A             2        I49.901
241221    06003511        11              A             3        I49.901
241279    04222659         4              2             3        I49.901
241339    04222659         4              A             2        I49.901
241554    04457844         1              3             4        I49.901
241560    04192288         3              A             1        I49.901
241669    07030087         6              2             1        I49.901
241670    07030087         6              3             1        I49.901
241673    07030087         5              1             1        I49.901
241674    07030087         5              2             1        I49.901
241677    07030087         5              3             1        I49.901
241680    04284506         1              2             1        I49.901
241681    04284506         1              3             1        I49.901
241710    04131836         8              3             4        I49.901
241844    04230295         1              A             2        I49.901
241906    04202307         7              3             3        I49.901
242274    04234988         2              2             1        I49.901
242275    04234988         2              3             1        I49.901
242283    04230280        21              3             3        I49.901
242432    04465957         1              2             1        I49.901
242433    04465957         1              3             1        I49.901
242447    04142605         1              A             2        I49.901
243186    04444357         1              2             3        I49.901
243190    04444357         1              A             2        I49.901
243424    04008747        13              A             1        I49.901
243897    04451601         1              2             6        I49.901
243903    04451601         1              A             5        I49.901
244276    06003511        12              1             1        I49.901
244704    04154512         4              A             4        I49.901
...            ...       ...            ...           ...            ...
1171440   04987587         2              A             8        I49.901
1173578   04124723         7              A             3        I49.901
1174693   04950132         4              2             4        I49.901
1174698   04950132         4              A             3        I49.901
1175051   04447022         8              A             2        I49.901
1175164   04985618         1              3             1        I49.901
1175243   04068302        11              A             3        I49.901
1175251   04067913         4              2             2        I49.901
1175253   04067913         4              A             1        I49.901
1175667   04993834         1              A             2        I49.901
1175781   02003407         1              A             2        I49.901
1175920   09000403         4              2             2        I49.901
1175940   09000403         4              A             1        I49.901
1176360   04048197        25              A             2        I49.901
1176376   04991767         2              A             9        I49.901
1176391   04963882         2              2             2        I49.901
1176393   04963882         2              A             1        I49.901
1177513   04989682         1              A             2        I49.901
1177637   04950132         2              A             3        I49.901
1177765   04946848         3              A             2        I49.901
1177781   04009549         1              A             5        I49.901
1177798   04155793        20              A             3        I49.901
1177946   04685963         5              2             7        I49.901
1177953   04685963         5              A             6        I49.901
1178074   04994353         3              1             1        I49.901
1178105   04751774         1              A             1        I49.901
1178554   04638618         6              A             7        I49.901
1179165   04105692        14              A             1        I49.901
1179645   04981783         1              3             1        I49.901
1179781    4387913         2              A             2        I49.901

         CODE_NO
241106       1.0
241217       1.0
241221       NaN
241279       1.0
241339       1.0
241554       1.0
241560       1.0
241669       1.0
241670       1.0
241673       1.0
241674       1.0
241677       1.0
241680       1.0
241681       1.0
241710       1.0
241844       1.0
241906       1.0
242274       1.0
242275       1.0
242283       1.0
242432       1.0
242433       1.0
242447       1.0
243186       1.0
243190       1.0
243424       1.0
243897       1.0
243903       1.0
244276       1.0
244704       1.0
...          ...
1171440      1.0
1173578      1.0
1174693      1.0
1174698      1.0
1175051      1.0
1175164      1.0
1175243      1.0
1175251      1.0
1175253      1.0
1175667      1.0
1175781      NaN
1175920      1.0
1175940      1.0
1176360      1.0
1176376      1.0
1176391      1.0
1176393      1.0
1177513      1.0
1177637      1.0
1177765      1.0
1177781      1.0
1177798      1.0
1177946      1.0
1177953      1.0
1178074      1.0
1178105      1.0
1178554      1.0
1179165      1.0
1179645      1.0
1179781      1.0

[4792 rows x 6 columns]

In [20]:
#筛选出频率第一疾病的实际患病人数 9130人
DF = test['PATIENT_ID'].unique()   
#转格式
SS = Series(DF)
SS

0       04451590
1       04451769
2       06003511
3       04222659
4       04457844
5       04192288
6       07030087
7       04284506
8       04131836
9       04230295
10      04202307
11      04234988
12      04230280
13      04465957
14      04142605
15      04444357
16      04008747
17      04451601
18      04154512
19      04189463
20      04105953
21      04458135
22      04261226
23      04452292
24      04106993
25      04015521
26      04448266
27      04331933
28      04359543
29      04068446
          ...
2211    04584842
2212    04997345
2213    04188448
2214    90211033
2215    04938368
2216    04255093
2217    04079699
2218    04376573
2219    04890394
2220    04997015
2221    04980284
2222    04880915
2223    04423148
2224    04998177
2225    04996040
2226    04328825
2227    04072209
2228    04987587
2229    04124723
2230    04985618
2231    04993834
2232    02003407
2233    04963882
2234    04989682
2235    04009549
2236    04685963
2237    04994353
2238    04751774
2239    04981783
2240     4387913
Length: 2241, dtype: object

In [21]:
#病人ID
DF

array(['04451590', '04451769', '06003511', ..., '04751774', '04981783',
       4387913], dtype=object)

In [22]:
# 9.4 表 诊断记录  预处理后
PAT_DATA = pd.read_csv('F:/data/input/年龄和疾病的关系数据集/就诊日期.tsv', sep='\t')

In [23]:
PAT_DATA

        PATIENT_ID DIAGNOSIS_DATE
0         08000598      07-6月 -00
1         08000598      17-6月 -00
2         08000279      10-6月 -00
3         08000279      10-6月 -00
4         08000279      10-6月 -00
5         08000279      10-6月 -00
6         08000279      10-6月 -00
7         08000279      10-6月 -00
8         04012492      25-7月 -00
9         06001257      29-6月 -00
10        06001257      29-6月 -00
11        06001257      29-6月 -00
12        06001257      29-6月 -00
13        06001257      29-6月 -00
14        06001257      29-6月 -00
15        06001257      29-6月 -00
16        04012492      25-7月 -00
17        04004716      25-7月 -00
18        07002615      04-6月 -00
19        07002615      04-6月 -00
20        07002615      04-6月 -00
21        04005889      16-6月 -00
22        04010327      30-6月 -00
23        04010327      30-6月 -00
24        04010327      30-6月 -00
25        04010327      30-6月 -00
26        04007457      17-5月 -00
27        04007457      17-5月 -00
28        04007457      17-5月 -00
29        04010327      30-6月 -00
...            ...            ...
1178315   04191992      19-12月-17
1178316   08000519      05-12月-17
1178317   08000519      05-12月-17
1178318   08000519      05-12月-17
1178319   08000519      05-12月-17
1178320   08000519      05-12月-17
1178321   08000519      05-12月-17
1178322   08000519      05-12月-17
1178323   08000519      05-12月-17
1178324   08000519      05-12月-17
1178325   08000519      24-12月-17
1178326   08000519      26-12月-17
1178327   04965945      25-12月-17
1178328   04699201      06-11月-17
1178329   04699201      06-11月-17
1178330   04699201      06-11月-17
1178331   04699201      06-11月-17
1178332   04699201      06-11月-17
1178333   04699201      06-11月-17
1178334   04699201      06-11月-17
1178335   04699201      06-11月-17
1178336   04699201      06-11月-17
1178337   04699201      06-11月-17
1178338   04699201      06-11月-17
1178339   04699201      06-11月-17
1178340   04699201      06-11月-17
1178341   04699201      06-11月-17
1178342   04699201      06-11月-17
1178343   04699201      06-11月-17
1178344   04699201      06-11月-17

[1178345 rows x 2 columns]

In [24]:
DATA_count = PAT_DATA[PAT_DATA['PATIENT_ID'].isin(DF)]

DATA_count

        PATIENT_ID DIAGNOSIS_DATE
0         08000598      07-6月 -00
1         08000598      17-6月 -00
157       06000797      30-4月 -00
158       06000797      30-4月 -00
159       06000797      30-4月 -00
160       06000797      30-4月 -00
161       06000797      30-4月 -00
162       06000797      30-4月 -00
388       04032188      24-5月 -00
389       04032188      24-5月 -00
390       04032188      24-5月 -00
391       04032188      24-5月 -00
392       04032188      24-5月 -00
540       04032188      09-6月 -00
544       04032188      09-6月 -00
552       04032188      09-6月 -00
555       04032188      09-6月 -00
562       04032188      09-6月 -00
749       04000808      11-4月 -00
863       04001747      17-4月 -00
864       06000797      17-4月 -00
1291      04004656      14-5月 -00
1292      04004656      14-5月 -00
1293      04004656      14-5月 -00
1294      04004656      14-5月 -00
1295      04004656      14-5月 -00
1296      04004656      14-5月 -00
1297      04004656      14-5月 -00
1328      08000379      22-2月 -00
1329      08000379      22-2月 -00
...            ...            ...
1177697   04985618      28-12月-17
1177698   04985618      28-12月-17
1177699   04985618      28-12月-17
1177700   04985618      28-12月-17
1177725   04985618      28-12月-17
1177739   04985618      28-12月-17
1177740   04985618      28-12月-17
1177759   04740605      28-3月 -18
1177760   04740605      28-3月 -18
1177761   04740605      28-3月 -18
1177765   04740605      28-3月 -18
1177766   04740605      28-3月 -18
1177767   04740605      28-3月 -18
1177768   04740605      29-3月 -18
1177769   04740605      28-3月 -18
1177770   04740605      28-3月 -18
1177771   04740605      29-3月 -18
1177772   04740605      28-3月 -18
1177773   04740605      28-3月 -18
1177774   04740605      28-3月 -18
1177775   04740605      29-3月 -18
1177776   04740605      29-3月 -18
1177875   04610057      15-3月 -18
1177876   04610057      15-3月 -18
1177877   04610057      15-3月 -18
1177878   04610057      15-3月 -18
1177879   04610057      15-3月 -18
1177880   04610057      15-3月 -18
1177881   04610057      15-3月 -18
1177898   04610057      15-3月 -18

[89945 rows x 2 columns]

In [25]:
PAT_NO_SAME_1 = DATA_count.drop_duplicates(['PATIENT_ID'],'last')
PAT_NO_SAME_1

        PATIENT_ID DIAGNOSIS_DATE
289268    04388436      30-9月 -10
289280    04083884      02-10月-10
290005    04020394      30-9月 -10
290032    04293011      09-10月-10
291113    04329259      02-11月-10
291279    04164974      30-8月 -10
292816    04394400      24-10月-10
293990    04169768      11-10月-10
293994    04370273      25-10月-10
294182    04380033      01-9月 -10
294186    04376480      10-8月 -10
294848    04278977      19-3月 -09
296436    04275338      10-2月 -09
297266    04042322      29-10月-08
297295    04251321      21-10月-08
297303    04147295      04-11月-08
298813    04179802      06-12月-08
300267    04216846      02-2月 -09
300739    04087224      20-2月 -09
303676    07017079      13-7月 -09
303981    04096970      13-5月 -09
304812    07045655      23-6月 -09
304844    04096319      09-6月 -09
306186    04309135      18-7月 -09
306576    04209194      13-6月 -09
307022    04290930      03-6月 -09
310047    04123125      27-5月 -09
311772    04200686      03-7月 -09
314386    08001082      19-12月-09
314863    04126728      10-12月-09
...            ...            ...
1175856   08000014      03-2月 -18
1175879   04046991      10-1月 -18
1175950   04102474      13-11月-17
1176049   04618884      31-1月 -18
1176088   04067913      23-4月 -18
1176178   04985507      26-12月-17
1176184   04034755      24-12月-17
1176408   04048197      27-12月-17
1176437   04991767      30-12月-17
1176456   04963882      03-1月 -18
1176467   04478581      07-1月 -18
1176564   04000808      10-3月 -18
1176653   04207740      02-4月 -18
1176661   08000278      05-3月 -18
1176834   04901388      25-12月-17
1176954   04142524      11-4月 -18
1177084   04987587      30-1月 -18
1177201   04113379      05-3月 -18
1177206   04764903      28-2月 -18
1177225   04680439      27-4月 -18
1177284   04065508      24-4月 -18
1177304   04933329      24-4月 -18
1177306   04854217      24-4月 -18
1177459   04994353      07-2月 -18
1177467   04255093      01-2月 -18
1177479   04102162      02-2月 -18
1177564   04172770      21-2月 -18
1177740   04985618      28-12月-17
1177776   04740605      29-3月 -18
1177898   04610057      15-3月 -18

[2240 rows x 2 columns]

In [26]:
PAT_NO_SAME_1.to_csv("F:/data/output/心2_就诊日期_信息.tsv")

In [27]:
# 经检验 需要全部字段 此处重做 表9.7 诊断分类记录 DIAGNOSTIC_CATEGORY 预处理 得到病人ID和疾病ID
DIAGNOSTIC_CATEGORY = pd.read_csv('F:/data/input/诊断分类记录_全.tsv', sep='\t')  
print(DIAGNOSTIC_CATEGORY)

        PATIENT_ID  VISIT_ID DIAGNOSIS_TYPE  DIAGNOSIS_NO    DIAGNOSIS_CODE  \
0         04003500         2              2             1           261  01
1         04003500         2              3             1           307.101
2         04003500         2              3             2           273.801
3         04003500         2              3             3           280  01
4         04010720         1              5             1           799.402
5         04010720         1              6             1           567.905
6         04007153         1              1             1  070.901+573.106*
7         04007153         1              2             1  070.901+573.106*
8         04007153         1              3             1           155.201
9         04017543         1              1             1           162.901
10        04017543         1              2             1           793.101
11        04017543         1              3             1           793.101
12        04009395         1              1             1           155.201
13        04009395         1              2             1           155.201
14        04009395         1              3             1           155.201
15        04004782         1              1             1           150.401
16        04004782         1              2             1           150.401
17        04004782         1              2             2           151.001
18        04004782         1              3             1           150.401
19        04004782         1              3             2           151.001
20        04004782         1              6             1           998.501
21        04004782         1              8             1          M81400/3
22        04012439         1              1             1           250.002
23        04012439         1              2             1           250.002
24        04012439         1              2             2  250.301+583.803*
25        04012439         1              2             3           585  01
26        04012439         1              3             1           250.002
27        04012439         1              3             2  250.301+583.803*
28        04012439         1              3             3           585  01
29        04013646         1              1             1           174.901
...            ...       ...            ...           ...               ...
1180013    4802412         2              A             2           K52.904
1180014    4802412         2              A             3           I10  06
1180015    4802412         2              A             4           I21.902
1180016    4802412         2              A             5           K31.825
1180017    4032432         1              2             7           M19.992
1180018    4032432         1              2             8           Z48.901
1180019    4032432         1              2             9           I10  04
1180020    4032432         1              3             1           S72.004
1180021    4032432         1              A             1           S32.401
1180022    4032432         1              A             2           T09.302
1180023    4032432         1              A             3           S89.901
1180024    4032432         1              A             4           M50.221
1180025    4032432         1              A             5           M47.991
1180026    4032432         1              A             6           M19.992
1180027    4032432         1              A             7           Z48.901
1180028    4032432         1              A             8           I10  04
1180029    4032432         1              7             1           W19.901
1180030    4469763         3              2             2           I10  05
1180031    4469763         3              3             1           T30.001
1180032    4469763         3              A             1           I10  05
1180033    4469763         3              7             1           X12.901
1180034    4290249        10              1             1           L89.901
1180035    4290249        10              2             1           L89.901
1180036    4290249        10              2             2           G40.803
1180037    4290249        10              2             3           R40.201
1180038    4290249        10              2             4           I10  03
1180039    4290249        10              2             5           Z93.001
1180040    4290249        10              3             1           L89.901
1180041    4290249        10              A             1           G40.803
1180042    4290249        10              A             2           R40.201

         CODE_NO
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
5            NaN
6            NaN
7            NaN
8            NaN
9            NaN
10           NaN
11           NaN
12           NaN
13           NaN
14           NaN
15           NaN
16           NaN
17           NaN
18           NaN
19           NaN
20           NaN
21           NaN
22           NaN
23           NaN
24           NaN
25           NaN
26           NaN
27           NaN
28           NaN
29           NaN
...          ...
1180013      1.0
1180014      1.0
1180015      1.0
1180016      1.0
1180017      1.0
1180018      1.0
1180019      1.0
1180020      1.0
1180021      1.0
1180022      1.0
1180023      1.0
1180024      1.0
1180025      1.0
1180026      1.0
1180027      1.0
1180028      1.0
1180029      1.0
1180030      1.0
1180031      1.0
1180032      1.0
1180033      1.0
1180034      1.0
1180035      1.0
1180036      1.0
1180037      1.0
1180038      1.0
1180039      1.0
1180040      1.0
1180041      1.0
1180042      1.0

[1180043 rows x 6 columns]

d:\programdata\anaconda3\envs\tensorflow\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [28]:
#step3 I50.904(心功能不全)
alist=['I50.904']
DIAGNOSTIC_CATEGORY[DIAGNOSTIC_CATEGORY['DIAGNOSIS_CODE'].isin(alist)]

,PATIENT_ID,VISIT_ID,DIAGNOSIS_TYPE,DIAGNOSIS_NO,DIAGNOSIS_CODE,CODE_NO
241168,04272961,2,A,4,I50.904,1.0
241460,04001354,3,2,3,I50.904,1.0
241463,04001354,3,3,3,I50.904,1.0
241946,04077673,13,A,3,I50.904,1.0
242238,04457360,1,2,4,I50.904,1.0
242315,04061110,7,2,2,I50.904,NaN
242317,04061110,7,3,2,I50.904,NaN
242685,04457360,1,A,3,I50.904,1.0
245399,04135726,1,A,4,I50.904,1.0
247381,04421323,3,2,3,I50.904,1.0
247384,04421323,3,A,2,I50.904,1.0
249933,04459150,1,A,1,I50.904,1.0
249993,04256301,1,2,4,I50.904,1.0
249998,04256301,1,3,4,I50.904,1.0
250167,04437648,1,2,4,I50.904,1.0
250174,04437648,1,3,4,I50.904,1.0
250731,04215504,2,2,3,I50.904,1.0
250734,04215504,2,A,1,I50.904,1.0
250883,04043329,6,A,4,I50.904,1.0
251159,04456132,1,A,2,I50.904,1.0
252296,08000123,5,2,2,I50.904,NaN
252299,08000123,5,3,2,I50.904,NaN
253334,04226024,2,2,3,I50.904,NaN
253337,04226024,2,3,3,I50.904,NaN
253613,04251191,1,3,3,I50.904,NaN
256175,04256422,1,2,3,I50.904,NaN
256178,04256422,1,3,3,I50.904,NaN
258071,04038940,17,2,3,I50.904,NaN
258074,04038940,17,3,3,I50.904,NaN
258273,04180134,4,3,4,I50.904,NaN
...,...,...,...,...,...,...
1176359,04048197,25,A,1,I50.904,1.0
1176369,04991767,2,A,2,I50.904,1.0
1176380,04320583,20,A,1,I50.904,1.0
1176620,04663314,14,2,10,I50.904,1.0
1176630,04663314,14,A,9,I50.904,1.0
1176798,04962131,8,2,3,I50.904,1.0
1176801,04962131,8,A,2,I50.904,1.0
1177117,04942038,4,2,5,I50.904,1.0
1177122,04942038,4,A,4,I50.904,1.0
1177636,04950132,2,A,2,I50.904,1.0
1177775,04009549,1,2,2,I50.904,1.0
1177792,04155793,20,1,1,I50.904,1.0
1178022,04957968,1,2,3,I50.904,1.0
1178025,04957968,1,A,2,I50.904,1.0
1178075,04994353,3,2,1,I50.904,1.0
1178076,04994353,3,3,1,I50.904,1.0
1178563,04963808,1,2,4,I50.904,1.0
1178827,04944075,1,2,1,I50.904,1.0
1178828,04944075,1,3,1,I50.904,1.0
1178967,04933389,11,2,3,I50.904,1.0
1178971,04933389,11,A,2,I50.904,1.0
1179131,04064539,7,A,3,I50.904,1.0
1179429,04996440,1,2,8,I50.904,1.0
1179440,04996440,1,A,9,I50.904,1.0
1179730,4039717,38,2,3,I50.904,1.0
1179735,4039717,38,A,2,I50.904,1.0
1179818,4981326,1,2,6,I50.904,1.0
1179826,4911846,4,A,3,I50.904,1.0
1179836,4909795,2,A,4,I50.904,1.0
1179907,4394714,5,A,1,I50.904,1.0

In [29]:
#重定义
test = DIAGNOSTIC_CATEGORY[DIAGNOSTIC_CATEGORY['DIAGNOSIS_CODE'].isin(alist)]
print(test)

        PATIENT_ID  VISIT_ID DIAGNOSIS_TYPE  DIAGNOSIS_NO DIAGNOSIS_CODE  \
241168    04272961         2              A             4        I50.904
241460    04001354         3              2             3        I50.904
241463    04001354         3              3             3        I50.904
241946    04077673        13              A             3        I50.904
242238    04457360         1              2             4        I50.904
242315    04061110         7              2             2        I50.904
242317    04061110         7              3             2        I50.904
242685    04457360         1              A             3        I50.904
245399    04135726         1              A             4        I50.904
247381    04421323         3              2             3        I50.904
247384    04421323         3              A             2        I50.904
249933    04459150         1              A             1        I50.904
249993    04256301         1              2             4        I50.904
249998    04256301         1              3             4        I50.904
250167    04437648         1              2             4        I50.904
250174    04437648         1              3             4        I50.904
250731    04215504         2              2             3        I50.904
250734    04215504         2              A             1        I50.904
250883    04043329         6              A             4        I50.904
251159    04456132         1              A             2        I50.904
252296    08000123         5              2             2        I50.904
252299    08000123         5              3             2        I50.904
253334    04226024         2              2             3        I50.904
253337    04226024         2              3             3        I50.904
253613    04251191         1              3             3        I50.904
256175    04256422         1              2             3        I50.904
256178    04256422         1              3             3        I50.904
258071    04038940        17              2             3        I50.904
258074    04038940        17              3             3        I50.904
258273    04180134         4              3             4        I50.904
...            ...       ...            ...           ...            ...
1176359   04048197        25              A             1        I50.904
1176369   04991767         2              A             2        I50.904
1176380   04320583        20              A             1        I50.904
1176620   04663314        14              2            10        I50.904
1176630   04663314        14              A             9        I50.904
1176798   04962131         8              2             3        I50.904
1176801   04962131         8              A             2        I50.904
1177117   04942038         4              2             5        I50.904
1177122   04942038         4              A             4        I50.904
1177636   04950132         2              A             2        I50.904
1177775   04009549         1              2             2        I50.904
1177792   04155793        20              1             1        I50.904
1178022   04957968         1              2             3        I50.904
1178025   04957968         1              A             2        I50.904
1178075   04994353         3              2             1        I50.904
1178076   04994353         3              3             1        I50.904
1178563   04963808         1              2             4        I50.904
1178827   04944075         1              2             1        I50.904
1178828   04944075         1              3             1        I50.904
1178967   04933389        11              2             3        I50.904
1178971   04933389        11              A             2        I50.904
1179131   04064539         7              A             3        I50.904
1179429   04996440         1              2             8        I50.904
1179440   04996440         1              A             9        I50.904
1179730    4039717        38              2             3        I50.904
1179735    4039717        38              A             2        I50.904
1179818    4981326         1              2             6        I50.904
1179826    4911846         4              A             3        I50.904
1179836    4909795         2              A             4        I50.904
1179907    4394714         5              A             1        I50.904

         CODE_NO
241168       1.0
241460       1.0
241463       1.0
241946       1.0
242238       1.0
242315       NaN
242317       NaN
242685       1.0
245399       1.0
247381       1.0
247384       1.0
249933       1.0
249993       1.0
249998       1.0
250167       1.0
250174       1.0
250731       1.0
250734       1.0
250883       1.0
251159       1.0
252296       NaN
252299       NaN
253334       NaN
253337       NaN
253613       NaN
256175       NaN
256178       NaN
258071       NaN
258074       NaN
258273       NaN
...          ...
1176359      1.0
1176369      1.0
1176380      1.0
1176620      1.0
1176630      1.0
1176798      1.0
1176801      1.0
1177117      1.0
1177122      1.0
1177636      1.0
1177775      1.0
1177792      1.0
1178022      1.0
1178025      1.0
1178075      1.0
1178076      1.0
1178563      1.0
1178827      1.0
1178828      1.0
1178967      1.0
1178971      1.0
1179131      1.0
1179429      1.0
1179440      1.0
1179730      1.0
1179735      1.0
1179818      1.0
1179826      1.0
1179836      1.0
1179907      1.0

[3771 rows x 6 columns]

In [30]:
#筛选出频率第一疾病的实际患病人数 9130人
DF = test['PATIENT_ID'].unique()   
#转格式
SS = Series(DF)
SS

0       04272961
1       04001354
2       04077673
3       04457360
4       04061110
5       04135726
6       04421323
7       04459150
8       04256301
9       04437648
10      04215504
11      04043329
12      04456132
13      08000123
14      04226024
15      04251191
16      04256422
17      04038940
18      04180134
19      04046677
20      04012365
21      04251244
22      04255076
23      04255711
24      04267606
25      04206666
26      04258127
27      04257109
28      04261069
29      04205305
          ...
1680    04202384
1681    04922631
1682    04996699
1683    04446786
1684    04802412
1685    04996276
1686    04996040
1687    04991790
1688    04998517
1689    04069566
1690    04714651
1691    04941588
1692    04981326
1693    04984320
1694    04983047
1695    04503647
1696    04029213
1697    04959616
1698    02003407
1699    04985739
1700    04048197
1701    04009549
1702    04957968
1703    04963808
1704    04944075
1705     4039717
1706     4981326
1707     4911846
1708     4909795
1709     4394714
Length: 1710, dtype: object

In [31]:
#病人ID
DF

array(['04272961', '04001354', '04077673', ..., 4911846, 4909795, 4394714],
      dtype=object)

In [32]:
# 9.4 表 诊断记录  预处理后
PAT_DATA = pd.read_csv('F:/data/input/就诊日期.tsv', sep='\t')
PAT_DATA

        PATIENT_ID DIAGNOSIS_DATE
0         08000598      07-6月 -00
1         08000598      17-6月 -00
2         08000279      10-6月 -00
3         08000279      10-6月 -00
4         08000279      10-6月 -00
5         08000279      10-6月 -00
6         08000279      10-6月 -00
7         08000279      10-6月 -00
8         04012492      25-7月 -00
9         06001257      29-6月 -00
10        06001257      29-6月 -00
11        06001257      29-6月 -00
12        06001257      29-6月 -00
13        06001257      29-6月 -00
14        06001257      29-6月 -00
15        06001257      29-6月 -00
16        04012492      25-7月 -00
17        04004716      25-7月 -00
18        07002615      04-6月 -00
19        07002615      04-6月 -00
20        07002615      04-6月 -00
21        04005889      16-6月 -00
22        04010327      30-6月 -00
23        04010327      30-6月 -00
24        04010327      30-6月 -00
25        04010327      30-6月 -00
26        04007457      17-5月 -00
27        04007457      17-5月 -00
28        04007457      17-5月 -00
29        04010327      30-6月 -00
...            ...            ...
1178315   04191992      19-12月-17
1178316   08000519      05-12月-17
1178317   08000519      05-12月-17
1178318   08000519      05-12月-17
1178319   08000519      05-12月-17
1178320   08000519      05-12月-17
1178321   08000519      05-12月-17
1178322   08000519      05-12月-17
1178323   08000519      05-12月-17
1178324   08000519      05-12月-17
1178325   08000519      24-12月-17
1178326   08000519      26-12月-17
1178327   04965945      25-12月-17
1178328   04699201      06-11月-17
1178329   04699201      06-11月-17
1178330   04699201      06-11月-17
1178331   04699201      06-11月-17
1178332   04699201      06-11月-17
1178333   04699201      06-11月-17
1178334   04699201      06-11月-17
1178335   04699201      06-11月-17
1178336   04699201      06-11月-17
1178337   04699201      06-11月-17
1178338   04699201      06-11月-17
1178339   04699201      06-11月-17
1178340   04699201      06-11月-17
1178341   04699201      06-11月-17
1178342   04699201      06-11月-17
1178343   04699201      06-11月-17
1178344   04699201      06-11月-17

[1178345 rows x 2 columns]

In [33]:
DATA_count = PAT_DATA[PAT_DATA['PATIENT_ID'].isin(DF)]
DATA_count

        PATIENT_ID DIAGNOSIS_DATE
0         08000598      07-6月 -00
1         08000598      17-6月 -00
157       06000797      30-4月 -00
158       06000797      30-4月 -00
159       06000797      30-4月 -00
160       06000797      30-4月 -00
161       06000797      30-4月 -00
162       06000797      30-4月 -00
172       04008741      23-5月 -00
174       04008741      23-5月 -00
175       04008741      23-5月 -00
299       08000550      11-5月 -00
300       08000550      11-5月 -00
301       08000550      11-5月 -00
316       04005269      05-6月 -00
317       04005269      05-6月 -00
318       04005269      05-6月 -00
319       04005269      05-6月 -00
320       04005269      05-6月 -00
388       04032188      24-5月 -00
389       04032188      24-5月 -00
390       04032188      24-5月 -00
391       04032188      24-5月 -00
392       04032188      24-5月 -00
540       04032188      09-6月 -00
544       04032188      09-6月 -00
552       04032188      09-6月 -00
555       04032188      09-6月 -00
562       04032188      09-6月 -00
862       04000278      17-4月 -00
...            ...            ...
1177727   04320583      08-11月-17
1177728   04320583      08-11月-17
1177729   04320583      08-11月-17
1177730   04320583      08-11月-17
1177759   04740605      28-3月 -18
1177760   04740605      28-3月 -18
1177761   04740605      28-3月 -18
1177765   04740605      28-3月 -18
1177766   04740605      28-3月 -18
1177767   04740605      28-3月 -18
1177768   04740605      29-3月 -18
1177769   04740605      28-3月 -18
1177770   04740605      28-3月 -18
1177771   04740605      29-3月 -18
1177772   04740605      28-3月 -18
1177773   04740605      28-3月 -18
1177774   04740605      28-3月 -18
1177775   04740605      29-3月 -18
1177776   04740605      29-3月 -18
1177777   04632742      02-4月 -18
1177871   04515664      13-3月 -18
1177872   04515664      13-3月 -18
1177873   04515664      13-3月 -18
1177874   04515664      13-3月 -18
1177892   04515664      13-3月 -18
1177893   04515664      13-3月 -18
1177894   04515664      13-3月 -18
1177895   04515664      13-3月 -18
1177896   04515664      13-3月 -18
1177897   04515664      13-3月 -18

[81402 rows x 2 columns]

In [34]:
PAT_NO_SAME_1 = DATA_count.drop_duplicates(['PATIENT_ID'],'last')
PAT_NO_SAME_1

        PATIENT_ID DIAGNOSIS_DATE
289268    04388436      30-9月 -10
290032    04293011      09-10月-10
291469    04383215      14-9月 -10
294423    04381977      06-9月 -10
294848    04278977      19-3月 -09
298419    04152469      05-12月-08
298904    04206666      07-12月-08
304758    04083275      04-8月 -09
304844    04096319      09-6月 -09
305657    04315649      30-8月 -09
307388    04320873      12-9月 -09
308578    04274386      23-1月 -09
312889    04332315      23-1月 -10
315784    04337716      02-3月 -10
319352    04196058      18-12月-09
319950    04322241      01-10月-09
320112    04334667      04-1月 -10
320717    04296057      10-3月 -10
321631    04315543      29-9月 -09
321805    04334756      16-12月-09
322468    04337987      14-1月 -10
322713    04311124      19-10月-09
322849    04003268      04-3月 -10
323689    04318828      25-9月 -09
325468    04162080      03-10月-09
339774    04274457      29-1月 -09
340831    04278732      17-3月 -09
345496    04268437      05-3月 -09
345971    04271822      24-12月-08
346414    04123131      11-2月 -09
...            ...            ...
1175899   08000001      21-12月-17
1175910   04962131      03-1月 -18
1175950   04102474      13-11月-17
1176037   04663314      01-2月 -18
1176076   04985739      28-12月-17
1176118   04029213      20-12月-17
1176143   04124982      13-12月-17
1176167   04870529      24-12月-17
1176184   04034755      24-12月-17
1176402   04194598      26-12月-17
1176408   04048197      27-12月-17
1176437   04991767      30-12月-17
1176598   04143392      26-3月 -18
1176772   04989137      19-1月 -18
1176954   04142524      11-4月 -18
1177021   04024954      23-3月 -18
1177041   04992550      28-3月 -18
1177115   04450711      15-2月 -18
1177175   04977248      08-3月 -18
1177201   04113379      05-3月 -18
1177225   04680439      27-4月 -18
1177299   04970042      24-4月 -18
1177345   04394714      01-1月 -18
1177441   04039109      11-4月 -18
1177459   04994353      07-2月 -18
1177534   04923129      18-1月 -18
1177730   04320583      08-11月-17
1177776   04740605      29-3月 -18
1177777   04632742      02-4月 -18
1177897   04515664      13-3月 -18

[1705 rows x 2 columns]

In [35]:
PAT_NO_SAME_1.to_csv("F:/data/output心3_就诊日期_信息.tsv")

In [36]:
# 经检验 需要全部字段 此处重做 表9.7 诊断分类记录 DIAGNOSTIC_CATEGORY 预处理 得到病人ID和疾病ID
DIAGNOSTIC_CATEGORY = pd.read_csv('F:/data/input/诊断分类记录_全.tsv', sep='\t')  
print(DIAGNOSTIC_CATEGORY)

        PATIENT_ID  VISIT_ID DIAGNOSIS_TYPE  DIAGNOSIS_NO    DIAGNOSIS_CODE  \
0         04003500         2              2             1           261  01
1         04003500         2              3             1           307.101
2         04003500         2              3             2           273.801
3         04003500         2              3             3           280  01
4         04010720         1              5             1           799.402
5         04010720         1              6             1           567.905
6         04007153         1              1             1  070.901+573.106*
7         04007153         1              2             1  070.901+573.106*
8         04007153         1              3             1           155.201
9         04017543         1              1             1           162.901
10        04017543         1              2             1           793.101
11        04017543         1              3             1           793.101
12        04009395         1              1             1           155.201
13        04009395         1              2             1           155.201
14        04009395         1              3             1           155.201
15        04004782         1              1             1           150.401
16        04004782         1              2             1           150.401
17        04004782         1              2             2           151.001
18        04004782         1              3             1           150.401
19        04004782         1              3             2           151.001
20        04004782         1              6             1           998.501
21        04004782         1              8             1          M81400/3
22        04012439         1              1             1           250.002
23        04012439         1              2             1           250.002
24        04012439         1              2             2  250.301+583.803*
25        04012439         1              2             3           585  01
26        04012439         1              3             1           250.002
27        04012439         1              3             2  250.301+583.803*
28        04012439         1              3             3           585  01
29        04013646         1              1             1           174.901
...            ...       ...            ...           ...               ...
1180013    4802412         2              A             2           K52.904
1180014    4802412         2              A             3           I10  06
1180015    4802412         2              A             4           I21.902
1180016    4802412         2              A             5           K31.825
1180017    4032432         1              2             7           M19.992
1180018    4032432         1              2             8           Z48.901
1180019    4032432         1              2             9           I10  04
1180020    4032432         1              3             1           S72.004
1180021    4032432         1              A             1           S32.401
1180022    4032432         1              A             2           T09.302
1180023    4032432         1              A             3           S89.901
1180024    4032432         1              A             4           M50.221
1180025    4032432         1              A             5           M47.991
1180026    4032432         1              A             6           M19.992
1180027    4032432         1              A             7           Z48.901
1180028    4032432         1              A             8           I10  04
1180029    4032432         1              7             1           W19.901
1180030    4469763         3              2             2           I10  05
1180031    4469763         3              3             1           T30.001
1180032    4469763         3              A             1           I10  05
1180033    4469763         3              7             1           X12.901
1180034    4290249        10              1             1           L89.901
1180035    4290249        10              2             1           L89.901
1180036    4290249        10              2             2           G40.803
1180037    4290249        10              2             3           R40.201
1180038    4290249        10              2             4           I10  03
1180039    4290249        10              2             5           Z93.001
1180040    4290249        10              3             1           L89.901
1180041    4290249        10              A             1           G40.803
1180042    4290249        10              A             2           R40.201

         CODE_NO
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
5            NaN
6            NaN
7            NaN
8            NaN
9            NaN
10           NaN
11           NaN
12           NaN
13           NaN
14           NaN
15           NaN
16           NaN
17           NaN
18           NaN
19           NaN
20           NaN
21           NaN
22           NaN
23           NaN
24           NaN
25           NaN
26           NaN
27           NaN
28           NaN
29           NaN
...          ...
1180013      1.0
1180014      1.0
1180015      1.0
1180016      1.0
1180017      1.0
1180018      1.0
1180019      1.0
1180020      1.0
1180021      1.0
1180022      1.0
1180023      1.0
1180024      1.0
1180025      1.0
1180026      1.0
1180027      1.0
1180028      1.0
1180029      1.0
1180030      1.0
1180031      1.0
1180032      1.0
1180033      1.0
1180034      1.0
1180035      1.0
1180036      1.0
1180037      1.0
1180038      1.0
1180039      1.0
1180040      1.0
1180041      1.0
1180042      1.0

[1180043 rows x 6 columns]

d:\programdata\anaconda3\envs\tensorflow\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [37]:
#step4 I48  04(心房纤维性颤动)
alist=['I48  04']
DIAGNOSTIC_CATEGORY[DIAGNOSTIC_CATEGORY['DIAGNOSIS_CODE'].isin(alist)]

,PATIENT_ID,VISIT_ID,DIAGNOSIS_TYPE,DIAGNOSIS_NO,DIAGNOSIS_CODE,CODE_NO
241107,04451590,1,3,4,I48 04,1.0
241711,04131836,8,3,5,I48 04,1.0
241851,04068254,2,A,2,I48 04,1.0
241877,04460009,1,2,2,I48 04,1.0
241881,04460009,1,3,2,I48 04,1.0
241960,04115848,7,A,2,I48 04,1.0
242413,04462284,1,A,1,I48 04,1.0
243277,04453366,2,A,1,I48 04,1.0
243425,04008747,13,A,2,I48 04,1.0
243664,04453366,1,A,1,I48 04,NaN
243694,04457536,1,A,2,I48 04,1.0
244294,06003511,12,A,2,I48 04,1.0
246465,04131836,9,3,3,I48 04,1.0
246641,04083333,2,A,5,I48 04,1.0
247645,04182613,7,3,3,I48 04,NaN
247789,04448112,1,A,2,I48 04,1.0
248766,04428030,2,A,2,I48 04,1.0
249120,04246896,7,A,1,I48 04,1.0
249720,04043236,2,A,2,I48 04,1.0
249992,04256301,1,2,3,I48 04,1.0
249997,04256301,1,3,3,I48 04,1.0
250193,04005939,1,A,2,I48 04,1.0
252726,04076417,13,2,2,I48 04,NaN
252729,04076417,13,3,2,I48 04,NaN
252815,04202307,2,1,1,I48 04,NaN
252817,04202307,2,2,2,I48 04,NaN
252821,04202307,2,3,3,I48 04,NaN
254271,04000997,4,1,1,I48 04,NaN
254336,04124426,2,2,2,I48 04,NaN
254343,04124426,2,3,2,I48 04,NaN
...,...,...,...,...,...,...
1175793,04954448,3,A,3,I48 04,1.0
1175859,04194225,14,A,2,I48 04,1.0
1175881,04894295,4,A,4,I48 04,1.0
1175907,04951384,1,A,2,I48 04,1.0
1175924,04124932,22,A,2,I48 04,1.0
1176274,90203673,1,A,2,I48 04,1.0
1176325,04985739,1,A,6,I48 04,1.0
1176344,04194598,3,2,4,I48 04,1.0
1176352,04194598,3,A,3,I48 04,1.0
1176361,04048197,25,A,3,I48 04,1.0
1176552,04901388,32,A,5,I48 04,1.0
1176562,04752813,8,2,9,I48 04,1.0
1176572,04752813,8,A,8,I48 04,1.0
1176765,04046991,7,2,3,I48 04,1.0
1176771,04046991,7,A,2,I48 04,1.0
1176986,04000808,46,A,1,I48 04,1.0
1177022,04952139,1,1,3,I48 04,1.0
1177026,04952139,1,2,3,I48 04,1.0
1177030,04952139,1,A,2,I48 04,1.0
1177087,04005035,18,2,3,I48 04,1.0
1177091,04005035,18,A,2,I48 04,1.0
1177116,04942038,4,2,4,I48 04,1.0
1177121,04942038,4,A,3,I48 04,1.0
1178549,04966041,2,A,3,I48 04,1.0
1178584,04962234,1,A,5,I48 04,1.0
1178714,04976540,2,2,5,I48 04,1.0
1178720,04976540,2,A,4,I48 04,1.0
1178853,90180893,1,2,3,I48 04,1.0
1178858,90180893,1,A,2,I48 04,1.0
1179975,4549879,1,A,2,I48 04,1.0

In [38]:
#重定义
test = DIAGNOSTIC_CATEGORY[DIAGNOSTIC_CATEGORY['DIAGNOSIS_CODE'].isin(alist)]
print(test)

        PATIENT_ID  VISIT_ID DIAGNOSIS_TYPE  DIAGNOSIS_NO DIAGNOSIS_CODE  \
241107    04451590         1              3             4        I48  04
241711    04131836         8              3             5        I48  04
241851    04068254         2              A             2        I48  04
241877    04460009         1              2             2        I48  04
241881    04460009         1              3             2        I48  04
241960    04115848         7              A             2        I48  04
242413    04462284         1              A             1        I48  04
243277    04453366         2              A             1        I48  04
243425    04008747        13              A             2        I48  04
243664    04453366         1              A             1        I48  04
243694    04457536         1              A             2        I48  04
244294    06003511        12              A             2        I48  04
246465    04131836         9              3             3        I48  04
246641    04083333         2              A             5        I48  04
247645    04182613         7              3             3        I48  04
247789    04448112         1              A             2        I48  04
248766    04428030         2              A             2        I48  04
249120    04246896         7              A             1        I48  04
249720    04043236         2              A             2        I48  04
249992    04256301         1              2             3        I48  04
249997    04256301         1              3             3        I48  04
250193    04005939         1              A             2        I48  04
252726    04076417        13              2             2        I48  04
252729    04076417        13              3             2        I48  04
252815    04202307         2              1             1        I48  04
252817    04202307         2              2             2        I48  04
252821    04202307         2              3             3        I48  04
254271    04000997         4              1             1        I48  04
254336    04124426         2              2             2        I48  04
254343    04124426         2              3             2        I48  04
...            ...       ...            ...           ...            ...
1175793   04954448         3              A             3        I48  04
1175859   04194225        14              A             2        I48  04
1175881   04894295         4              A             4        I48  04
1175907   04951384         1              A             2        I48  04
1175924   04124932        22              A             2        I48  04
1176274   90203673         1              A             2        I48  04
1176325   04985739         1              A             6        I48  04
1176344   04194598         3              2             4        I48  04
1176352   04194598         3              A             3        I48  04
1176361   04048197        25              A             3        I48  04
1176552   04901388        32              A             5        I48  04
1176562   04752813         8              2             9        I48  04
1176572   04752813         8              A             8        I48  04
1176765   04046991         7              2             3        I48  04
1176771   04046991         7              A             2        I48  04
1176986   04000808        46              A             1        I48  04
1177022   04952139         1              1             3        I48  04
1177026   04952139         1              2             3        I48  04
1177030   04952139         1              A             2        I48  04
1177087   04005035        18              2             3        I48  04
1177091   04005035        18              A             2        I48  04
1177116   04942038         4              2             4        I48  04
1177121   04942038         4              A             3        I48  04
1178549   04966041         2              A             3        I48  04
1178584   04962234         1              A             5        I48  04
1178714   04976540         2              2             5        I48  04
1178720   04976540         2              A             4        I48  04
1178853   90180893         1              2             3        I48  04
1178858   90180893         1              A             2        I48  04
1179975    4549879         1              A             2        I48  04

         CODE_NO
241107       1.0
241711       1.0
241851       1.0
241877       1.0
241881       1.0
241960       1.0
242413       1.0
243277       1.0
243425       1.0
243664       NaN
243694       1.0
244294       1.0
246465       1.0
246641       1.0
247645       NaN
247789       1.0
248766       1.0
249120       1.0
249720       1.0
249992       1.0
249997       1.0
250193       1.0
252726       NaN
252729       NaN
252815       NaN
252817       NaN
252821       NaN
254271       NaN
254336       NaN
254343       NaN
...          ...
1175793      1.0
1175859      1.0
1175881      1.0
1175907      1.0
1175924      1.0
1176274      1.0
1176325      1.0
1176344      1.0
1176352      1.0
1176361      1.0
1176552      1.0
1176562      1.0
1176572      1.0
1176765      1.0
1176771      1.0
1176986      1.0
1177022      1.0
1177026      1.0
1177030      1.0
1177087      1.0
1177091      1.0
1177116      1.0
1177121      1.0
1178549      1.0
1178584      1.0
1178714      1.0
1178720      1.0
1178853      1.0
1178858      1.0
1179975      1.0

[3698 rows x 6 columns]

In [39]:
#筛选出频率第一疾病的实际患病人数 9130人
DF = test['PATIENT_ID'].unique()   
#转格式
SS = Series(DF)
SS

0       04451590
1       04131836
2       04068254
3       04460009
4       04115848
5       04462284
6       04453366
7       04008747
8       04457536
9       06003511
10      04083333
11      04182613
12      04448112
13      04428030
14      04246896
15      04043236
16      04256301
17      04005939
18      04076417
19      04202307
20      04000997
21      04124426
22      04236830
23      04259295
24      04085780
25      04226459
26      04125429
27      04015121
28      04079346
29      04233998
          ...
1294    04124723
1295    04139829
1296    04753870
1297    04996599
1298    04990398
1299    04223705
1300    04887982
1301    04917403
1302    04972142
1303    04491719
1304    04906080
1305    04910000
1306    04606825
1307    04996030
1308    04894291
1309    04604355
1310    04356423
1311    04999817
1312    04416134
1313    04984320
1314    04964658
1315    04920357
1316    04960604
1317    04865137
1318    90203673
1319    04194598
1320    04046991
1321    04962234
1322    90180893
1323     4549879
Length: 1324, dtype: object

In [40]:
#病人ID
DF

array(['04451590', '04131836', '04068254', ..., '04962234', '90180893',
       4549879], dtype=object)

In [41]:
# 9.4 表 诊断记录  预处理后
PAT_DATA = pd.read_csv('F:/data/input/就诊日期.tsv', sep='\t')
PAT_DATA

        PATIENT_ID DIAGNOSIS_DATE
0         08000598      07-6月 -00
1         08000598      17-6月 -00
2         08000279      10-6月 -00
3         08000279      10-6月 -00
4         08000279      10-6月 -00
5         08000279      10-6月 -00
6         08000279      10-6月 -00
7         08000279      10-6月 -00
8         04012492      25-7月 -00
9         06001257      29-6月 -00
10        06001257      29-6月 -00
11        06001257      29-6月 -00
12        06001257      29-6月 -00
13        06001257      29-6月 -00
14        06001257      29-6月 -00
15        06001257      29-6月 -00
16        04012492      25-7月 -00
17        04004716      25-7月 -00
18        07002615      04-6月 -00
19        07002615      04-6月 -00
20        07002615      04-6月 -00
21        04005889      16-6月 -00
22        04010327      30-6月 -00
23        04010327      30-6月 -00
24        04010327      30-6月 -00
25        04010327      30-6月 -00
26        04007457      17-5月 -00
27        04007457      17-5月 -00
28        04007457      17-5月 -00
29        04010327      30-6月 -00
...            ...            ...
1178315   04191992      19-12月-17
1178316   08000519      05-12月-17
1178317   08000519      05-12月-17
1178318   08000519      05-12月-17
1178319   08000519      05-12月-17
1178320   08000519      05-12月-17
1178321   08000519      05-12月-17
1178322   08000519      05-12月-17
1178323   08000519      05-12月-17
1178324   08000519      05-12月-17
1178325   08000519      24-12月-17
1178326   08000519      26-12月-17
1178327   04965945      25-12月-17
1178328   04699201      06-11月-17
1178329   04699201      06-11月-17
1178330   04699201      06-11月-17
1178331   04699201      06-11月-17
1178332   04699201      06-11月-17
1178333   04699201      06-11月-17
1178334   04699201      06-11月-17
1178335   04699201      06-11月-17
1178336   04699201      06-11月-17
1178337   04699201      06-11月-17
1178338   04699201      06-11月-17
1178339   04699201      06-11月-17
1178340   04699201      06-11月-17
1178341   04699201      06-11月-17
1178342   04699201      06-11月-17
1178343   04699201      06-11月-17
1178344   04699201      06-11月-17

[1178345 rows x 2 columns]

In [42]:
DATA_count = PAT_DATA[PAT_DATA['PATIENT_ID'].isin(DF)]
DATA_count

        PATIENT_ID DIAGNOSIS_DATE
316       04005269      05-6月 -00
317       04005269      05-6月 -00
318       04005269      05-6月 -00
319       04005269      05-6月 -00
320       04005269      05-6月 -00
388       04032188      24-5月 -00
389       04032188      24-5月 -00
390       04032188      24-5月 -00
391       04032188      24-5月 -00
392       04032188      24-5月 -00
540       04032188      09-6月 -00
544       04032188      09-6月 -00
552       04032188      09-6月 -00
555       04032188      09-6月 -00
562       04032188      09-6月 -00
749       04000808      11-4月 -00
1291      04004656      14-5月 -00
1292      04004656      14-5月 -00
1293      04004656      14-5月 -00
1294      04004656      14-5月 -00
1295      04004656      14-5月 -00
1296      04004656      14-5月 -00
1297      04004656      14-5月 -00
1559      08000591      12-4月 -00
1560      08000591      12-4月 -00
1561      08000591      12-4月 -00
1562      08000591      12-4月 -00
1563      08000591      18-4月 -00
1786      04001841      12-4月 -00
1788      04001841      12-4月 -00
...            ...            ...
1177665   04634836      02-3月 -18
1177666   04634836      02-3月 -18
1177667   04634836      02-3月 -18
1177668   04634836      02-3月 -18
1177669   04634836      02-3月 -18
1177670   04634836      02-3月 -18
1177671   04634836      02-3月 -18
1177672   04634836      02-3月 -18
1177673   04634836      02-3月 -18
1177674   04634836      02-3月 -18
1177675   04634836      12-3月 -18
1177676   04634836      02-3月 -18
1177677   04634836      02-3月 -18
1177871   04515664      13-3月 -18
1177872   04515664      13-3月 -18
1177873   04515664      13-3月 -18
1177874   04515664      13-3月 -18
1177892   04515664      13-3月 -18
1177893   04515664      13-3月 -18
1177894   04515664      13-3月 -18
1177895   04515664      13-3月 -18
1177896   04515664      13-3月 -18
1177897   04515664      13-3月 -18
1178076   04634836      02-3月 -18
1178077   04634836      02-3月 -18
1178078   04634836      02-3月 -18
1178079   04634836      02-3月 -18
1178080   04634836      02-3月 -18
1178129   04124932      23-4月 -18
1178130   02002830      23-4月 -18

[56507 rows x 2 columns]

In [43]:
PAT_NO_SAME_1 = DATA_count.drop_duplicates(['PATIENT_ID'],'last')
PAT_NO_SAME_1

        PATIENT_ID DIAGNOSIS_DATE
291490    04024336      27-8月 -10
292502    04389379      22-10月-10
294182    04380033      01-9月 -10
294186    04376480      10-8月 -10
297047    04088652      04-3月 -09
298904    04206666      07-12月-08
301590    04170575      30-12月-08
302339    04012544      31-1月 -09
303480    04285147      21-4月 -09
304575    04000485      27-7月 -09
308793    04290929      05-6月 -09
315784    04337716      02-3月 -10
316121    04334291      06-12月-09
316298    04332865      14-12月-09
317280    04330691      08-12月-09
319002    04266091      05-3月 -10
319909    04316797      07-12月-09
319950    04322241      01-10月-09
320112    04334667      04-1月 -10
321631    04315543      29-9月 -09
321760    04218912      16-2月 -09
321814    04329645      19-11月-09
323245    04283778      07-9月 -09
324104    04081177      04-11月-09
327147    04260400      02-9月 -09
339648    08000607      26-3月 -09
341427    04253231      11-3月 -09
342594    04276225      19-2月 -09
345024    04294408      04-5月 -09
345901    04226251      11-3月 -09
...            ...            ...
1174843   04996588      17-12月-17
1174931   04943255      27-2月 -18
1175480   04250061      13-12月-17
1175539   04027872      09-4月 -18
1175626   90203673      18-12月-17
1175700   04986961      22-12月-17
1175718   04861902      28-12月-17
1175813   04124723      08-2月 -18
1175879   04046991      10-1月 -18
1176076   04985739      28-12月-17
1176085   08000490      17-4月 -18
1176089   04935968      23-4月 -18
1176130   04780244      21-12月-17
1176160   04920357      25-12月-17
1176402   04194598      26-12月-17
1176408   04048197      27-12月-17
1176485   04858621      25-4月 -18
1176564   04000808      10-3月 -18
1176653   04207740      02-4月 -18
1176661   08000278      05-3月 -18
1176783   04601268      17-1月 -18
1176834   04901388      25-12月-17
1177287   04961167      24-4月 -18
1177317   04239757      24-4月 -18
1177436   04958670      11-4月 -18
1177459   04994353      07-2月 -18
1177897   04515664      13-3月 -18
1178080   04634836      02-3月 -18
1178129   04124932      23-4月 -18
1178130   02002830      23-4月 -18

[1323 rows x 2 columns]

In [44]:
PAT_NO_SAME_1.to_csv("F:/data/output/心4_就诊日期_信息.tsv")

In [45]:
# 经检验 需要全部字段 此处重做 表9.7 诊断分类记录 DIAGNOSTIC_CATEGORY 预处理 得到病人ID和疾病ID
DIAGNOSTIC_CATEGORY = pd.read_csv('F:/data/input/诊断分类记录_全.tsv', sep='\t')  
print(DIAGNOSTIC_CATEGORY)

        PATIENT_ID  VISIT_ID DIAGNOSIS_TYPE  DIAGNOSIS_NO    DIAGNOSIS_CODE  \
0         04003500         2              2             1           261  01
1         04003500         2              3             1           307.101
2         04003500         2              3             2           273.801
3         04003500         2              3             3           280  01
4         04010720         1              5             1           799.402
5         04010720         1              6             1           567.905
6         04007153         1              1             1  070.901+573.106*
7         04007153         1              2             1  070.901+573.106*
8         04007153         1              3             1           155.201
9         04017543         1              1             1           162.901
10        04017543         1              2             1           793.101
11        04017543         1              3             1           793.101
12        04009395         1              1             1           155.201
13        04009395         1              2             1           155.201
14        04009395         1              3             1           155.201
15        04004782         1              1             1           150.401
16        04004782         1              2             1           150.401
17        04004782         1              2             2           151.001
18        04004782         1              3             1           150.401
19        04004782         1              3             2           151.001
20        04004782         1              6             1           998.501
21        04004782         1              8             1          M81400/3
22        04012439         1              1             1           250.002
23        04012439         1              2             1           250.002
24        04012439         1              2             2  250.301+583.803*
25        04012439         1              2             3           585  01
26        04012439         1              3             1           250.002
27        04012439         1              3             2  250.301+583.803*
28        04012439         1              3             3           585  01
29        04013646         1              1             1           174.901
...            ...       ...            ...           ...               ...
1180013    4802412         2              A             2           K52.904
1180014    4802412         2              A             3           I10  06
1180015    4802412         2              A             4           I21.902
1180016    4802412         2              A             5           K31.825
1180017    4032432         1              2             7           M19.992
1180018    4032432         1              2             8           Z48.901
1180019    4032432         1              2             9           I10  04
1180020    4032432         1              3             1           S72.004
1180021    4032432         1              A             1           S32.401
1180022    4032432         1              A             2           T09.302
1180023    4032432         1              A             3           S89.901
1180024    4032432         1              A             4           M50.221
1180025    4032432         1              A             5           M47.991
1180026    4032432         1              A             6           M19.992
1180027    4032432         1              A             7           Z48.901
1180028    4032432         1              A             8           I10  04
1180029    4032432         1              7             1           W19.901
1180030    4469763         3              2             2           I10  05
1180031    4469763         3              3             1           T30.001
1180032    4469763         3              A             1           I10  05
1180033    4469763         3              7             1           X12.901
1180034    4290249        10              1             1           L89.901
1180035    4290249        10              2             1           L89.901
1180036    4290249        10              2             2           G40.803
1180037    4290249        10              2             3           R40.201
1180038    4290249        10              2             4           I10  03
1180039    4290249        10              2             5           Z93.001
1180040    4290249        10              3             1           L89.901
1180041    4290249        10              A             1           G40.803
1180042    4290249        10              A             2           R40.201

         CODE_NO
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
5            NaN
6            NaN
7            NaN
8            NaN
9            NaN
10           NaN
11           NaN
12           NaN
13           NaN
14           NaN
15           NaN
16           NaN
17           NaN
18           NaN
19           NaN
20           NaN
21           NaN
22           NaN
23           NaN
24           NaN
25           NaN
26           NaN
27           NaN
28           NaN
29           NaN
...          ...
1180013      1.0
1180014      1.0
1180015      1.0
1180016      1.0
1180017      1.0
1180018      1.0
1180019      1.0
1180020      1.0
1180021      1.0
1180022      1.0
1180023      1.0
1180024      1.0
1180025      1.0
1180026      1.0
1180027      1.0
1180028      1.0
1180029      1.0
1180030      1.0
1180031      1.0
1180032      1.0
1180033      1.0
1180034      1.0
1180035      1.0
1180036      1.0
1180037      1.0
1180038      1.0
1180039      1.0
1180040      1.0
1180041      1.0
1180042      1.0

[1180043 rows x 6 columns]

d:\programdata\anaconda3\envs\tensorflow\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [46]:
# step5 I11.901(高血压性心脏病)
alist=['I11.901']
DIAGNOSTIC_CATEGORY[DIAGNOSTIC_CATEGORY['DIAGNOSIS_CODE'].isin(alist)]

,PATIENT_ID,VISIT_ID,DIAGNOSIS_TYPE,DIAGNOSIS_NO,DIAGNOSIS_CODE,CODE_NO
241087,04415618,2,A,2,I11.901,1.0
241098,04282667,1,2,3,I11.901,1.0
241101,04282667,1,3,3,I11.901,1.0
241220,06003511,11,A,2,I11.901,NaN
241573,04176872,1,A,3,I11.901,1.0
241709,04131836,8,3,3,I11.901,1.0
241721,04457799,1,A,1,I11.901,1.0
241843,04230295,1,A,1,I11.901,1.0
241892,04106429,8,A,1,I11.901,1.0
241934,04077673,13,A,1,I11.901,1.0
244293,06003511,12,A,1,I11.901,1.0
244703,04154512,4,A,3,I11.901,1.0
244745,04189463,11,3,7,I11.901,1.0
245161,04478232,1,A,1,I11.901,1.0
245234,04204569,2,A,1,I11.901,1.0
246030,04106993,11,2,1,I11.901,1.0
246472,04131836,9,3,10,I11.901,1.0
246492,06001260,22,A,2,I11.901,1.0
246652,04073244,3,A,2,I11.901,1.0
246860,04127575,11,A,2,I11.901,1.0
246936,04180808,1,A,4,I11.901,1.0
247089,06000283,2,A,2,I11.901,NaN
247339,04008483,6,3,5,I11.901,1.0
247648,04182613,7,3,6,I11.901,NaN
247782,04106429,7,A,2,I11.901,1.0
248045,04461614,1,A,2,I11.901,1.0
248051,04461655,1,A,1,I11.901,1.0
248914,04028749,10,A,4,I11.901,1.0
248923,04452286,1,A,1,I11.901,1.0
249150,04131836,7,A,1,I11.901,1.0
...,...,...,...,...,...,...
1168388,04752813,7,A,6,I11.901,1.0
1169474,04997015,1,A,1,I11.901,1.0
1169706,04067899,40,A,2,I11.901,1.0
1169952,04018006,12,A,5,I11.901,1.0
1170574,04996276,1,A,3,I11.901,1.0
1171763,04643119,3,A,5,I11.901,1.0
1173613,04025474,21,A,2,I11.901,1.0
1174451,04953781,1,2,4,I11.901,1.0
1174456,04953781,1,A,3,I11.901,1.0
1174782,04393615,4,A,1,I11.901,1.0
1175035,04986217,1,2,2,I11.901,1.0
1175040,04986217,1,A,1,I11.901,1.0
1175210,04959616,1,A,2,I11.901,1.0
1175226,04853888,6,A,2,I11.901,1.0
1175649,04632742,8,A,2,I11.901,1.0
1175672,04993834,1,A,7,I11.901,1.0
1176371,04991767,2,A,4,I11.901,1.0
1176395,04963882,2,A,3,I11.901,1.0
1176413,04168292,17,2,6,I11.901,1.0
1176420,04168292,17,A,5,I11.901,1.0
1176561,04752813,8,2,8,I11.901,1.0
1176571,04752813,8,A,7,I11.901,1.0
1176619,04663314,14,2,9,I11.901,1.0
1176629,04663314,14,A,8,I11.901,1.0
1177777,04009549,1,A,1,I11.901,1.0
1177813,01011298,11,A,4,I11.901,1.0
1178012,04955212,1,A,1,I11.901,1.0
1178052,04957606,1,A,2,I11.901,1.0
1179790,4981737,1,A,1,I11.901,1.0
1179825,4911846,4,A,2,I11.901,1.0

In [47]:
#重定义
test = DIAGNOSTIC_CATEGORY[DIAGNOSTIC_CATEGORY['DIAGNOSIS_CODE'].isin(alist)]
print(test)

        PATIENT_ID  VISIT_ID DIAGNOSIS_TYPE  DIAGNOSIS_NO DIAGNOSIS_CODE  \
241087    04415618         2              A             2        I11.901
241098    04282667         1              2             3        I11.901
241101    04282667         1              3             3        I11.901
241220    06003511        11              A             2        I11.901
241573    04176872         1              A             3        I11.901
241709    04131836         8              3             3        I11.901
241721    04457799         1              A             1        I11.901
241843    04230295         1              A             1        I11.901
241892    04106429         8              A             1        I11.901
241934    04077673        13              A             1        I11.901
244293    06003511        12              A             1        I11.901
244703    04154512         4              A             3        I11.901
244745    04189463        11              3             7        I11.901
245161    04478232         1              A             1        I11.901
245234    04204569         2              A             1        I11.901
246030    04106993        11              2             1        I11.901
246472    04131836         9              3            10        I11.901
246492    06001260        22              A             2        I11.901
246652    04073244         3              A             2        I11.901
246860    04127575        11              A             2        I11.901
246936    04180808         1              A             4        I11.901
247089    06000283         2              A             2        I11.901
247339    04008483         6              3             5        I11.901
247648    04182613         7              3             6        I11.901
247782    04106429         7              A             2        I11.901
248045    04461614         1              A             2        I11.901
248051    04461655         1              A             1        I11.901
248914    04028749        10              A             4        I11.901
248923    04452286         1              A             1        I11.901
249150    04131836         7              A             1        I11.901
...            ...       ...            ...           ...            ...
1168388   04752813         7              A             6        I11.901
1169474   04997015         1              A             1        I11.901
1169706   04067899        40              A             2        I11.901
1169952   04018006        12              A             5        I11.901
1170574   04996276         1              A             3        I11.901
1171763   04643119         3              A             5        I11.901
1173613   04025474        21              A             2        I11.901
1174451   04953781         1              2             4        I11.901
1174456   04953781         1              A             3        I11.901
1174782   04393615         4              A             1        I11.901
1175035   04986217         1              2             2        I11.901
1175040   04986217         1              A             1        I11.901
1175210   04959616         1              A             2        I11.901
1175226   04853888         6              A             2        I11.901
1175649   04632742         8              A             2        I11.901
1175672   04993834         1              A             7        I11.901
1176371   04991767         2              A             4        I11.901
1176395   04963882         2              A             3        I11.901
1176413   04168292        17              2             6        I11.901
1176420   04168292        17              A             5        I11.901
1176561   04752813         8              2             8        I11.901
1176571   04752813         8              A             7        I11.901
1176619   04663314        14              2             9        I11.901
1176629   04663314        14              A             8        I11.901
1177777   04009549         1              A             1        I11.901
1177813   01011298        11              A             4        I11.901
1178012   04955212         1              A             1        I11.901
1178052   04957606         1              A             2        I11.901
1179790    4981737         1              A             1        I11.901
1179825    4911846         4              A             2        I11.901

         CODE_NO
241087       1.0
241098       1.0
241101       1.0
241220       NaN
241573       1.0
241709       1.0
241721       1.0
241843       1.0
241892       1.0
241934       1.0
244293       1.0
244703       1.0
244745       1.0
245161       1.0
245234       1.0
246030       1.0
246472       1.0
246492       1.0
246652       1.0
246860       1.0
246936       1.0
247089       NaN
247339       1.0
247648       NaN
247782       1.0
248045       1.0
248051       1.0
248914       1.0
248923       1.0
249150       1.0
...          ...
1168388      1.0
1169474      1.0
1169706      1.0
1169952      1.0
1170574      1.0
1171763      1.0
1173613      1.0
1174451      1.0
1174456      1.0
1174782      1.0
1175035      1.0
1175040      1.0
1175210      1.0
1175226      1.0
1175649      1.0
1175672      1.0
1176371      1.0
1176395      1.0
1176413      1.0
1176420      1.0
1176561      1.0
1176571      1.0
1176619      1.0
1176629      1.0
1177777      1.0
1177813      1.0
1178012      1.0
1178052      1.0
1179790      1.0
1179825      1.0

[2205 rows x 6 columns]

In [48]:
#筛选出频率第一疾病的实际患病人数 9130人
DF = test['PATIENT_ID'].unique()   
#转格式
SS = Series(DF)
SS

0       04415618
1       04282667
2       06003511
3       04176872
4       04131836
5       04457799
6       04230295
7       04106429
8       04077673
9       04154512
10      04189463
11      04478232
12      04204569
13      04106993
14      06001260
15      04073244
16      04127575
17      04180808
18      06000283
19      04008483
20      04182613
21      04461614
22      04461655
23      04028749
24      04452286
25      04453264
26      04013598
27      04459150
28      04461735
29      04043329
          ...
971     04230574
972     04983278
973     04039109
974     04886198
975     04982173
976     04376981
977     04170693
978     04954362
979     04896745
980     04980376
981     04394038
982     04123277
983     04996599
984     04643119
985     01005776
986     04618732
987     04808763
988     04994682
989     04997015
990     04996276
991     04953781
992     04986217
993     04959616
994     04993834
995     04991767
996     04009549
997     04955212
998     04957606
999      4981737
1000     4911846
Length: 1001, dtype: object

In [49]:
#病人ID
DF

array(['04415618', '04282667', '06003511', ..., '04957606', 4981737,
       4911846], dtype=object)

In [50]:
# 9.4 表 诊断记录  预处理后
PAT_DATA = pd.read_csv('F:/data/input/就诊日期.tsv', sep='\t')
PAT_DATA

        PATIENT_ID DIAGNOSIS_DATE
0         08000598      07-6月 -00
1         08000598      17-6月 -00
2         08000279      10-6月 -00
3         08000279      10-6月 -00
4         08000279      10-6月 -00
5         08000279      10-6月 -00
6         08000279      10-6月 -00
7         08000279      10-6月 -00
8         04012492      25-7月 -00
9         06001257      29-6月 -00
10        06001257      29-6月 -00
11        06001257      29-6月 -00
12        06001257      29-6月 -00
13        06001257      29-6月 -00
14        06001257      29-6月 -00
15        06001257      29-6月 -00
16        04012492      25-7月 -00
17        04004716      25-7月 -00
18        07002615      04-6月 -00
19        07002615      04-6月 -00
20        07002615      04-6月 -00
21        04005889      16-6月 -00
22        04010327      30-6月 -00
23        04010327      30-6月 -00
24        04010327      30-6月 -00
25        04010327      30-6月 -00
26        04007457      17-5月 -00
27        04007457      17-5月 -00
28        04007457      17-5月 -00
29        04010327      30-6月 -00
...            ...            ...
1178315   04191992      19-12月-17
1178316   08000519      05-12月-17
1178317   08000519      05-12月-17
1178318   08000519      05-12月-17
1178319   08000519      05-12月-17
1178320   08000519      05-12月-17
1178321   08000519      05-12月-17
1178322   08000519      05-12月-17
1178323   08000519      05-12月-17
1178324   08000519      05-12月-17
1178325   08000519      24-12月-17
1178326   08000519      26-12月-17
1178327   04965945      25-12月-17
1178328   04699201      06-11月-17
1178329   04699201      06-11月-17
1178330   04699201      06-11月-17
1178331   04699201      06-11月-17
1178332   04699201      06-11月-17
1178333   04699201      06-11月-17
1178334   04699201      06-11月-17
1178335   04699201      06-11月-17
1178336   04699201      06-11月-17
1178337   04699201      06-11月-17
1178338   04699201      06-11月-17
1178339   04699201      06-11月-17
1178340   04699201      06-11月-17
1178341   04699201      06-11月-17
1178342   04699201      06-11月-17
1178343   04699201      06-11月-17
1178344   04699201      06-11月-17

[1178345 rows x 2 columns]

In [51]:
DATA_count = PAT_DATA[PAT_DATA['PATIENT_ID'].isin(DF)]
DATA_count

        PATIENT_ID DIAGNOSIS_DATE
139       04008472      30-6月 -00
140       04008472      30-6月 -00
452       04008472      22-5月 -00
454       04008472      22-5月 -00
459       04008472      22-5月 -00
749       04000808      11-4月 -00
1073      04003669      17-7月 -00
1074      04003669      17-7月 -00
1075      04003669      17-7月 -00
1076      04003669      17-7月 -00
1077      04003669      17-7月 -00
1078      04003669      17-7月 -00
1079      04003669      17-7月 -00
1080      04003669      17-7月 -00
1291      04004656      14-5月 -00
1292      04004656      14-5月 -00
1293      04004656      14-5月 -00
1294      04004656      14-5月 -00
1295      04004656      14-5月 -00
1296      04004656      14-5月 -00
1297      04004656      14-5月 -00
1328      08000379      22-2月 -00
1329      08000379      22-2月 -00
1330      08000379      22-2月 -00
1331      08000379      22-2月 -00
1358      04008472      30-6月 -00
1365      04008472      30-6月 -00
1366      04008472      30-6月 -00
1367      04008472      30-6月 -00
3460      04009806      22-6月 -00
...            ...            ...
1177478   04102162      31-1月 -18
1177479   04102162      02-2月 -18
1177637   04045389      05-3月 -18
1177638   04045389      05-3月 -18
1177639   04045389      05-3月 -18
1177640   04045389      05-3月 -18
1177641   04045389      05-3月 -18
1177642   04045389      05-3月 -18
1177643   04045389      05-3月 -18
1177644   04045389      05-3月 -18
1177645   04045389      05-3月 -18
1177646   04045389      07-3月 -18
1177647   04045389      07-3月 -18
1177777   04632742      02-4月 -18
1177882   04944561      13-3月 -18
1177883   04944561      13-3月 -18
1177884   04944561      13-3月 -18
1177885   04944561      13-3月 -18
1177886   04944561      13-3月 -18
1177902   04045389      19-3月 -18
1177903   04045389      19-3月 -18
1177904   04045389      19-3月 -18
1177905   04045389      19-3月 -18
1177906   04045389      19-3月 -18
1177907   04045389      19-3月 -18
1177908   04045389      19-3月 -18
1177909   04045389      19-3月 -18
1177910   04045389      19-3月 -18
1177911   04045389      19-3月 -18
1177912   04045389      19-3月 -18

[41956 rows x 2 columns]

In [52]:
PAT_NO_SAME_1 = DATA_count.drop_duplicates(['PATIENT_ID'],'last')
PAT_NO_SAME_1

        PATIENT_ID DIAGNOSIS_DATE
288359    04393224      18-10月-10
293990    04169768      11-10月-10
296214    06000055      24-11月-08
297719    04199935      01-11月-08
298813    04179802      06-12月-08
298964    04113345      13-12月-08
299023    04045443      04-3月 -09
299038    04214971      06-3月 -09
299792    04265801      30-10月-08
302921    04106885      18-2月 -09
307040    04292138      09-6月 -09
314187    04087648      02-2月 -10
314280    04327365      04-11月-09
316879    04342317      23-2月 -10
317543    04337730      15-1月 -10
319195    04067797      02-3月 -10
320717    04296057      10-3月 -10
321168    04318940      24-9月 -09
322713    04311124      19-10月-09
324104    04081177      04-11月-09
330989    04162186      10-3月 -08
331890    04251378      03-7月 -08
334047    04225724      17-6月 -08
339861    04066479      06-2月 -09
340164    04167191      07-4月 -09
340956    04277671      07-3月 -09
341087    04288484      21-5月 -09
341802    04273683      05-5月 -09
342029    04274422      27-1月 -09
343162    04277506      05-3月 -09
...            ...            ...
1171980   04105692      30-3月 -18
1172066   04993834      29-1月 -18
1172507   04973483      09-12月-17
1172888   04153050      23-2月 -18
1173355   04960560      12-2月 -18
1173460   04017410      04-1月 -18
1173474   04002272      12-4月 -18
1173666   04136717      21-3月 -18
1174277   04058673      28-3月 -18
1174475   04986217      14-12月-17
1175056   04113175      28-3月 -18
1175268   04954340      14-2月 -18
1175598   04481375      13-12月-17
1176037   04663314      01-2月 -18
1176076   04985739      28-12月-17
1176437   04991767      30-12月-17
1176456   04963882      03-1月 -18
1176564   04000808      10-3月 -18
1176653   04207740      02-4月 -18
1176732   04279858      26-3月 -18
1176879   04168292      21-12月-17
1177284   04065508      24-4月 -18
1177317   04239757      24-4月 -18
1177431   04087589      11-4月 -18
1177441   04039109      11-4月 -18
1177459   04994353      07-2月 -18
1177479   04102162      02-2月 -18
1177777   04632742      02-4月 -18
1177886   04944561      13-3月 -18
1177912   04045389      19-3月 -18

[999 rows x 2 columns]

In [53]:
PAT_NO_SAME_1.to_csv("F:/data/output/心5_就诊日期_信息.tsv")

In [54]:
# 经检验 需要全部字段 此处重做 表9.7 诊断分类记录 DIAGNOSTIC_CATEGORY 预处理 得到病人ID和疾病ID
DIAGNOSTIC_CATEGORY = pd.read_csv('F:/data/input/诊断分类记录_全.tsv', sep='\t')  
print(DIAGNOSTIC_CATEGORY)

        PATIENT_ID  VISIT_ID DIAGNOSIS_TYPE  DIAGNOSIS_NO    DIAGNOSIS_CODE  \
0         04003500         2              2             1           261  01
1         04003500         2              3             1           307.101
2         04003500         2              3             2           273.801
3         04003500         2              3             3           280  01
4         04010720         1              5             1           799.402
5         04010720         1              6             1           567.905
6         04007153         1              1             1  070.901+573.106*
7         04007153         1              2             1  070.901+573.106*
8         04007153         1              3             1           155.201
9         04017543         1              1             1           162.901
10        04017543         1              2             1           793.101
11        04017543         1              3             1           793.101
12        04009395         1              1             1           155.201
13        04009395         1              2             1           155.201
14        04009395         1              3             1           155.201
15        04004782         1              1             1           150.401
16        04004782         1              2             1           150.401
17        04004782         1              2             2           151.001
18        04004782         1              3             1           150.401
19        04004782         1              3             2           151.001
20        04004782         1              6             1           998.501
21        04004782         1              8             1          M81400/3
22        04012439         1              1             1           250.002
23        04012439         1              2             1           250.002
24        04012439         1              2             2  250.301+583.803*
25        04012439         1              2             3           585  01
26        04012439         1              3             1           250.002
27        04012439         1              3             2  250.301+583.803*
28        04012439         1              3             3           585  01
29        04013646         1              1             1           174.901
...            ...       ...            ...           ...               ...
1180013    4802412         2              A             2           K52.904
1180014    4802412         2              A             3           I10  06
1180015    4802412         2              A             4           I21.902
1180016    4802412         2              A             5           K31.825
1180017    4032432         1              2             7           M19.992
1180018    4032432         1              2             8           Z48.901
1180019    4032432         1              2             9           I10  04
1180020    4032432         1              3             1           S72.004
1180021    4032432         1              A             1           S32.401
1180022    4032432         1              A             2           T09.302
1180023    4032432         1              A             3           S89.901
1180024    4032432         1              A             4           M50.221
1180025    4032432         1              A             5           M47.991
1180026    4032432         1              A             6           M19.992
1180027    4032432         1              A             7           Z48.901
1180028    4032432         1              A             8           I10  04
1180029    4032432         1              7             1           W19.901
1180030    4469763         3              2             2           I10  05
1180031    4469763         3              3             1           T30.001
1180032    4469763         3              A             1           I10  05
1180033    4469763         3              7             1           X12.901
1180034    4290249        10              1             1           L89.901
1180035    4290249        10              2             1           L89.901
1180036    4290249        10              2             2           G40.803
1180037    4290249        10              2             3           R40.201
1180038    4290249        10              2             4           I10  03
1180039    4290249        10              2             5           Z93.001
1180040    4290249        10              3             1           L89.901
1180041    4290249        10              A             1           G40.803
1180042    4290249        10              A             2           R40.201

         CODE_NO
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
5            NaN
6            NaN
7            NaN
8            NaN
9            NaN
10           NaN
11           NaN
12           NaN
13           NaN
14           NaN
15           NaN
16           NaN
17           NaN
18           NaN
19           NaN
20           NaN
21           NaN
22           NaN
23           NaN
24           NaN
25           NaN
26           NaN
27           NaN
28           NaN
29           NaN
...          ...
1180013      1.0
1180014      1.0
1180015      1.0
1180016      1.0
1180017      1.0
1180018      1.0
1180019      1.0
1180020      1.0
1180021      1.0
1180022      1.0
1180023      1.0
1180024      1.0
1180025      1.0
1180026      1.0
1180027      1.0
1180028      1.0
1180029      1.0
1180030      1.0
1180031      1.0
1180032      1.0
1180033      1.0
1180034      1.0
1180035      1.0
1180036      1.0
1180037      1.0
1180038      1.0
1180039      1.0
1180040      1.0
1180041      1.0
1180042      1.0

[1180043 rows x 6 columns]

d:\programdata\anaconda3\envs\tensorflow\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [55]:
#step6 I50.903(心功能Ⅲ级)
alist=['I50.903']
DIAGNOSTIC_CATEGORY[DIAGNOSTIC_CATEGORY['DIAGNOSIS_CODE'].isin(alist)]

,PATIENT_ID,VISIT_ID,DIAGNOSIS_TYPE,DIAGNOSIS_NO,DIAGNOSIS_CODE,CODE_NO
241510,04064208,17,2,3,I50.903,1.0
241516,04064208,17,3,3,I50.903,1.0
241722,04457799,1,A,2,I50.903,1.0
241846,04230295,1,A,4,I50.903,1.0
241961,04115848,7,A,3,I50.903,1.0
242292,04327447,2,A,2,I50.903,1.0
243026,06000110,2,A,2,I50.903,1.0
243656,04113358,4,A,2,I50.903,NaN
244011,04139790,2,2,3,I50.903,1.0
244016,04139790,2,3,3,I50.903,1.0
244296,06003511,12,A,4,I50.903,1.0
245451,04038438,1,A,3,I50.903,1.0
245562,04261226,9,A,2,I50.903,1.0
246204,04448266,1,3,7,I50.903,1.0
247646,04182613,7,3,4,I50.903,NaN
247861,04007436,3,2,4,I50.903,1.0
247867,04007436,3,3,4,I50.903,1.0
248730,04096677,7,A,3,I50.903,1.0
248785,04067913,3,A,3,I50.903,1.0
249121,04246896,7,A,2,I50.903,1.0
249721,04043236,2,A,3,I50.903,1.0
250186,04459768,1,A,3,I50.903,1.0
250469,04008873,1,A,1,I50.903,1.0
250473,04080559,2,A,2,I50.903,1.0
250808,04270311,6,A,3,I50.903,1.0
251511,04131572,1,A,4,I50.903,1.0
251972,04184803,3,3,4,I50.903,NaN
252730,04076417,13,3,3,I50.903,NaN
252811,04270289,1,2,3,I50.903,NaN
252814,04270289,1,3,3,I50.903,NaN
...,...,...,...,...,...,...
1159913,04124982,21,2,3,I50.903,1.0
1159918,04124982,21,A,2,I50.903,1.0
1162570,04105681,2,A,4,I50.903,1.0
1163730,02001173,1,A,2,I50.903,1.0
1164797,04991113,1,2,2,I50.903,1.0
1164799,04991113,1,A,1,I50.903,1.0
1165095,04794971,7,A,5,I50.903,1.0
1166438,04247389,8,A,6,I50.903,1.0
1166514,04911846,6,A,3,I50.903,1.0
1167601,04356423,4,A,3,I50.903,1.0
1167648,04901388,31,A,2,I50.903,1.0
1169950,04018006,12,A,3,I50.903,1.0
1170070,04446786,15,2,7,I50.903,1.0
1170735,04998442,1,2,3,I50.903,1.0
1170739,04998442,1,A,2,I50.903,1.0
1170791,04809992,7,A,5,I50.903,1.0
1171312,04064576,7,A,5,I50.903,1.0
1173599,04064576,9,A,5,I50.903,1.0
1173944,04064576,8,A,5,I50.903,1.0
1174792,04951077,2,2,2,I50.903,1.0
1174796,04951077,2,A,1,I50.903,1.0
1174884,04124982,19,2,3,I50.903,1.0
1174890,04124982,19,A,2,I50.903,1.0
1175036,04986217,1,2,3,I50.903,1.0
1175041,04986217,1,A,2,I50.903,1.0
1175053,04447022,8,A,4,I50.903,1.0
1175244,04068302,11,A,4,I50.903,1.0
1175604,04867494,3,A,4,I50.903,1.0
1176411,04168292,17,2,4,I50.903,1.0
1176418,04168292,17,A,3,I50.903,1.0

In [56]:
#重定义
test = DIAGNOSTIC_CATEGORY[DIAGNOSTIC_CATEGORY['DIAGNOSIS_CODE'].isin(alist)]
print(test)

        PATIENT_ID  VISIT_ID DIAGNOSIS_TYPE  DIAGNOSIS_NO DIAGNOSIS_CODE  \
241510    04064208        17              2             3        I50.903
241516    04064208        17              3             3        I50.903
241722    04457799         1              A             2        I50.903
241846    04230295         1              A             4        I50.903
241961    04115848         7              A             3        I50.903
242292    04327447         2              A             2        I50.903
243026    06000110         2              A             2        I50.903
243656    04113358         4              A             2        I50.903
244011    04139790         2              2             3        I50.903
244016    04139790         2              3             3        I50.903
244296    06003511        12              A             4        I50.903
245451    04038438         1              A             3        I50.903
245562    04261226         9              A             2        I50.903
246204    04448266         1              3             7        I50.903
247646    04182613         7              3             4        I50.903
247861    04007436         3              2             4        I50.903
247867    04007436         3              3             4        I50.903
248730    04096677         7              A             3        I50.903
248785    04067913         3              A             3        I50.903
249121    04246896         7              A             2        I50.903
249721    04043236         2              A             3        I50.903
250186    04459768         1              A             3        I50.903
250469    04008873         1              A             1        I50.903
250473    04080559         2              A             2        I50.903
250808    04270311         6              A             3        I50.903
251511    04131572         1              A             4        I50.903
251972    04184803         3              3             4        I50.903
252730    04076417        13              3             3        I50.903
252811    04270289         1              2             3        I50.903
252814    04270289         1              3             3        I50.903
...            ...       ...            ...           ...            ...
1159913   04124982        21              2             3        I50.903
1159918   04124982        21              A             2        I50.903
1162570   04105681         2              A             4        I50.903
1163730   02001173         1              A             2        I50.903
1164797   04991113         1              2             2        I50.903
1164799   04991113         1              A             1        I50.903
1165095   04794971         7              A             5        I50.903
1166438   04247389         8              A             6        I50.903
1166514   04911846         6              A             3        I50.903
1167601   04356423         4              A             3        I50.903
1167648   04901388        31              A             2        I50.903
1169950   04018006        12              A             3        I50.903
1170070   04446786        15              2             7        I50.903
1170735   04998442         1              2             3        I50.903
1170739   04998442         1              A             2        I50.903
1170791   04809992         7              A             5        I50.903
1171312   04064576         7              A             5        I50.903
1173599   04064576         9              A             5        I50.903
1173944   04064576         8              A             5        I50.903
1174792   04951077         2              2             2        I50.903
1174796   04951077         2              A             1        I50.903
1174884   04124982        19              2             3        I50.903
1174890   04124982        19              A             2        I50.903
1175036   04986217         1              2             3        I50.903
1175041   04986217         1              A             2        I50.903
1175053   04447022         8              A             4        I50.903
1175244   04068302        11              A             4        I50.903
1175604   04867494         3              A             4        I50.903
1176411   04168292        17              2             4        I50.903
1176418   04168292        17              A             3        I50.903

         CODE_NO
241510       1.0
241516       1.0
241722       1.0
241846       1.0
241961       1.0
242292       1.0
243026       1.0
243656       NaN
244011       1.0
244016       1.0
244296       1.0
245451       1.0
245562       1.0
246204       1.0
247646       NaN
247861       1.0
247867       1.0
248730       1.0
248785       1.0
249121       1.0
249721       1.0
250186       1.0
250469       1.0
250473       1.0
250808       1.0
251511       1.0
251972       NaN
252730       NaN
252811       NaN
252814       NaN
...          ...
1159913      1.0
1159918      1.0
1162570      1.0
1163730      1.0
1164797      1.0
1164799      1.0
1165095      1.0
1166438      1.0
1166514      1.0
1167601      1.0
1167648      1.0
1169950      1.0
1170070      1.0
1170735      1.0
1170739      1.0
1170791      1.0
1171312      1.0
1173599      1.0
1173944      1.0
1174792      1.0
1174796      1.0
1174884      1.0
1174890      1.0
1175036      1.0
1175041      1.0
1175053      1.0
1175244      1.0
1175604      1.0
1176411      1.0
1176418      1.0

[2139 rows x 6 columns]

In [57]:
#筛选出频率第一疾病的实际患病人数 9130人
DF = test['PATIENT_ID'].unique()   
#转格式
SS = Series(DF)
SS

0      04064208
1      04457799
2      04230295
3      04115848
4      04327447
5      06000110
6      04113358
7      04139790
8      06003511
9      04038438
10     04261226
11     04448266
12     04182613
13     04007436
14     04096677
15     04067913
16     04246896
17     04043236
18     04459768
19     04008873
20     04080559
21     04270311
22     04131572
23     04184803
24     04076417
25     04270289
26     04250691
27     04058472
28     04053298
29     04027887
         ...
869    04470899
870    04861605
871    04856345
872    04875765
873    04874406
874    04039109
875    02003423
876    04995974
877    04978863
878    04967025
879    04044839
880    04190597
881    04992536
882    04996103
883    04922589
884    04428030
885    04735829
886    04973034
887    04067470
888    04901388
889    04124723
890    04995335
891    04139503
892    04105681
893    02001173
894    04991113
895    04247389
896    04998442
897    04809992
898    04986217
Length: 899, dtype: object

In [58]:
#病人ID
DF

array(['04064208', '04457799', '04230295', '04115848', '04327447',
       '06000110', '04113358', '04139790', '06003511', '04038438',
       '04261226', '04448266', '04182613', '04007436', '04096677',
       '04067913', '04246896', '04043236', '04459768', '04008873',
       '04080559', '04270311', '04131572', '04184803', '04076417',
       '04270289', '04250691', '04058472', '04053298', '04027887',
       '04271316', '04092287', '04255804', '08000333', '08000092',
       '04079346', '04203223', '04270955', '04236803', '04261440',
       '08000598', '04189207', '04017129', '04189463', '04285667',
       '04002377', '04193523', '04005101', '04118138', '04241198',
       '04321405', '04322229', '04298406', '04057583', '04183497',
       '04034755', '04376143', '04309988', '04358905', '04122451',
       '06000807', '04003497', '04250061', '04285152', '04333009',
       '04061469', '04027711', '04023499', '08000325', '04150940',
       '04045250', '04287124', '04315160', '04055334', '04355408',
       '04064210', '04025484', '04067924', '04294408', '04047804',
       '04189474', '04001373', '04310217', '04082473', '04142346',
       '04051252', '04158828', '04197806', '04183255', '04333521',
       '04334855', '04341671', '04087648', '04039119', '04100819',
       '04358165', '04196651', '04032188', '06000074', '04060014',
       '04268583', '08000489', '04266551', '06001260', '04262249',
       '04013598', '04263317', '04015538', '04019756', '08000607',
       '04016094', '04046772', '04298147', '04201888', '04078213',
       '04414605', '04096971', '04208446', '04003072', '04077673',
       '04267606', '04107812', '04098712', '04023733', '04000220',
       '04043329', '04391016', '04038590', '04205305', '04329259',
       '04405356', '04368201', '04401556', '04402161', '04377268',
       '04210341', '04351841', '04367866', '04280806', '04046513',
       '04243940', '04031394', '04364669', '04387909', '04371459',
       '04344971', '04392998', '04374553', '04370742', '04322532',
       '04223616', '04343114', '08000254', '04340291', '04210758',
       '04331087', '04331797', '04109258', '04124426', '04002789',
       '04031576', '04326500', '04095727', '04068170', '04045268',
       '04231592', '04280518', '04276723', '04280294', '04311225',
       '04000485', '04309135', '04027721', '04009062', '04275513',
       '04277427', '08000463', '04239718', '04289301', '04080779',
       '04067634', '08000452', '04236275', '04422673', '04159635',
       '04433367', '04009806', '04410888', '04418232', '04422604',
       '04063558', '04410216', '04052050', '04163972', '08000772',
       '04025700', '04240353', '08000388', '04075749', '08000639',
       '04005377', '04260592', '04098905', '04009197', '04010458',
       '06000760', '04275226', '04128799', '04447761', '04005579',
       '04133417', '04068605', '04073537', '04199734', '04423931',
       '04445377', '04131327', '04450387', '04437782', '04444847',
       '04438569', '04470408', '04230280', '08000377', '09000772',
       '04247786', '04416417', '04571243', '04142833', '04591638',
       '04119934', '04109792', '04000568', '04358938', '04484349',
       '04551925', '04428378', '04001354', '04482243', '04438481',
       '08000550', '04530958', '04535132', '08000093', '04098211',
       '04344841', '04553384', '04520989', '04529876', '04162957',
       '04536955', '08000605', '04211866', '04106754', '04156378',
       '04056273', '04194584', '04152593', '04518436', '04227210',
       '04044328', '04439703', '04194494', '04155497', '08000132',
       '04064375', '04137817', '08000332', '04446786', '04033187',
       '04662716', '04029972', '04138651', '04035669', '04014974',
       '04075218', '04598279', '06000797', '04052406', '04088927',
       '04640278', '04635017', '08000221', '04627014', '04648003',
       '04612262', '04357738', '04607609', '04010474', '04529258',
       '04001852', '04001841', '04132384', '04059602', '04608633',
       '04599597', '04599199', '04608396', '04623852', '04609624',
       '04222411', '04502774', '04622484', '04622295', '04614415',
       '04075102', '04599687', '04006120', '04604316', '06000557',
       '04449797', '04279608', '04465585', '04256301', '08000780',
       '04093737', '04002544', '04448708', '08001129', '04072612',
       '04003646', '04447691', '04001734', '04295064', '04047573',
       '04476765', '04117940', '04349611', '04054619', '04554284',
       '04474062', '04552854', '04537686', '04204569', '08000195',
       '04014028', '04554287', '04476406', '04406939', '04550970',
       '04573842', '04153262', '04493954', '04585105', '04077953',
       '04161907', '04254890', '04000441', '08000501', '04750970',
       '04696102', '04748067', '04681828', '04060569', '04703214',
       '04161363', '04743043', '04485568', '04155793', '04510067',
       '04212635', '04213913', '09001230', '04239591', '04523157',
       '04712889', '04467672', '04366782', '04257457', '04029446',
       '04125511', '04313331', '04471808', '04484185', '04256291',
       '04044818', '04290399', '04383258', '04503041', '04488399',
       '04029527', '04061110', '04493913', '04522273', '04482557',
       '04686366', '04761237', '04570209', '06003209', '04041202',
       '04737894', '04693013', '04757845', '04727680', '04106429',
       '04089793', '04127251', '04083890', '04025270', '04068266',
       '04460669', '04696356', '04481159', '04182165', '04023951',
       '04616315', '08000052', '04590490', '04613232', '04203745',
       '04099109', '04574452', '04610320', '04383999', '04593819',
       '04597526', '04355539', '04083818', '04584869', '04592111',
       '04607295', '04494223', '04028325', '04136244', '04505311',
       '04146428', '04065508', '04108846', '04275796', '04481325',
       '04075687', '04500629', '04511572', '04458927', '04290239',
       '04232750', '04516941', '04597987', '04000808', '04449865',
       '04570418', '04121061', '04579629', '04583543', '04408625',
       '04591089', '04424969', '04031724', '04052988', '04767828',
       '04677533', '04081790', '04762933', '04015521', '04721933',
       '04465752', '04671062', '04625449', '04018006', '04450837',
       '04618214', '04536535', '04571064', '04067939', '04641365',
       '04671187', '04419428', '04077313', '04521057', '04516586',
       '04522575', '04253050', '04275741', '04500101', '04250250',
       '04008747', '04093206', '04493311', '04047599', '04115653',
       '04181183', '04534733', '04047287', '04063899', '04537430',
       '04786022', '04660991', '04360675', '04101246', '04463916',
       '04087428', '04543864', '04563880', '04343870', '04807437',
       '04846962', '04845725', '04845213', '04829398', '04309520',
       '04260114', '08000765', '04411010', '04203973', '04105692',
       '04593715', '04190255', '04002794', '04179396', '04043448',
       '04094552', '04456460', '08000255', '04349064', '04172697',
       '04272867', '04681312', '04080801', '04556500', '04534096',
       '04106993', '04703282', '04608334', '04354919', '04661824',
       '04709479', '04057535', '04504125', '04186313', '04827052',
       '04529658', '04858426', '04861299', '04857384', '04717295',
       '04861865', '04203853', '04856611', '04862665', '04019106',
       '04207740', '04807801', '04185058', '04447022', '04856848',
       '07001578', '04067594', '08000521', '04200450', '04173175',
       '04478581', '04044537', '04133052', '04765938', '04213909',
       '04770549', '04376695', '04040100', '04024950', '04720398',
       '04234089', '04080134', '04061573', '04677790', '04167499',
       '04806433', '04366450', '04381575', '04829860', '04813948',
       '04067940', '04796353', '04680439', '04770222', '04095455',
       '04725499', '04801842', '04005269', '04052334', '04871101',
       '04120899', '04269654', '04681928', '04875862', '04354488',
       '04673905', '04028720', '04196811', '08001377', '04340007',
       '04643520', '04063005', '04004059', '04085168', '04075793',
       '04531212', '04837076', '04365121', '04695794', '04356423',
       '04393319', '04207998', '04230308', '04477044', '04337200',
       '04900177', '04068775', '04169993', '04192288', '04086935',
       '04075591', '04065274', '04005939', '04776929', '04904523',
       '04200845', '04681947', '04044844', '04819802', '04662667',
       '04163414', '04794919', '04721781', '04629147', '04780941',
       '04170049', '08001219', '04457844', '04364188', '04172359',
       '04771311', '04602425', '04354177', '04189251', '04350316',
       '04746583', '04609571', '04112631', '04006906', '06003834',
       '04604443', '04101895', '04103197', '04145349', '04640421',
       '04144508', '04205175', '04669319', '04712256', '04573618',
       '04466144', '04643884', '04033825', '04822476', '04761189',
       '04711551', '04067728', '08000561', '04743182', '04291506',
       '04246725', '04508280', '04132294', '04083653', '04085403',
       '04922891', '04846482', '04059306', '04124982', '04274674',
       '04649455', '04193191', '04894291', '04194225', '04291595',
       '04053568', '04502773', '04287729', '04676158', '04621916',
       '04752813', '04707029', '04331304', '04219605', '04775996',
       '04753750', '04753497', '04737842', '04230829', '04752123',
       '04899293', '04133205', '04432957', '04017581', '04096569',
       '04008471', '04729394', '04952480', '04442951', '04904796',
       '04461599', '04860907', '04064576', '04404843', '04973218',
       '04624429', '04136717', '04726326', '04099960', '04887946',
       '04067570', '04876026', '04004656', '04251201', '04936311',
       '04274906', '04652693', '04551769', '04819322', '04883130',
       '04097724', '04102474', '04059706', '04370049', '04905862',
       '04911426', '04450430', '04792834', '04668461', '04102515',
       '04538496', '04543921', '04207546', '04068302', '04862458',
       '04026333', '04952725', '04905593', '04780254', '04595957',
       '04835912', '04911846', '04951992', '04531240', '04965798',
       '04422397', '04481375', '04017569', '04867494', '08000596',
       '04983122', '04666822', '04973863', '04920113', '04962562',
       '04864573', '04749932', '04977113', '04091644', '04033155',
       '04974724', '04867486', '04936297', '04366449', '04082671',
       '08000289', '04945290', '04938796', '04940356', '04938722',
       '04860750', '04926212', '04140412', '04915099', '04132791',
       '04661936', '04864555', '04895736', '04883576', '04225786',
       '04706817', '04857436', '04912392', '04925734', '231508',
       '04061369', '04133166', '04570015', '04794971', '04885500',
       '04792283', '04608275', '04951861', '04021230', '04897523',
       '06000713', '04930992', '04100279', '04753870', '04129447',
       '04039205', '04816636', '04101581', '04958575', '04168292',
       '04723477', '04008472', '04130711', '04083752', '04982756',
       '04944138', '04001949', '07027522', '04987260', '04052248',
       '04060439', '04076964', '04609829', '04130660', '04951077',
       '08000697', '04262458', '04674972', '04854400', '04845210',
       '09001141', '04880940', '04032268', '04551993', '04329581',
       '04719991', '04323970', '04750777', '04114389', '04934837',
       '04203746', '04784114', '04597533', '04063858', '04928888',
       '04073529', '04933244', '04392806', '04890208', '04894719',
       '04895282', '04837615', '04151143', '04047779', '06001302',
       '04944713', '04062241', '04862406', '04842380', '04952269',
       '04919761', '04441758', '04895521', '04868143', '04971284',
       '04435492', '04938243', '04023913', '04046991', '04876633',
       '04649029', '04002272', '04922530', '04928734', '04470899',
       '04861605', '04856345', '04875765', '04874406', '04039109',
       '02003423', '04995974', '04978863', '04967025', '04044839',
       '04190597', '04992536', '04996103', '04922589', '04428030',
       '04735829', '04973034', '04067470', '04901388', '04124723',
       '04995335', '04139503', '04105681', '02001173', '04991113',
       '04247389', '04998442', '04809992', '04986217'], dtype=object)

In [59]:
# 9.4 表 诊断记录  预处理后
PAT_DATA = pd.read_csv('F:/data/input/就诊日期.tsv', sep='\t')
PAT_DATA

        PATIENT_ID DIAGNOSIS_DATE
0         08000598      07-6月 -00
1         08000598      17-6月 -00
2         08000279      10-6月 -00
3         08000279      10-6月 -00
4         08000279      10-6月 -00
5         08000279      10-6月 -00
6         08000279      10-6月 -00
7         08000279      10-6月 -00
8         04012492      25-7月 -00
9         06001257      29-6月 -00
10        06001257      29-6月 -00
11        06001257      29-6月 -00
12        06001257      29-6月 -00
13        06001257      29-6月 -00
14        06001257      29-6月 -00
15        06001257      29-6月 -00
16        04012492      25-7月 -00
17        04004716      25-7月 -00
18        07002615      04-6月 -00
19        07002615      04-6月 -00
20        07002615      04-6月 -00
21        04005889      16-6月 -00
22        04010327      30-6月 -00
23        04010327      30-6月 -00
24        04010327      30-6月 -00
25        04010327      30-6月 -00
26        04007457      17-5月 -00
27        04007457      17-5月 -00
28        04007457      17-5月 -00
29        04010327      30-6月 -00
...            ...            ...
1178315   04191992      19-12月-17
1178316   08000519      05-12月-17
1178317   08000519      05-12月-17
1178318   08000519      05-12月-17
1178319   08000519      05-12月-17
1178320   08000519      05-12月-17
1178321   08000519      05-12月-17
1178322   08000519      05-12月-17
1178323   08000519      05-12月-17
1178324   08000519      05-12月-17
1178325   08000519      24-12月-17
1178326   08000519      26-12月-17
1178327   04965945      25-12月-17
1178328   04699201      06-11月-17
1178329   04699201      06-11月-17
1178330   04699201      06-11月-17
1178331   04699201      06-11月-17
1178332   04699201      06-11月-17
1178333   04699201      06-11月-17
1178334   04699201      06-11月-17
1178335   04699201      06-11月-17
1178336   04699201      06-11月-17
1178337   04699201      06-11月-17
1178338   04699201      06-11月-17
1178339   04699201      06-11月-17
1178340   04699201      06-11月-17
1178341   04699201      06-11月-17
1178342   04699201      06-11月-17
1178343   04699201      06-11月-17
1178344   04699201      06-11月-17

[1178345 rows x 2 columns]

In [60]:
DATA_count = PAT_DATA[PAT_DATA['PATIENT_ID'].isin(DF)]
DATA_count

        PATIENT_ID DIAGNOSIS_DATE
0         08000598      07-6月 -00
1         08000598      17-6月 -00
139       04008472      30-6月 -00
140       04008472      30-6月 -00
157       06000797      30-4月 -00
158       06000797      30-4月 -00
159       06000797      30-4月 -00
160       06000797      30-4月 -00
161       06000797      30-4月 -00
162       06000797      30-4月 -00
299       08000550      11-5月 -00
300       08000550      11-5月 -00
301       08000550      11-5月 -00
316       04005269      05-6月 -00
317       04005269      05-6月 -00
318       04005269      05-6月 -00
319       04005269      05-6月 -00
320       04005269      05-6月 -00
388       04032188      24-5月 -00
389       04032188      24-5月 -00
390       04032188      24-5月 -00
391       04032188      24-5月 -00
392       04032188      24-5月 -00
452       04008472      22-5月 -00
454       04008472      22-5月 -00
459       04008472      22-5月 -00
540       04032188      09-6月 -00
544       04032188      09-6月 -00
552       04032188      09-6月 -00
555       04032188      09-6月 -00
...            ...            ...
1176823   04901388      25-12月-17
1176824   04901388      25-12月-17
1176825   04901388      25-12月-17
1176826   04901388      25-12月-17
1176827   04901388      25-12月-17
1176828   04901388      25-12月-17
1176829   04901388      25-12月-17
1176830   04901388      25-12月-17
1176831   04901388      25-12月-17
1176832   04901388      25-12月-17
1176833   04901388      25-12月-17
1176834   04901388      25-12月-17
1176865   04168292      21-12月-17
1176866   04168292      21-12月-17
1176867   04168292      21-12月-17
1176868   04168292      21-12月-17
1176869   04168292      21-12月-17
1176870   04168292      21-12月-17
1176871   04168292      21-12月-17
1176872   04168292      21-12月-17
1176873   04168292      21-12月-17
1176874   04168292      21-12月-17
1176875   04168292      21-12月-17
1176876   04168292      21-12月-17
1176877   04168292      21-12月-17
1176878   04168292      21-12月-17
1176879   04168292      21-12月-17
1177225   04680439      27-4月 -18
1177284   04065508      24-4月 -18
1177441   04039109      11-4月 -18

[51352 rows x 2 columns]

In [61]:
PAT_NO_SAME_1 = DATA_count.drop_duplicates(['PATIENT_ID'],'last')
PAT_NO_SAME_1

        PATIENT_ID DIAGNOSIS_DATE
291113    04329259      02-11月-10
291625    04243940      23-9月 -10
292682    04392998      16-10月-10
297144    04270289      23-12月-08
304575    04000485      27-7月 -09
304852    04080779      26-5月 -09
306186    04309135      18-7月 -09
308621    04271316      30-12月-08
314187    04087648      02-2月 -10
320935    04331087      04-12月-09
321857    04331797      27-11月-09
322163    04109258      03-11月-09
322423    04158828      10-12月-09
326401    04321405      06-10月-09
328526    04322229      08-10月-09
339252    04280294      18-3月 -09
339648    08000607      26-3月 -09
345024    04294408      04-5月 -09
345152    04270955      01-2月 -09
345298    04276723      23-2月 -09
345512    08000452      12-5月 -09
345685    04275513      12-2月 -09
348333    04322532      01-6月 -10
348471    04358165      18-5月 -10
351986    04355408      04-5月 -10
352392    04309988      15-5月 -10
352606    04047804      31-3月 -10
356291    04003497      19-5月 -10
359013    04250691      24-6月 -08
362652    04236803      09-8月 -08
...            ...            ...
1173666   04136717      21-3月 -18
1174028   08000598      11-12月-17
1174081   08000596      01-12月-17
1174384   04045250      27-12月-17
1174434   04439703      24-1月 -18
1174475   04986217      14-12月-17
1174483   04447022      16-12月-17
1174685   04442951      13-12月-17
1175360   04938722      18-2月 -18
1175391   04874406      28-3月 -18
1175480   04250061      13-12月-17
1175598   04481375      13-12月-17
1175813   04124723      08-2月 -18
1175829   04995335      03-2月 -18
1175851   04247389      30-1月 -18
1175879   04046991      10-1月 -18
1175950   04102474      13-11月-17
1176084   08000501      17-4月 -18
1176088   04067913      23-4月 -18
1176143   04124982      13-12月-17
1176184   04034755      24-12月-17
1176467   04478581      07-1月 -18
1176547   04058472      09-3月 -18
1176564   04000808      10-3月 -18
1176653   04207740      02-4月 -18
1176834   04901388      25-12月-17
1176879   04168292      21-12月-17
1177225   04680439      27-4月 -18
1177284   04065508      24-4月 -18
1177441   04039109      11-4月 -18

[899 rows x 2 columns]

In [62]:
PAT_NO_SAME_1.to_csv("F:/data/output/心6_就诊日期_信息.tsv")